@font-face {
    font-family: 'MICR Encoding';
    src: url('../fonts/micrenc_0.ttf');
}
#top-nav .brand {
    line-height: 35px !important;
}
.flagAlign{
    padding: 21px 10px;
}
.pos{
    position: relative;
    padding-left: 10px;
}
.logoPosition{
    padding-left: 10px;
}

.paddingLayout {
    padding: 20px;
}

#top-nav{
    height: 70px !important;
}


#main-container {
    padding-top: 73px !important;
}

aside {
    padding-top: 73px !important;
}

#top-nav .nav-notification>li>a {
    padding: 26px 15px !important;
}

.panel.panel-default .panel-heading {
    background: #495b6c !important;
    color: #fff !important;
    border-color: #2b333c !important;
    margin-top: -10px !important;
}

.hideNum { 
    -webkit-text-security: square; 
}

.center {
    margin: auto;
    width: 50%;
    position: relative; 
}

.acctNumCss { 
   position: absolute; 
   top: 15px; 
   left: 30px; 
   width: 100%; 
   color: #000;
   font-family: "Times New Roman";
   font-size: 11px;
}

.checkNumCss { 
   position: absolute; 
   top: 15px; 
   left: 175px; 
   width: 100%; 
   color: #000;
   font-family: "Times New Roman";
   font-size: 11px;
}

.bankNameCss { 
   position: absolute; 
   top: 117px; 
   left: 70px; 
   width: 100%; 
   color: #000;
   font-family: "Times New Roman";
}

.dateCss { 
   position: absolute; 
   top: 20px; 
   left: 295px; 
   width: 100%; 
   font-family: "Times New Roman";
   color: #000;
   font-size: 12px;
}


.abaRoutingCss { 
   position: absolute; 
   top: 160px; 
   left: 35px; 
   width: 100%; 
   font-family: "MICR Encoding";
   color: #000;
   font-weight: 900;
   font-size: 18px;
}

/*.navbar.navbar-fixed-top {
    margin-top: 50px !important;
}*/

.topnav {
    background-color: #3A526A;
    color: #fff !important;
    overflow: hidden;
    height: 50px;
}

.topnav a {
    color: #fff !important;
}

.topNavCustom{
    font-size: 12px;
    padding-top: 15px;
    padding-left: 80px;
    list-style-type: none;
}

.floatBtn{
    float: right;
    margin-right: 65px;
    margin-top: -6px;
}

.btn.btn-login {
    background: #789251;
    border: 1px solid #d8eebb;
}

/*Paragraph Line Limit*/
.lineLimit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

/*footer color*/
.footerColor {
    background: #1a2531;
    height: inherit;
    padding-top: 20px;
}

/*Carousel Margin*/
.carousel {
    position: relative;
    margin-top: 81px;
}

/*Input type Hidden*/
.hideInput {
    display: none !important;
}

/*Verify Password*/
.verifyPass {
    float: right;
    margin-top: -35px;
    padding: 10px
}

/*Avatar Border*/
.avatar-border {
    border: 1px solid #ccc !important;
    padding: 4px;
    width: 50%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.id-border {
    border: 1px solid #ccc !important;
    padding: 4px;
    width: 75%
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.avatar-container {
    padding: 0.01em 16px;
}

.img-container {
    position: relative;
}

    .img-container:hover .avatar-border {
        opacity: 0.3;
    }

    .img-container:hover .middle {
        opacity: 1;
    }



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2) {

    
}

/* Portrait */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation: portrait) {

    .btn.btn-login {
        margin-top: -5px;
        margin-left: 50px;
    }

    .topNavCustom {
        display: none;
    }
        #top-nav .navbar-toggle {
            margin: 20px 0 0;
        }
}

/* Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation: landscape) {

    .btn.btn-login {
        margin-top: -23px;
        margin-left: 15px;
    }
}

/* =Elements style
---------------------- */
.load-wrapp {
    /*float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;*/
    text-align: center;
    background-color: rgba(0,0,0,0);
}

    .load-wrapp p {
        padding: 0 0 20px;
    }

    .load-wrapp:last-child {
        margin-right: 0;
    }

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282B3;
}

.letter-holder {
    padding: 16px;
}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {
    animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
    animation: loadingA 1.5s .5s infinite;
}

.load-1 .line:nth-last-child(3) {
    animation: loadingA 1.5s 0s infinite;
}

.load-2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
    animation: loadingB 1.5s .5s infinite;
}

.load-2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
}
.load-3 {
    padding-bottom: 10px;
}
.load-3 .line:nth-last-child(1) {
    animation: loadingC .6s .1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC .6s .2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC .6s .3s linear infinite;
}

.load-4 .ring-1 {
    animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;
}

.load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {
    animation-delay: .48s;
}

.l-2 {
    animation-delay: .6s;
}

.l-3 {
    animation-delay: .72s;
}

.l-4 {
    animation-delay: .84s;
}

.l-5 {
    animation-delay: .96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

.load-7 .square {
    animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
}

.load-8 .line {
    animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
}

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1, .load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
    animation-delay: -1.0s;
}

.load-10 .bar {
    animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;
}

@keyframes loadingA {
    0 {
        height: 15px;
    }

    50% {
        height: 35px;
    }

    100% {
        height: 15px;
    }
}

@keyframes loadingB {
    0 {
        width: 15px;
    }

    50% {
        width: 35px;
    }

    100% {
        width: 15px;
    }
}

@keyframes loadingC {
    0 {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0,15px);
    }

    100% {
        transform: translate(0,0);
    }
}

@keyframes loadingD {
    0 {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingE {
    0 {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loadingG {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    50% {
        transform: translate(70px,0) rotate(360deg);
    }

    100% {
        transform: translate(0,0) rotate(0deg);
    }
}

@keyframes loadingH {
    0% {
        width: 15px;
    }

    50% {
        width: 35px;
        padding: 4px;
    }

    100% {
        width: 15px;
    }
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
    }
}

@keyframes loadingJ {
    0%,100% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(80px,0);
        background-color: #f5634a;
        width: 25px;
    }
}
.banner-font {
    color: white !important;
    text-shadow: 1px 1px 8px #000 !important;
    font-size: 40px !important;
}
.banner-color {
    color: white !important;
    text-shadow: 1px 1px 8px #000 !important;
    font-size: 20px !important;
}