﻿
<h3>Product Details</h3>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd>
            {{Product.Name}}
        </dd>

        <dt>
            Group:
        </dt>

        <dd>
            {{Product.Category}}
        </dd>

        <dt>
            Price:
        </dt>
        <dd>{{Product.Price}}</dd>
        <dt>
            Description
        </dt>
        <dd>{{Product.Description}}</dd>

    </dl>





    <a ui-sref="edit({id:product.Id})">Edit</a>
</div>