﻿
<div>
    <h2>Person List</h2>

    <div class="form-group">
        <div class="col-md-6">
            <a ui-sref="edit({id:0})">Add New Person</a>
        </div>
        <div class="col-xs-6 col-md-4" style="padding-bottom:10px;">


            <input id="search" class="form-control text-box single-line" ng-model="query" type="text" placeholder="Search" />

        </div>
    </div>

    <table class="table">
        <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Identification Id</th>
            <th>Nationality</th>
            <th>Gender</th>
            <th>Action</th>

        </tr>
        <tr ng-repeat="person in Persons | filter:query">
            <td>{{person.id}}</td>
            <td>{{person.first_name}}  {{person.last_name}}</td>
            <td>{{person.identification_data}}</td>
            <td>{{person.nationality}}</td>
            <td>{{person.sex}}</td>
            
            
            <td>
                <a ui-sref="details({id:prod.Id})">Details</a> |
                <a ui-sref="delete({id:prod.Id})">Delete</a> |
                <a ui-sref="edit({id:prod.Id})">Edit</a>
            </td>
        </tr>
    </table>

</div>
