﻿<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">Company</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="search-page search-content-4">
    <div class="search-bar bordered">
        <div class="row">
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
                    <span class="input-group-btn">
                        <button class="btn green-soft uppercase bold" type="button" ng-click="load()">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="search-table table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead class="bg-blue">
                <tr>
                    <th>
                        <a href="javascript:;"></a>
                    </th>
                    <th>
                        <a href="javascript:;">Company</a>
                    </th>
                    <th>
                        <a href="javascript:;">Action</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in list">
                    <td>
                        {{l.Id}}
                    </td>
                    <td class="font-blue">
                        {{l.Name}}
                    </td>
                    <td>
                        <a class="btn btn-circle btn-success btn-sm" ng-href="#/company/{{l.Id}}">Open Channels</a>
                        <a class="btn btn-circle btn-success btn-sm" ng-href="#/company/{{l.Id}}">Edit</a>
                        <a class="btn btn-circle btn-danger btn-sm" type="button" ng-click="Delete(l.Id)" href="javascript:"><i  class="fa fa-trash"></i> Delete</a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="search-pagination pagination-rounded">
        <uib-pagination total-items="count" ng-model="PageNo" ng-change="pageChanged()" class="pagination" ></uib-pagination>
    </div>
</div>