﻿@*Forget Password*@

@{ Layout = "~/Views/Shared/_LayoutReset.cshtml"; }
<div growl class="pull-right"></div>
<div ng-controller="CWResetPasswordController">
    <!--Login Page-->

    <div class="login-wrapper">

        <div class="text-center">
            <img src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" style="padding-left:15em !important;">
            <h2 class="fadeInUp" style="font-weight:bold">
                <span class="text-primary">Coop</span> <span style="color:#afafaf; text-shadow:0 1px #fff">eWallet</span>
            </h2>
        </div>
        <div class="login-widget">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Reset Password
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-login">
                        <div class="form-group">
                            <label>Please supply your new password.</label>
                        </div>

                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" placeholder="Password" id="password"class="form-control input-sm" ng-model="password" ng-change="resetFunc()">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" placeholder="Confirm Password" id="confirm_password" class="form-control input-sm" ng-model="confirmpassword" ng-change="resetFunc()">
                            <span class="verifyPass"><i class="fa fa-check fa-lg text-success  passwordMatched" ng-if="password === confirmpassword && password"></i></span>
                            <span class="verifyPass"><i class="fa fa-times fa-lg text-danger passwordUnMatched" ng-if="password !== confirmpassword && confirmpassword "></i></span>
                        </div>
                       

                        <br /><br />
                        <div class="seperator"></div><div class="seperator"></div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <span style="font-size:11px;">Don't have an account?</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <a class="btn btn-default btn-xs login-link" href="@Url.Action("Index", "Registration")" style="margin-top:-2px;"><i class="fa fa-plus-circle"></i> Sign up</a>
                            </div>
                            <hr />
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <hr />
                                <a class="btn btn-primary btn-sm pull-right" ng-click="submitForgetPass();" ><i class="fa fa-sign-in"></i> Save</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
    </div><!-- /login-wrapper -->
</div>