﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Load Wallet</title>
</head>
<body>
    
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-10">
                <div class="form-group">
                    <br />
                    <p class="modal-title">Wallet Recharge</p>
                    <hr class="colorgraph">

                    <label class="themeColor">Bank/Credit Union</label>
                    <select class="form-control themeColor" ng-model="loadin.bankid" ng-change="bankselected();">
                        <option value="">--Bank Name--</option>
                        <option value="1">CHECK21</option>
                        <option value="2">CREDIT CARD</option>
                        <option value="3">EFT</option>
                        <option value="4">CASH LOCATION</option>
                        <option value="5">COOPTAVANZA RL</option>
                        <option value="6">Dummy Load</option>
                    </select>
                </div>
                
                <div ng-if="loadin.bankid ==  1">
                <div>
                    <label class="themeColor">Net Banking ID</label>
                    <input type="text" class="form-control" placeholder="Net Banking ID" ng-model="lw.NetBankingID" />
                </div>
                <div>
                    <label class="themeColor">Password</label>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="password" class="form-control themeColor" placeholder="Password" ng-model="lw.Password" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn-flat btn-flat-color btn-flat-theme" type="button" ng-click="lwAuthenticate()">Authenticate</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div ng-if="loadin.bankid ==  6">
                    <div>
                        <label class="themeColor">Token Number</label>
                        <input type="text" class="form-control" placeholder="Net Banking ID" ng-model="loadin.tokenid" />
                    </div>
                    <div>
                        <label class="themeColor">Pin</label>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <input type="password" class="form-control themeColor" placeholder="Password" ng-model="loadin.userpin" />
                            </div>
                            
                        </div>
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <div class="btn-toolbar">
                            <button class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="close()">Close</button>
                            <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submit();">Submit &nbsp;</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </div>
</body>
</html>
