﻿

<div class="modal-body themeColor" id="modal-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p class="modal-title">Login</p>
            <hr class="colorgraph">


            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputMobile">Mobile Number</label>
                    <input type="tel" name="number" id="phone" class="form-control" id="exampleInputMobile" placeholder="Mobile Number" ng-model="login.mobilenumber" ng-intl-tel-input ng-click="$event.stopPropagation()" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="login.password" ng-click="$event.stopPropagation()" required>
                    <div class="help-block"><a href="">Can't access your account?</a></div>
                </div>
                <div class="form-group">
                    <button type="button" ng-click="$event.stopPropagation();submit()" class="btn btn-danger btn-block">Sign in</button>
                </div>
            </form>

            <div class="text-center">
                New here ? <a href="#" ng-click="openRegistration()"><b>Join Us</b></a>
            </div>
            </div>
        </div>
</div>
