﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mini Statement</title>
</head>
<body>
    <div class="modal-body themeColor" id="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-10">
                <br />
                <p class="modal-title">Mini Statement</p>
                <hr class="colorgraph">

              
                        <div class="panel panel-default">
                            <div class="panel-heading bgcolor">
                                <h4>
                                    Transactions Details
                                </h4>
                                <h4>
                                    Current total Balance: {{totalbalance}}
                                </h4>
                            </div>
                            <table class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th>Serial#</th>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Deposits</th>
                                        <th>Withdrawals</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="statement in statements">
                                        <td>{{statement.id}}</td>
                                        <td>{{statement.dataCreated | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                                        <td>{{statement.description}}</td>
                                        <td>{{statement.deposits}}</td>
                                        <td>{{statement.withdrawals}}</td>
                                        <td>{{statement.balance}}</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-4"></div>
                    <div class="col-xs-12 col-md-8">
                        <div class="btn-toolbar">
                            <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="miniStatementClose()">Close</button>
                        <!--    <button type="button" class="btn-flat btn-flat-color btn-flat-theme">Save &nbsp;</button>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </div>
    
</body>
</html>
