﻿<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <h3 class="modal-title">Add New Account</h3>
            <hr class="colorgraph">

            <div class="form-group">
                <label class="themeColor">Type and Select Currency</label>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label for="cardLastname">Currency</label>
                        <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="newAccount.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0" ng-change="isValidAccount()">
                    </div>
                </div>

            </div>

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-4"></div>
                <div class="col-xs-12 col-md-6">
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-default" ng-click="close()" >Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="saveAccount()" ng-disabled="disSub">Submit</button>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-1"></div>
    </div>
</div>
