﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Payout Wallet</title>
</head>
<body>

    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-10">
                <div class="form-group">
                    <br/>
                    <p class="modal-title">Payout Money from Wallet</p>
                    <hr class="colorgraph">

                    <label class="themeColor">Bank/Credit Union</label>
                    <select class="form-control themeColor">
                        <option value="">--Bank Name--</option>
                        <option value="1">OCT</option>
                        <option value="2">Union Pay Card</option>
                        <option value="3">ATM</option>
                        <option value="4">ACH</option>
                        <option value="5">PROPERTY CARD</option>
                        <option value="6">COOPTAVANZA RL</option>
                        <option value="6">COOPTAVANZA RL</option>
                    </select>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <label class="themeColor">Net Banking ID</label>
                    <input type="text" class="form-control themeColor" placeholder="Net Banking ID" ng-model="pw.NetBankingID" />
                </div>
                <div>
                    <div>&nbsp;</div>
                    <label class="themeColor">Password</label>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="password" class="form-control themeColor" placeholder="Password" ng-model="pw.Password" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="pwAuthenticate()">Authenticate</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--<div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="pwCloseForm()">Close</button>
                    </div>-->

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <div class="btn-toolbar">
                            <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="pwCloseForm()">Close</button>
                            <button type="button" class="btn-flat btn-flat-color btn-flat-theme" >Save &nbsp;</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2"></div>
                </div>
                
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </div>
</body>
</html>
