﻿

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <p class="modal-title">Welcome Join Us Today!</p>
            <hr class="colorgraph">

            <form role="form">
                
                <div class="form-group">
                    <input type="tel" name="number" id="phone" class="form-control input-lg themeColor" placeholder="Mobile Number" tabindex="4" ng-model="register.mobile_number" ng-change="checkNumber(register.mobile_number);" ng-click="$event.stopPropagation()" ng-intl-tel-input required>
                </div>
                 <!--Load jQuery from CDN so can run demo immediately--> 
                <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="~/Content/templateFrontend/build/js/intlTelInput.js"></script>
                <script>
                    $("#phone").intlTelInput({
                        separateDialCode: true,
                    utilsScript: "build/js/utils.js"
                    });
                </script>-->

                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg themeColor" placeholder="Email Address" tabindex="4" ng-model="register.email" ng-click="$event.stopPropagation()" required>
                </div>

                <div class="form-group">
                    
                </div>

                <div class="form-group">
                    <label class="themeColor fontStyle">Must contain at least number, uppercase and lowercase letter, and at least 8 or more characters</label>
                    <div class="input-group">
                        <input type="password" name="password" id="password" class="form-control input-lg themeColor" placeholder="Password" tabindex="5" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" ng-model="register.password" ng-click="$event.stopPropagation()" required>
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg themeColor" placeholder="Confirm Password" tabindex="6" ng-model="register.confirmpassword" ng-click="$event.stopPropagation()" required>
                        <div class="input-group-addon removeStyles">
                            <i class="fa fa-times col-md-2 passwordUnMatched" ng-if="register.password !== register.confirmpassword "></i>
                            <p class="passConfirm" ng-if="register.password !== register.confirmpassword ">Confirm Now</p>
                            <i class="fa fa-check-circle col-md-2 passwordMatched" ng-if="register.password === register.confirmpassword && register.password"></i>
                            <p class="passConfirmed" ng-if="register.password === register.confirmpassword && register.password">Verified!</p>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="themeColor" style="font-size: 1em">
                            <input type="checkbox" ng-model="confirmed">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            I hereby certify that I am 18 years old and above.
                        </label>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div align="center">
                        <div class="btn-toolbar">
                           
                            <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submit()">Join &nbsp;</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-xs-12 col-md-1"></div>
    </div>
</div>