﻿
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <p class="modal-title">Welcome! Please Register your Account </p>
            <hr class="colorgraph">

            <div class="form-group">
                <label class="themeColor">Please Enter OTP <span ng-if="!authenticated" style="color:red;">Not Authenticated</span><span ng-if="authenticated" style="color:green;">Authenticated</span></label>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="text" class="form-control themeColor" placeholder="OTP" ng-model="register.OTP" ng-click="$event.stopPropagation()" ng-change="Confirm()"required>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <!--<button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="Confirm(); $event.stopPropagation()">Confirm</button>-->
                        <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="Resend(); $event.stopPropagation()">Resend OTP</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="themeColor">Customer's Personal Information</label>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <input type="text" class="form-control themeColor" placeholder="First Name*" ng-model="register.firstname" ng-click="$event.stopPropagation()" required>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" class="form-control themeColor" placeholder="Middle Name(optional)" ng-model="register.middlename" ng-click="$event.stopPropagation()">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" class="form-control themeColor" placeholder="Last Name*" ng-model="register.lastname" ng-click="$event.stopPropagation()" required>
                    </div>
                </div>
                        
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label class="themeColor">Birth Date*(Day-Month-Year) <span ng-if="yearold < 18" style="color:red;">You are underage.</span></label>
                        <p class="input-group">
                            <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="register.birthdate" is-open="popup1.opened" ng-change="confirmBD(register.birthdate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="themeColor">Currency*</label>
                        <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="register.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <label class="themeColor">Address*</label>
                        <input type="text" class="form-control themeColor" placeholder="Address" ng-model="register.address" ng-click="$event.stopPropagation()" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label class="themeColor">Country*</label>
                        <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="register.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="themeColor">Province/State*</label>
                        <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="register.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        <!--typeahead-template-url="ng/view/common/thumb/flagTemplate.html"-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label class="themeColor">City*</label>
                        <input type="text" class="form-control themeColor" placeholder="City" ng-model="register.city" ng-click="$event.stopPropagation()" required>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="themeColor">Postal Code(optional)</label>
                        <input type="text" class="form-control themeColor" placeholder="Postal Code" ng-model="register.zipcode" ng-click="$event.stopPropagation()" >
                    </div>
                </div>
            </div>

            <hr class="colorgraph">
            <div class="row">
                <label class="themeColor">Note: * for Require Fields</label>
                <div class="col-xs-12 col-md-4"></div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-toolbar">
                        <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="back()" >Back</button>
                        <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submit()">Submit</button>
                        <!--ng-disabled="!register.email || !(register.password === register.confirmpassword) || !register.password || !register.confirmpassword">-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-4"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-1"></div>
    </div>
</div>
