﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Send SMS Money</title>
</head>
<body>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-10">
                <br />
                <p class="modal-title">Send money to other wallet</p>
                <hr class="colorgraph">

                <label class="themeColor">Wallet Balance & Conversion Rate</label>
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <input type="number" class="form-control themeColor" value="1" disabled />
                            </td>
                            <td>
                                <label>&nbsp;{{smsMoneyData.currency}}&nbsp;</label>
                            </td>
                            <td>
                                <input type="number" class="form-control themeColor" value="{{convertedRate1}}" disabled />
                            </td>
                            <td>
                                <label>&nbsp;{{beneficiaryData.currency}}&nbsp;</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <label class="themeColor">Bank Credit Union</label>
                <select class="form-control themeColor">
                    <option value="">--Bank Name--</option>
                    <option value="1">COOPTAVANZA RL</option>
                </select>
                <div>
                    <label class="themeColor">Beneficiary Mobile No.</label>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="text" class="form-control themeColor" placeholder="Benificiary Mobile Number" ng-model="beneficiaryMobileNumber" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="btn-toolbar">
                                <button class="btn-flat btn-flat-color btn-flat-theme" type="button" ng-click="loadDetails()">Load Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="themeColor">Beneficiary Name</label>
                    <input type="text" class="form-control themeColor" placeholder="Benificiary Name" value="{{beneficiaryData.firstname }} {{beneficiaryData.middlename}} {{beneficiaryData.lastname}}" disabled />
                </div>
                <div>
                    <label class="themeColor">Send Amount & Beneficiaries Amount</label>
                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" class="form-control themeColor" placeholder="Amount" ng-model="amntToConvert" ng-change="amountToConvert()" />
                                </td>
                                <td>
                                    <label>&nbsp;{{smsMoneyData.currency}}&nbsp;</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control themeColor" placeholder="Benificiary Amount" value="{{convertedRate2}}" disabled />
                                </td>
                                <td>
                                    <label>&nbsp;{{beneficiaryData.currency}}&nbsp;</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-3"></div>
                    <div class="col-xs-12 col-md-9">
                        <div class="btn-toolbar">
                            <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="smsMoneyClose()">Close</button>
                            <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submitForm()">Submit</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </div>
</body>
</html>
