﻿@{ Layout = "~/Views/Shared/_LayoutRegister.cshtml"; }
<div ng-controller="CWRegisterController">
<!--Register Page-->

<style>
    .panel.panel-default .panel-heading {
        background: #fff !important;
        color: #777 !important;
        border-color: #f1f5fc !important;
    }
</style>
    @*<div growl class="pull-right"></div>*@
<div class="login-wrapper">
    <div class="text-center">
        <img src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" style="padding-left:15em !important;">
        <h2 class="fadeInUp" style="font-weight:bold">
            <span class="text-primary">Coop</span> <span style="color:#afafaf; text-shadow:0 1px #fff">eWallet</span>
        </h2>
    </div>
    <div class="login-widget">
        <div class="panel panel-default">
            <div class="panel panel-default">
                <form class="form-horizontal no-margin form-border" id="formWizard1" novalidate="">
                    <div class="panel-heading">
                        <b>Registration Steps</b><hr>
                        <div class="panel-tab">
                            <div style="width:336px !important;" growl></div>
                            <ul class="wizard-steps wizard-demo" id="wizardDemo1">
                                <li ng-class="tabActive1"@*ng-class="{{tabActive1}}"  class="active" class="{{tabActive1}}"*@ >
                                    <a href="{{tab1}}" data-toggle="{{toggle1}}" ng-click="loadTab1()">Account Info</a>
                                </li>
                                <li ng-class="tabActive2">
                                    <a href="{{tab2}}" data-toggle="{{toggle2}}" ng-click="loadTab2()">Personal Info</a>
                                </li>
                                @*<li ng-class="tabActive3">
                                    <a href="{{tab3}}" data-toggle="{{toggle3}}" ng-click="loadTab3()">Billing Info</a>
                                </li>*@
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div ng-class="inAction1" @*class="tab-pane fade in active "{{inAction1}}*@ id="wizardContent1">
                                    <div class="panel-body" >
                                        <div class="form-group">
                                            <label>Mobile No.</label>
                                            @*<input type="text" placeholder="Mobile Number" class="form-control input-sm" ng-intl-tel-input ng-model="register.mobilenumber" style="width:336px!important;" ng-if="!authenticated">*@
                                            <input type="text" placeholder="Mobile Number" id="phone" class="form-control input-sm" ng-intl-tel-input ng-model="register.mobilenumber" ng-change="checkMobileNumber();" style="width:336px!important;" ng-disabled="authenticated">
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input type="email" placeholder="Email address" class="form-control input-sm" ng-model="register.email" ng-change="enableSubmit()" ng-blur="checkEmailValidation()" required >
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" placeholder="Password" class="form-control input-sm" ng-model="register.password" ng-change="enableSubmit()" ng-minlength="3">
                                            <span class="verifyPass"><i class="fa fa-check fa-lg text-success  passwordMatched" ng-if="register.password.length > 3"></i></span>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" placeholder="Confirm password" class="form-control input-sm" ng-model="register.confirmpassword" ng-change="enableSubmit()">
                                            <span class="verifyPass"><i class="fa fa-check fa-lg text-success  passwordMatched" ng-if="register.password === register.confirmpassword && register.password"></i></span>
                                            <span class="verifyPass"><i class="fa fa-times fa-lg text-danger passwordUnMatched" ng-if="register.password !== register.confirmpassword && register.confirmpassword "></i></span>
                                        </div><!-- /form-group -->
                                        @*<div class="input-group-addon removeStyles">
                                            <i class="fa fa-times col-md-2 passwordUnMatched" ng-if="register.password !== register.confirmpassword && register.confirmpassword "></i>
                                            <label ng-if="register.password !== register.confirmpassword && register.confirmpassword">Confirm Now</label>
                                            <i class="fa fa-check-circle col-md-2 passwordMatched" ng-if="register.password === register.confirmpassword && register.password"></i>
                                            <label class="passConfirmed" ng-if="register.password === register.confirmpassword && register.password">Verified!</label>
                                        </div>*@
                                        <div class="form-group">
                                            <label class="label-checkbox">
                                                <input type="checkbox" ng-model="register.confirmAge" ng-change="enableSubmit()"/>
                                                <span class="custom-checkbox info"></span>
                                                I hereby certify that I am 18 years old and above.
                                            </label>
                                        </div><!-- /form-group -->
                                        <div class="seperator"></div>
                                        <div class="form-group">
                                            <div class="controls">
                                                Already have an account? <a href="@Url.Action("Index", "Signin")" class="primary-font login-link">Sign In</a>
                                                @*<button type="submit" class="btn btn-sm btn-success" id="submit" style="float:right;" ng-click="send()" ng-disabled="disableSubmit">Submit</button>*@
                                                <a  class="btn btn-sm btn-success" id="submit" style="float:right;" ng-click="send()"  ng-disabled="lockSubmit">Submit</a>
                                            </div>
                                        </div><!-- /form-group -->
                                    </div>
                                </div>
                                <div @*class="tab-pane fade"*@ ng-class="inAction2" id="wizardContent2">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Please Enter OTP</label>
                                            <label><span ng-if="!authenticated" style="color:red;">Not Authenticated</span><span ng-if="authenticated" style="color:green;">Authenticated</span></label>
                                            <input type="text" placeholder="Please Enter OTP" class="form-control input-sm" ng-model="register.OTP"  ng-change="Confirm();" required/>
                                            <div>&nbsp;</div>
                                            <div>
                                                <!--<button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="Confirm(); $event.stopPropagation()">Confirm</button>-->
                                                <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="ResendOTP(); ">Resend OTP</button>
                                            </div>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" placeholder="First Name" class="form-control input-sm" ng-model="register.firstname" ng-change="Confirm();" required/>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input type="text" placeholder="Middle Name" class="form-control input-sm" ng-model="register.middlename" ng-change="Confirm();" />
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" placeholder="Last Name" class="form-control input-sm" ng-model="register.lastname" ng-change="Confirm();" required/>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <!---<label for="cardExpiry">Birth Date</label>!-->
                                            <div class="input-group">
                                                <label class="themeColor">Birth Date*(Day/Month/Year) <span ng-if="yearold < 18" style="color:red;">You are underage.</span></label>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" placeholder="dd/MM/YYYY" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" ui-mask-placeholder-char="__/__/____" model-view-value="true" ng-model="register.bod" is-open="popup1.opened" ng-change="confirmBD(register.bod);Confirm();" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" style="width:300px !important" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="themeColor">Currency*</label>
                                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="register.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0" ng-change="Confirm();">
                                        </div>
                                        <div class="form-group">
                                            <label class=" control-label">Gender</label>
                                            <label class="label-radio inline">
                                                <input type="radio" name="inline-radio" ng-model="register.gender" ng-change="Confirm();" id="gender" value="true">
                                                <span class="custom-radio"></span>
                                                Male
                                            </label>
                                            <label class="label-radio inline">
                                                <input type="radio" name="inline-radio" ng-model="register.gender" ng-change="Confirm();" id="gender" value="false">
                                                <span class="custom-radio"></span>
                                                Female
                                            </label>
                                        </div>
                                    </div>
                                   <a href="{{tab1}}" data-toggle="tab" ng-click="loadTab1()">Previous</a>
                                    &nbsp;|&nbsp;
                                    <button type="button" class="btn btn-sm btn-success" id="nextStep1" ng-click="submit();">Submit</button>
                                   @*<a href="{{tab3}}" data-toggle="tab" ng-click="loadTab3()" ng-disabled="ifOTPNotSet">Next</a>*@
                                </div>
                                @*<div ng-class="inAction3" id="wizardContent3">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" placeholder="Address" class="form-control input-sm" ng-model="register.address">
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div>
                                                <input type="text" class="form-control" ng-model="register.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0"/>
                                                  
                                            </div>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>State/Province</label>
                                            <div>
                                                <input type="text" class="form-control" ng-model="register.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                                            </div>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" placeholder="City" class="form-control input-sm" ng-model="register.city"  required>
                                        </div><!-- /form-group -->
                                        <div class="form-group">
                                            <label>Postal Code</label>
                                            <input type="text" placeholder="Postal" class="form-control input-sm" ng-model="register.zipcode">
                                        </div><!-- /form-group -->
                                        <hr />*@
                                        @*<a class="btn btn-primary btn-sm login-link pull-right" href="" ng-click="submit();"><i class="fa fa-sign-in"></i> Submit</a>*@
                                  @* </div>
                                    <a href="{{tab2}}" data-toggle="tab" ng-click="loadTab2()">Previous</a>&nbsp;|&nbsp;
                                    <button type="button" class="btn btn-sm btn-success" id="nextStep1" ng-click="submit();">Submit</button>
                                </div>*@
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            @*<div class="pull-left">
                                <button class="btn btn-success btn-sm disabled" id="prevStep1" disabled="">Previous</button>
                                <button type="submit" class="btn btn-sm btn-success" id="nextStep1">Next</button>
                            </div>*@
                        </div>
                </form>
            </div>
        </div><!-- /panel -->
    </div><!-- /login-widget -->
</div><!-- /login-wrapper -->
</div>
  <div ui-view>
     
  </div>
 
