﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-Out / Bank Deposit</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Bank Deposit</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <div class="panel-heading">
                <b>Bank Deposit Information</b>&nbsp;<p>Current Balance: <b>{{balancelimit | number:2}} {{etransfer.currencyfromiso}}</b></p>
            </div>
            <div class="alert alert-warning" ng-if="startNotif">
                <strong>Please select account currency with more than zero (0) remaining balance or Cash In first to process a transfer.</strong> <a href="" ui-sref="creditcard" class="alert-link">Click here.</a>.
            </div>
            <div class="alert alert-warning" ng-if="notifyZeroBalance">
                <strong>This Account does not have enough balance left to do transaction, please cash in first or select account currency with more than zero (0) remaining balance. </strong> <a href="" ui-sref="creditcard" class="alert-link">Click here.</a>.
            </div>
            <div class="alert alert-info" ng-if="notifyExceededLimit">
                <strong>The requested amount to send in {{ach.currencyfromiso}}, exceeded the limit of your account balance. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group">

                <div class='card-wrapper'></div>
                <!--<div class="center" style="display:none;">
                    <img src="~/Content/templateFrontend/customerAdmin/img/banklogo.png" alt="User Avatar">
                    <h5 class="acctNumCss">{{ach.acctNum}}</h5>
                    <h5 class="checkNumCss">{{ach.checkNum}}</h5>
                    <h5 class="dateCss">{{ach.checkDate | date :  "dd MMM y"}}</h5>
                    <h6 class="bankNameCss"><b>{{ach.bankName}}</b></h6>
                    <p class="abaRoutingCss">{{ach.abaRouting}} {{ach.acctNum}} {{ach.checkNum}}</p>
                </div>-->
                    <div class="form-group col-md-12">
                        <!--<label class="control-label col-md-2"><h4>Bank Deposit Details</h4></label>-->
                        <div class="col-md-4">   <!--typeahead-on-select="selectedCountry($item)"--> 
                            <label class="control-label">Country</label>
                            <!--<input type="text" class="form-control themeColor scrollable-dropdown-menu"  ng-model="ach.bankcountry" placeholder="Country" uib-typeahead="country.commonname for country in bankcountryq | filter:{name:$viewValue} | limitTo:5" typeahead-show-hint="true" typeahead-min-length="0">-->
                            <select ng-model="ach.bankCountry" class="form-control input-sm" ng-change="dropdownBank();">
                                    <option value="">--Select Country--</option>
                                    <option ng-repeat="data in countries" value="{{data}}">{{data.countryName}}</option>
                            </select>
                        </div><!-- /.col -->
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardNumber">Bank Name</label>
                            <!--<input type="text" name="NameBank" class="form-control input-sm" maxlength="65" placeholder="Bank Name" value="" ng-model="ach.bankName">-->
                            <!--<select ng-model="ach.bankName" class="form-control input-sm" ng-change="dropdownCurrency(data);">
                                <option value="">--Select Bank Name--</option>
                                <option ng-repeat="data in bankNameData" value="{{data.bankName}}">{{data.bankName}}</option>
                            </select>-->

                            <select ng-model="bank" class="form-control input-sm" ng-change="dropdownCurrency(bank);" ng-options="data.bankName for data in bankNameData">
                                <option value="">--Select Bank Name--</option>
                            </select>
                            
                        </div>
                        <div class="col-md-4">
                            <label for="cardLastname">Currency</label>
                            <select ng-model="ach.currencytoiso" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty" ng-change="setCurrencyForBenificiary();">
                                <option value="">--Select Currency--</option>
                                <option ng-repeat="data in currencies" value="{{data}}">{{data.currenciesISO}}</option>
                            </select>
                            <!--<input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ach.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">-->
                        </div>
                        <div class="col-md-4">
                            <label for="cardExpiry">Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="ach.checkDate" is-open="popup1.opened" ng-change="confirmBD(ach.checkDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Routing Number/Bank Code</label>
                            <input type="text" name="abaRoute" class="form-control input-sm" maxlength="13" id="cardName" placeholder="Routing Number" ng-model="ach.rtcode" ng-readonly="true">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Account Number</label>
                            <input type="text" name="acctNumber" class="form-control input-sm" maxlength="13" id="cardMiddlename" placeholder="Account Number" value="" ng-model="ach.ach_account_no">
                        </div>
                        <div class="col-md-4">
                        <label for="cardName">Transaction Type</label>
                        <div>
                        <select class="form-control">
                        <option value="0">Credit</option>
                        <!--<option value="1">Debit</option>-->
                        </select>
                        </div>
                        </div>
                    </div>
                    <!--Third Layer-->
                    <div class="form-group col-md-12">
                        <!--<div class="col-md-4">
                        <label for="cardCvc">Check #</label>
                        <input type="text" name="checkNumber" class="form-control input-sm" maxlength="13" id="cardCvc" placeholder="Check #" value="" ng-model="ach.checkNum">
                        </div>-->
                        <div class="col-md-4">
                            <label class="">From:  <span class="label label-danger"><strong>1.00</strong></span></label>
                            <select ng-model="ach.currencyfromiso" class="form-control" ng-change="selectCurrencyFrom(ach.currencyfromiso); setCurrencyForBenificiary()">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="cardName">Amount</label>
                            <input type="number" name="Checkamount" class="form-control input-sm" placeholder="Check Amount" value="" ng-model="ach.amount_purchase" ng-change="setCurrencyForBenificiary();">
                        </div>
                        <div class="col-md-6">
                            <label class="">Amount to Transfer in {{transferIn}}</label>
                            <input type="number" class="form-control" ng-model="ach.amountto" disabled />
                        </div>
                        <div class="col-md-4">
                            <label for="cardName">&nbsp;</label>
                            <label class="label-checkbox">
                                <input type="checkbox" id="isDefaultAddress" ng-model="ach.isDefaultAddress" ng-change="defaultAddress();">
                                <span class="custom-checkbox" style="font-weight:bold;"></span>
                                Use default address
                            </label>
                        </div>
                        <div class="col-md-4" style="display:none">
                            <label for="cardMiddlename">Personal/Corporate</label>
                            <select class="form-control">
                                <option>Personal Accounts</option>
                                <option>Joint Accounts</option>
                                <option>Corporate Accounts</option>
                            </select>
                        </div>
                    </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label for="cardName">Receiver's Name</label>
                        <input type="text" name="receiversName" class="form-control input-sm" placeholder="Receiver's Name'" value="" ng-model="ach.ach_receive_name">
                    </div>
                </div>
                <div class="form-group col-md-12" style="display:none;" id="divNewAddress">
                    <div class="form-group col-md-12">
                        <div class="col-md-9">
                            <label class="control-label">Address</label>
                            <input type="text" class="form-control input-sm" placeholder="Address" value="" ng-model="ach.address">

                        </div>
                        <div class="col-md-3">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control input-sm" placeholder="City" value="" ng-model="ach.suburb_city">
                        </div>

                    </div>


                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Country</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ach.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">State/Province</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ach.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label class=" control-label">Postal Code</label>
                            <input type="text" class="form-control input-sm" placeholder="Postal Code" value="" ng-model="ach.postcode">
                        </div>


                    </div>
                </div>
                <div class="form-group col-md-12" style="display:none;">
                    <div class="col-md-4">
                        <label class="control-label">Country</label>
                        <div>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ach.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">State/Province</label>
                        <div>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ach.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class=" control-label">Postal Code</label>
                        <input type="text" class="form-control input-sm" placeholder="Postal Code" value="">
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" ng-click="submit();" ng-if="showSubmit">Submit</button>
                </div>
            </div>
    </form>
</div>
<!-- /panel -->