﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Bill Payment</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Bill Payment</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Bill Payment Information</b>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Country</label>
                    <select class="form-control  input-sm" ng-model="billPayment.country" ng-change="queryBillerType();">
                        <!--<option value="">Please Select</option>
                <option value="1">Canada </option>
                <option value="2">Mexico </option>
                <option value="3">Panama</option>
                <option value="4">Philippines</option>
                <option value="5">United State of America</option>-->
                        <option value="">--Select Country--</option>
                        <option ng-repeat="d in countries" value="{{d.countryid}}">{{d.country}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Bill Type</label>
                    <select class="form-control  input-sm" ng-model="billPayment.billerType" ng-change="queryBiller();">
                        <option value="">Please Select</option>
                        <option ng-repeat="t in billTypes" value="{{t.billerID}}">{{t.billerTypeName}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Company</label>
                    <select class="form-control input-sm" ng-model="billPayment.company">
                        <option value="">--Select Company--</option>
                        <option ng-repeat="c in biller" value="{{c.id}}">{{c.name}}</option>
                        <option value="LUNEX" ng-if="billPayment.billerType === '3'">
                            Lunex
                        </option></select>
                </div>
                <!--<div class="col-md-6">
                    <label class="control-label">Product</label>
                    <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                        <option value="">Please Select</option>

                    </select>
                </div>-->
                            <!--<div ng-if="billPayment.billerType === '1'" >
                        <div class="form-group col-md-8">
                            <div class="col-md-6">
                                <label class="control-label">Company</label>
                                    <select class="form-control input-sm">
                                        <option value="">Please Select</option>
                                        <option value="Meralco">Meralco</option>
                                        <option value="Ceneco">Ceneco</option>
                                        <option value="GeorgiaPower">Georgia Power</option>
                                        <option value="VirginiaElectric">Virginia Electric & Power</option>
                                        <option value="DTEE">DTE Energy</option>
                                        <option value="Meralco">Pacific Gas & Electric</option>
                                        <option value="Ceneco">Southern California Edison</option>
                                        <option value="GeorgiaPower">Florida Power & Light</option>
                                        <option value="VirginiaElectric">Consolidated Edison</option>
                                        <option value="DTEE">Georgia Power</option>
                                    </select>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label">Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">Please Select</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div ng-if="billPayment.billerType === '2'">
                        <div class="form-group col-md-8">
                            <div class="col-md-6">
                                <label class="control-label">Company</label>

                                    <select class="form-control  input-sm">
                                        <option value="">Please Select</option>
                                        <option value="Meralco">Maynilad Water Services</option>
                                        <option value="Meralco">Maynila Water</option>
                                        <option value="Ceneco">Baciwa</option>
                                        <option value="GeorgiaPower">Boracay Water</option>
                                        <option value="VirginiaElectric">Asbury Water Authority</option>
                                        <option value="DTEE">Autauga County Water Authority</option>
                                        <option value="Meralco">Mesa Cortina Water and Sanitation District</option>
                                        <option value="Ceneco">North Table Mountain Water and Sanitation District</option>
                                        <option value="GeorgiaPower">City of Atlanta Department of Watershed Management</option>
                                        <option value="VirginiaElectric">Etowah Water and Sewer Authority</option>
                                        <option value="DTEE">California American Water</option>
                                    </select>

                            </div>


                            <div class="col-md-6">
                                <label class="control-label">Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div ng-if="billPayment.billerType === '3'">
                        <div class="form-group col-md-8">
                            <div class="col-md-6">
                                <label class="control-label">Company</label>
                                    <select class="form-control input-sm" ng-model="billPayment.company">
                                        <option value="">Please Select</option>
                                        <option selected" value="LUNEX">Lunex</option>
                                        <option value="GT">Globe Telecom</option>
                                        <option value="PLDT">PLDT</option>
                                        <option value="SKY">Sky</option>
                                        <option value="ATT">AT&T</option>
                                        <option value="VERI">Verizon</option>
                                    </select>
                            </div>-->


                            <div class="col-md-6" ng-if="billPayment.company === 'LUNEX'">
                                <label class="control-label">Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct(sku)">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="sku in Skus" value="{{sku.Product}}">{{sku.Product.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6" ng-if="billPayment.company === 'GT'">
                                <label class="control-label">Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">No Selection</option>
                                    <!-- <option ng-repeat="sku in Skus" value="{{sku.Product.Sku}}">{{sku.Product.Name}}</option>-->
                                </select>
                            </div>
                            <div class="col-md-6" ng-if="billPayment.company === 'PLDT'">
                                <label c
                                <label class="control-label">ss>Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">No Selection</option>
                                    <!-- <option ng-repeat="sku in Skus" value="{{sku.Product.Sku}}">{{sku.Product.Name}}</option>-->
                                </select>
                            </div>
                            <div class="col-md-6" ng-if="billPayment.company === 'SKY'">
                                <label cl
                                <label class="control-label">s=Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">No Selection</option>
                                    <!-- <option ng-repeat="sku in Skus" value="{{sku.Product.Sku}}">{{sku.Product.Name}}</option>-->
                                </select>
                            </div>
                            <div class="col-md-6" ng-if="billPayment.company === 'ATT'">
                                <label cl
                                <label class="control-label">s=Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">No Selection</option>
                                    <!-- <option ng-repeat="sku in Skus" value="{{sku.Product.Sku}}">{{sku.Product.Name}}</option>-->
                                </select>
                            </div>
                            <div class="col-md-6" ng-if="billPayment.company === 'VERI'">
                                <label c
                                <label class="control-label">ss>Product</label>
                                <select ng-model="billPayment.product" class="form-control input-sm" ng-change="selectedProduct()">
                                    <option value="">No Selection</option>
                                    <!-- <option ng-repeat="sku in Skus" value="{{sku.Product.Sku}}">{{sku.Product.Name}}</option>-->
                                </select>
                            </div>
                    </div>
                </div>



            </div>
            <div class="form-group col-md-12" ng-if="billPayment.company === 'LUNEX'">
                <h5>Bill Payment Details </h5>
                <!--<div class="col-md-6">
                    <label class="control-label">Customer Account Status</label>
                    <input class="form-control input-sm" ng-model="billPayment.AccountNumber" readonly />
                </div>-->
                <div class="col-md-6">
                    <label class="control-label">Product Name</label>
                    <input class="form-control input-sm" ng-model="billPayment.ProductName" readonly />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Denomanation {{billPayment.Range}}</label>
                    <input class="form-control input-sm" ng-model="billPayment.ProductDenom" readonly />
                </div>

            </div>

            <div class="form-group col-md-12" ng-if="billPayment.company !== 'LUNEX'">
                <h5>Bill Payment Details </h5>
                <div class="col-md-6">
                    <label class="control-label">Customer Account Number</label>
                    <input class="form-control input-sm" ng-model="billPayment.AccountNumber" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Product Name</label>
                    <input class="form-control input-sm" ng-model="billPayment.ProductName" readonly />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Denomanation</label>
                    <input class="form-control input-sm" ng-model="billPayment.ProductDenom" readonly />
                </div>

            </div>

                <!--<div class="form-group col-md-12">
            <div class="col-md-4">
                <label class="control-label">Country</label>
                <div>
                    <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="billPayment.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label">State/Province</label>
                <div>
                    <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="billPayment.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                </div>
            </div>
        </div>-->
                <!--Second Layer-->
                <!--<div class="col-md-4">
            <label for="cardMiddlename">Account Number</label>
            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Account Number" value="">
        </div>-->
            </div>
                <!--Third Layer-->
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Currency</label>
                        <input type="text" class="form-control themeColor scrollable-dropdown-menu input-sm" ng-model="billPayment.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Amount</label>
                        <input type="number" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Amount" ng-model="billPayment.amount">
                    </div>
                </div>

            

            <div class="panel-footer">
                <div class="text-right">
             <!--       <button class="btn btn btn-primary" type="reset">Reset</button>-->
                    <button class="btn btn btn-primary" ng-click="submit()">Submit</button>
                </div>
            </div>
        
    </form>
</div>