﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-In / Cash Deposit</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Cash Deposit</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Cash Deposit Information</b>
        </div>

        <div class="panel-body">
            <div class="form-group">
                    <div class="form-group">
                        <label class="control-label col-md-3"><h4>Cash Deposit Details</h4></label>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardNumber">Voucher Name</label>
                            <input type="text" name="number" class="form-control input-sm" id="cardNumber" placeholder="Voucher Number" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardExpiry">Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="cashLocation.checkDate" is-open="popup1.opened" ng-change="confirmBD(cashLocation.checkDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="cardCvc">Amount</label>
                            <input type="text" name="cvc" class="form-control input-sm" id="cardCvc" placeholder="Amount" value="">
                        </div>
                    </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardMiddlename">Enter Mobile Number</label>
                            <input type="text" name="text" class="form-control input-sm" id="mobilenumber" placeholder="Confirm Mobile Number"
                                   ng-model="cashLocation.mobilenumber" ng-intl-tel-input style="width:305px;" ng-change="change()">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Account Number</label>
                            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Account Number"
                                   value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardLastname">Currency</label>
                            <input type="text" name="last-name" class="form-control input-sm" id="cardLastname" placeholder="Currency" value="">
                        </div>
                    </div>
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>