﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-In / Check 21</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Check 21</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Check Information</b>
        </div>

        <div class="panel-body">
            <div class="form-group">

                <div class='card-wrapper'></div>
                <div class="center">
                    <img src="~/../../Content/templateFrontend/customerAdmin/img/banklogo.png" alt="User Avatar">
                    <h5 class="acctNumCss">{{check21.acctNum}}</h5>
                    <h5 class="checkNumCss">{{check21.checkNum}}</h5>
                    <h5 class="dateCss">{{check21.checkDate | date :  "dd MMMM y"}}</h5>
                    <h6 class="bankNameCss"><b>{{check21.bankName}}</b></h6>
                    <p class="abaRoutingCss">{{check21.abaRouting}} {{check21.acctNum}} {{check21.checkNum}}</p>
                </div>

                <form>
                    <div class="form-group">
                        <label class="control-label col-md-2"><h4>Check 21 Details</h4></label>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardNumber">Bank Name</label>
                            <input type="text" name="NameBank" class="form-control input-sm" maxlength="65" id="cardNumber" placeholder="Bank Number" value="" ng-model="check21.bankName">
                        </div>
                        <div class="col-md-4">
                            <label for="cardExpiry">Date</label>
                            <div class="input-group">
                                <!--<input type="date" class="datepicker form-control" ng-model="check21.checkDate">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                                <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="check21.checkDate" is-open="popup1.opened" ng-change="confirmBD(check21.checkDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="cardLastname">Currency</label>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="check21.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                    </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">ABA Routing Number</label>
                            <input type="text" name="abaRoute" class="form-control input-sm" id="cardName" placeholder="ABA Routing Number" maxlength="13" value="" ng-model="check21.abaRouting">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Account Number</label>
                            <input type="text" name="acctNumber" class="form-control input-sm" id="cardMiddlename" placeholder="Account Number" maxlength="13" value="" ng-model="check21.acctNum">
                        </div>
                        <div class="col-md-4">
                            <label for="cardCvc">Check #</label>
                            <input type="text" name="checkNumber" class="form-control input-sm" id="cardCvc" placeholder="Check #" maxlength="13" value="" ng-model="check21.checkNum">
                        </div>
                    </div>
                    <!--Third Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Account Type</label>
                            <div>
                                <select class="form-control">
                                    <option>Savings Accounts</option>
                                    <option>Checking Accounts</option>
                                    <option>Interest-Bearing Checking Accounts</option>
                                    <option>Money Market Deposit Accounts</option>
                                    <option>Certificates of Deposit</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Personal/Corporate</label>
                            <select class="form-control">
                                <option>Personal Accounts</option>
                                <option>Joint Accounts</option>
                                <option>Corporate Accounts</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Amount</label>
                            <input type="text" class="form-control input-sm" placeholder="0.00" value="">

                        </div>
                    </div>
                </form>
                <div class="form-group col-md-12">
                    <div class="col-md-9">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control input-sm" placeholder="Address" value="">

                    </div>
                    <div class="col-md-3">
                        <label class="control-label">City</label>
                        <input type="text" class="form-control input-sm" placeholder="City" value="">
                    </div>

                </div>


                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Country</label>
                        <div>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="check21.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">State/Province</label>
                        <div>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="check21.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class=" control-label">Postal Code</label>
                        <input type="text" class="form-control input-sm" placeholder="Postal Code" value="">
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
</div>
<!-- /panel -->

<!--Angular Cotroller-->
<!--<script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
           
        });
</script>-->