﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-In / Coop Member</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Coop Member</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Customer Information</b>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <form>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Country</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="coopmember.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue}" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label for="currency">Currency</label>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="coopmember.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue}" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="col-md-4">
                            <label for="fees">Fees</label>
                            <input type="number" class="form-control input-sm" ng-model="coopmember.fees" placeholder="Fees" >
                        </div>
                    </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Member</label>
                            <select ng-model="coopmember.partner" class="form-control" ng-options="partner.id as partner.finame for partner in partners track by partner.id" ng-change="selectedPartner()">
                                
                                   
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="exampleInputMobile">Mobile Number</label>
                            <div>
                                <input type="tel" name="number" class="form-control input-sm" id="exampleInputMobile" placeholder="Mobile Number" ng-model="coopmember.mobilenumber" ng-intl-tel-input ng-click="$event.stopPropagation()" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="cardName">Account Type</label>
                            <div>
                                <select class="form-control">
                                    <option>Savings Accounts</option>
                                    <option>Checking Accounts</option>
                                    <option>Interest-Bearing Checking Accounts</option>
                                    <option>Money Market Deposit Accounts</option>
                                    <option>Certificates of Deposit</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Third Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Customer Name</label>
                            <input type="text" name="first-name" class="form-control input-sm" id="Customer Name" placeholder="Customer Name" ng-model="coopmember.customerName">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Account Number</label>
                            <input type="text" name="acctNumber" class="form-control input-sm" maxlength="13" id="cardMiddlename" placeholder="Account Number" value="" ng-model="coopmember.account_no">
                        </div>
                        <div class="col-md-4">
                            <label for="cardName">Amount</label>
                            <input type="number" name="amount" class="form-control input-sm" placeholder="Amount" value="" ng-model="coopmember.amount">
                        </div>
                    </div>
                </form>
               
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
</div>
<!-- /panel -->

<!--Angular Cotroller-->
<!--<script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
           
        });
</script>-->