﻿<div class="alert alert-info" ng-if="customer.isInOFACList">
    <strong>Please Verify your account by adding your profile photo, proof of billing photo and Identification Card photo in profile section. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
</div>
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-In / Credit Card</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Credit Card</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout" >
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Credit Information</b>
        </div>
            <!--<p id="errorMessage" class="control-label col-md-2" style="width:315px !important; text-align:left; font-weight:bold !important;"></p>-->
        <div class="panel-body">
            <div class="form-group" >
                <div class='card-wrapper'></div>
                <!-- CSS is included via this JavaScript file -->
                <script src="~/../../Content/templateFrontend/customerAdmin/dist/card.js"></script>
                    <div class="form-group">
                        <label class="control-label col-md-2" style="width:336px !important; text-align:left;"><h4>Card Information</h4></label>
                        <!--<label class="control-label col-md-2" style="width:336px !important; text-align:center;" growl></label>-->
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" name="number" class="form-control input-sm" id="cardNumber"  value="" ng-model="ccData.card_no" ng-change="disableSubmit();">
                        </div>
                        <div class="col-md-4">
                            <label for="cardExpiry">Expiry (MM/YYYY)</label>
                            <input type="text" name="expiry" class="form-control input-sm" id="cardExpiry"  value="" ng-model="ccData.card_exp_month" ng-change="disableSubmit();">
                        </div>
                        <div class="col-md-4">
                            <label for="cardCvc">CVC</label>
                            <input type="text" name="cvc" class="form-control input-sm" id="cardCvc" value="" ng-model="ccData.card_ccv" ng-change="disableSubmit();">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <!--<div class="col-md-4">
                            <label for="cardName">First Name</label>
                            <input type="text" name="first-name" class="form-control input-sm" id="cardName" ng-model="firstname" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Middle Name</label>
                            <input type="text" name="middle-name" class="form-control input-sm" id="cardMiddlename" ng-model="middlename" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="cardLastname">Last Name</label>
                            <input type="text" name="last-name" class="form-control input-sm" id="cardLastname" ng-model="lastname" disabled>
                        </div>-->
                        <div class="col-md-4">
                            <label for="cardName">Card Name</label>
                            <input type="text" name="first-name" class="form-control input-sm" id="cardName" ng-model="ccData.card_name">
                        </div>
                        <!--<div class="col-md-4">
                            <label for="cardName">&nbsp;</label>
                            <label class="label-checkbox" ng-if="errorMessage == ''">
                                <input type="checkbox" id="isDefaultAddress" ng-model="ccData.isDefaultAddress" ng-change="defaultAddress();">
                                <span class="custom-checkbox" style="font-weight:bold;"></span>
                                Use default address
                            </label>
                        </div>-->
                    </div> <!--style="display:none;"--> 
                    <div class="form-group col-md-12" id="divNewAddress">
                        <div class="form-group col-md-12">
                            <div class="col-md-9">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control input-sm"  ng-model="ccData.address"  ng-change="disableSubmit();">

                            </div>
                            <div class="col-md-3">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control input-sm" ng-model="ccData.suburb_city" ng-change="disableSubmit();">
                            </div>

                        </div>


                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <label class="control-label">Country</label>
                                <div>
                                    <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ccData.country" ng-change="disableSubmit();" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                                </div><!-- /.col -->
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">State/Province</label>
                                <div>
                                    <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="ccData.state" ng-change="disableSubmit();" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                                </div><!-- /.col -->
                            </div>
                            <div class="col-md-4">
                                <label class=" control-label">Postal Code</label>
                                <input type="text" class="form-control input-sm"  value="" ng-model="ccData.postcode">
                            </div>


                        </div>
                    </div>
                <table class="form-group" style="margin-left:18px !important;">
                    <tr>
                        <td>
                            <label for="cashIn">
                                Amount Cash In &nbsp;
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" name="middle-name" value="" id="amnt" placeholder="Amount" class="form-control input-sm" ng-model="ccData.amount_purchase" ng-change="disableSubmit(); calculateFees();" style="width:150px !important;" />
                        </td>
                        <td>
                            <label>&nbsp; to &nbsp;</label>
                        </td>
                        <td>
                            <select ng-model="ccData.currencyType" class="form-control input-sm" ng-change="disableSubmit(); calculateFees();" style="width:150px !important;">
                                <option value="">--Select Currency--</option>
                                <option ng-repeat="data in currencies" ng-if="data.iso == 'USD' || data.iso == 'EUR'" value="{{data.iso}}">{{data.iso}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td ng-if="errorMessage == ''">
                            <label>&nbsp;</label>
                            <button class="btn btn btn-primary" type="button" ng-click="submit()" ng-disabled="disSub" style="margin: -35px 0px 0px -5px !important;" ng-if="!customer.isInOFACList">Submit</button>
                        </td>
                    </tr>
                </table>
                        <!--<div class="form-group col-md-12">
                            <div class="col-md-1" style="width:170px !important;">
                                <label for="cashIn">Amount Cash In ({{defCurr}})</label>
                                <input type="number" name="middle-name" value="" id="amnt" class="form-control input-sm" ng-model="ccData.amount_purchase" ng-change="disableSubmit(); getConvertedValue();" style="width:150px !important;"  />
                            </div>
                            <div>
                                <div><input type="hidden" /></div>
                                <div>
                                    <label for="to" style="margin:30px 0px 0px 0px !important;">to</label>
                                </div>
                            </div>
                            <div class="col-md-1" style="width:170px !important;">
                                <select ng-model="ccData.currencyType" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty" ng-change="disableSubmit(); getConvertedValue();" style="width:150px !important; margin: -25px 0px 0px 0px !important;">
                                    <option value="">--Select Currency--</option>
                                    <option ng-repeat="data in currencies" ng-if="data.iso == 'USD' || data.iso == 'EUR'" value="{{data.iso}}">{{data.iso}}</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="width:20px !important; padding-bottom:10px;">
                                <label>&nbsp;</label>
                            </div>
                            <div class="col-md-1" style="width:120px !important;" ng-if="errorMessage == ''">
                                <label>&nbsp;</label>
                                <button class="btn btn btn-primary" type="button" ng-click="submit()" ng-disabled="disSub" style="margin: -35px 0px 0px -5px !important;"  ng-if="!customer.isInOFACList">Submit</button>
                            </div>
                        </div>-->
                    <div class="form-group col-md-12">
                        <div>
                            <label>Service Fee<label class="control-label">({{currSymbol}})</label>: {{ccData.amount_shipping}}</label>
                        </div>
                        <div>
                            <label>Tax (%) <label class="control-label">({{currSymbol}})</label>: {{ccData.tax}}</label>
                        </div>
                        <div>
                            <label>Total Amount To Credit: {{amount_plusFees}}</label>
                        </div>
                    </div>
                        <div style="display:none !important;"> 
                            <table class="col-md-4">
                                <tr>
                                    <td style="display:none;">
                                        <input type="hidden" ng-model="ccData.usd_amount" style="width:150px !important;" class="form-control input-sm" disabled />
                                        <div>
                                            <label>Service Fee (base on amount) : (USD) {{ccData.usd_amountShipping}}</label>
                                        </div>
                                        <div>
                                            <label>Tax (%) : {{ccData.tax}}</label>
                                        </div>
                                        <div>
                                            <label>Tax Value (base on amount) : (USD) {{ccData.usd_amountTax}}</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td style="display:none;">
                                        <label for="cardName">Total Amount Fee : (USD) {{usd_amountFees}} </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>&nbsp;</div>
                        <!--<div>
            <label>Transaction Code : {{ccData.item_no}}</label>
        </div>-->
                    </div>
            </div>
        
                </form>
                <script type="text/javascript">
                    var card = new Card({
                        form: 'form',
                        container: '.card-wrapper',

                        formSelectors: {
                            nameInput: 'input[name="first-name"], input[name="last-name"]'
                        }
                    });
                </script>
                <div class="form-group col-md-12" style="display:none !important;">
                    <div class="col-md-4">
                        <label class="control-label"><h4>Personal Information</h4></label>
                        <!--<label class="control-label"><h4>Transaction Cash - In Credit</h4></label>-->
                    </div>
                </div>
            </div>

       
            <div class="panel-footer">
              
            </div>
    </form>
</div>
<!-- /panel -->