﻿
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">Dashboard</h3>
            <span>Welcome back {{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</span>
        </div><!-- /page-title -->
        <ul class="page-stats" >
            <li>
                <div class="value">
                    <span>Number of Accounts</span>
                    <center><h4>{{customer.EnrolledList.length}}</h4></center>
                </div>
            </li>
            <!--<li style="display:none;">
                <div class="value">
                    <span>Wallet balance</span>
                    <h4><strong>{{totalbalance | currency: customer.currency : '2'}}</strong></h4>
                </div>
            </li>-->
        </ul><!-- /page-stats -->
    </div>

    <div class="padding-md clearfix">

        <div class="row">
            <div class="col-md-12">
                <!--Left Panel-->
                <div class="col-md-7">
                    <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th>
                                        <h4>Transactions List</h4>
                                    </th>
                                    <th>
                                        <div class="dataTables_filter" id="dataTable_filter" style="width:300px;">
                                            <input type="text" class="form-control input-sm" ng-model="searchKeyword" placeholder="search here..." aria-controls="dataTable">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Serial#</th>
                                    <th width="15%">Date</th>
                                    <th width="25%">Description</th>
                                    <th width="12%">Deposits</th>
                                    <th width="12%">Withdrawals</th>
                                    <th width="12%">Balance</th>
                                    <th width="5%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="statement in statements | filter: searchKeyword">
                                    <td>{{statement.id}}</td>
                                    <td>{{statement.dataCreated | date:"dd/MM/yyyy h:mma"}}</td>
                                    <td>{{statement.description}}</td>
                                    <td>{{statement.deposits}}</td>
                                    <td>{{statement.withdrawals}}</td>
                                    <td>{{statement.balance}}</td>
                                    <td><span class="label label-success">{{statement.status}}</span></td>
                                </tr>

                            </tbody>
                        </table>

                        <!--<pagination ng-model="pageNo"
                    total-items="statements.length"
                    max-size="pageSize"
                    boundary-links="true">
        </pagination>-->
                        <!--<ul uib-pagination direction-links="true" total-items="totalItems" ng-model="pageNo" num-pages="smallnumPages" ng-change="pageChanged()"></ul>-->
                        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pageNo" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
                <!--Right Panel-->
                <div class="col-md-5">
                    <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th>
                                        <h4>Accounts List</h4>
                                    </th>
                                    <th>
                                        <div class="dataTables_filter" id="dataTable_filter" style="width:150px;">
                                            <input type="text" class="form-control input-sm" ng-model="searchKeywordAccount" placeholder="search here...">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <caption><b>Account Approved and Cleared</b></caption>
                            <thead>
                                <tr>
                                    <th>Account No.</th>
                                    
                                    <th>Currency</th>
                                    <th width="20%">Balance</th>
                                    <th width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="enrolledaccount in customer.EnrolledList | filter: searchKeywordAccount">
                                    <td ng-if="enrolledaccount.accountnumber !== '0'">{{enrolledaccount.accountnumber}}</td>
                                    <td  ng-if="enrolledaccount.accountnumber !== '0'">{{enrolledaccount.currency}} | 
                                        <span ng-if="enrolledaccount.currency === 'GBP'" class="flag-icon flag-icon-gb"></span>
                                        <span ng-if="enrolledaccount.currency === 'CAD'" class="flag-icon flag-icon-ca"></span>
                                        <span ng-if="enrolledaccount.currency === 'COP'" class="flag-icon flag-icon-co"></span>
                                        <span ng-if="enrolledaccount.currency === 'EUR'" class="flag-icon flag-icon-eu"></span>
                                        <span ng-if="enrolledaccount.currency === 'MXN'" class="flag-icon flag-icon-mx"></span>
                                        <span ng-if="enrolledaccount.currency === 'PHP'" class="flag-icon flag-icon-ph"></span>
                                        <span ng-if="enrolledaccount.currency === 'USD'" class="flag-icon flag-icon-us"></span>
                                    </td>
                                    <td  ng-if="enrolledaccount.accountnumber !== '0'">{{enrolledaccount.balance}}</td>
                                    <td  ng-if="enrolledaccount.accountnumber !== '0'"><a href="#"><span class="label label-success">View</span></a></td>
                                </tr>

                            </tbody>
                        </table>
                       <!-- <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pageNo" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>-->
                    </div>
                </div>
            </div>   
            
        </div>

        
    </div>
