﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-In / EFT</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">EFT</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Electronic Funds Transfer</b>
        </div>

        <div class="panel-body">
            <div class="form-group">

                <div class='card-wrapper'></div>
                <div class="center">
                    <img src="~/../../Content/templateFrontend/customerAdmin/img/banklogo.png" alt="User Avatar">
                    <h5 class="acctNumCss">{{eft.acctNum}}</h5>
                    <h5 class="checkNumCss">{{eft.checkNum}}</h5>
                    <h5 class="dateCss">{{eft.checkDate | date :  "dd MMM y"}}</h5>
                    <h6 class="bankNameCss"><b>{{eft.bankName}}</b></h6>
                    <p class="abaRoutingCss">{{eft.transitNum}} {{eft.financialNum}} {{eft.acctNum}}</p>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3"><h4>Property Card Details</h4></label>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label for="cardNumber">Bank Name</label>
                        <input type="text" name="NameBank" class="form-control input-sm" maxlength="65" id="cardNumber" placeholder="Bank Number" value="" ng-model="eft.bankName">
                    </div>
                    <div class="col-md-4">
                        <label for="cardExpiry">Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="eft.checkDate" is-open="popup1.opened" ng-change="confirmBD(eft.checkDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="cardLastname">Currency</label>
                        <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="eft.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>
                </div>
                <!--Second Layer-->
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label for="cardName">Transit Number</label>
                        <input type="text" name="first-name" class="form-control input-sm jp-card-invalid" maxlength="13" id="cardName" placeholder="Transit Number" value="" ng-model="eft.transitNum">
                    </div>
                    <div class="col-md-4">
                        <label for="cardMiddlename">Financial Institution Number</label>
                        <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" maxlength="13" placeholder="Financial Institution Number" value="" ng-model="eft.financialNum">
                    </div>
                    <div class="col-md-4">
                        <label for="cardMiddlename">Account Number</label>
                        <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" maxlength="13" placeholder="Account Number" value="" ng-model="eft.acctNum">
                    </div>
                </div>
                <!--Third Layer-->
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label for="cardName">Account Type</label>
                        <div>
                            <select class="form-control">
                                <option>Savings Accounts</option>
                                <option>Checking Accounts</option>
                                <option>Interest-Bearing Checking Accounts</option>
                                <option>Money Market Deposit Accounts</option>
                                <option>Certificates of Deposit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="cardMiddlename">Personal/Corporate</label>
                        <select class="form-control">
                            <option>Personal Accounts</option>
                            <option>Joint Accounts</option>
                            <option>Corporate Accounts</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-9">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control input-sm" placeholder="Address" value="">

                    </div>
                    <div class="col-md-3">
                        <label class="control-label">City</label>
                        <input type="text" class="form-control input-sm" placeholder="City" value="">
                    </div>

                </div>


                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Country</label>
                        <div>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="eft.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">State/Province</label>
                        <div>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="eft.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class=" control-label">Postal Code</label>
                        <input type="text" class="form-control input-sm" placeholder="Postal Code" value="">
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
</div>
<!-- /panel -->