﻿
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index-2.html"> Home</a></li>
            <li class="active">Cash Out</li>
        </ul>
    </div>
    <!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="">
            <h3 class="no-margin">eTransfer</h3>
        </div>
        <!-- /page-title -->
    </div>
    <!-- /main-header -->

    <div class="panel panel-default paddingLayout">
        <form class="form-horizontal form-border">
            <div class="panel-heading">
                <b>Electronic Transfer</b>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class='card-wrapper'></div>
                    <div class="form-group">
                        <label class="control-label col-md-2"><h4>eTransfer Details</h4></label>
                    </div>
                    <!--First Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label for="cardName">Debit From</label>
                            <div>
                                <select class="form-control">
                                    <option>Savings Accounts</option>
                                    <option>Checking Accounts</option>
                                    <option>Interest-Bearing Checking Accounts</option>
                                    <option>Money Market Deposit Accounts</option>
                                    <option>Certificates of Deposit</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="cardNumber">Please Enter OTP</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input type="text" class="form-control input-sm" placeholder="Enter OTP">
                                    <button type="button" class="btn btn-sm btn-info" tabindex="-1">Resend OTP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12">
                        <!--Part 1 - Left Side-->
                        <div class="col-md-6">
                            <label for="cardName"><u>SPECIFY BENEFICIARY BANK</u></label>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Swift/BIC *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Swift/BIC" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Name *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Name" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Address *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Address" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Country *</label>
                                    <div>
                                        <select class="form-control">
                                            <option>United States</option>
                                            <option>United Kingdom</option>
                                            <option>Philippines</option>
                                            <option>Panama</option>
                                            <option>Canada</option>
                                        </select>
                                    </div><!-- /.col -->
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">ABA/RTN</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="ABA/RTN" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="cardName"><u>TRANSFER DETAILS</u></label>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <label for="cardName">Amount to transfer *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Amount" value="">
                                </div>
                                <div class="col-md-6">
                                    <label for="cardName">Currency</label>
                                    <div>
                                        <select class="form-control">
                                            <option>USD</option>
                                            <option>EUR</option>
                                            <option>CAD</option>
                                            <option>AUD</option>
                                            <option>PHP</option>
                                        </select>
                                    </div><!-- /.col -->
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Description</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-6">
                            <label for="cardNumber"><u>SPECIFY BENEFICIARY CUSTOMER</u></label>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Name *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Name" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Address *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Address" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Acct #/IBAN *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Acct #/IBAN" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="cardName"><u>ADDITIONAL INFORMATION</u></label>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Ref Message *</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Ref Message" value="">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="label-checkbox inline">
                                    <input type="checkbox" name="mycheckbox" id="mycheckbox" value="0">
                                    <span class="custom-checkbox"></span>
                                </label>
                                <label for="cardName"><u>SPECIFY INTERMEDIARY BANK</u></label>
                            </div>

                            <div class="form-group col-md-12" id="mycheckboxdiv" style="display:none">
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label for="cardName">Swift/BIC</label>
                                        <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Swift/BIC" value="">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label for="cardName">Name</label>
                                        <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Name" value="">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label for="cardName">Address</label>
                                        <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Address" value="">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label for="cardName">Location</label>
                                        <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Location" value="">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label class="control-label">Country</label>
                                        <div>
                                            <select class="form-control">
                                                <option>United States</option>
                                                <option>United Kingdom</option>
                                                <option>Philippines</option>
                                                <option>Panama</option>
                                                <option>Canada</option>
                                            </select>
                                        </div><!-- /.col -->
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label for="cardName">ABA/RTN</label>
                                        <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="ABA/RTN" value="">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        <label for="cardName">Acct #/IBAN</label>
                                        <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Acct #/IBAN" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /panel -->
