﻿@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<div growl class="pull-right"></div>
<div ng-controller="CWLoginController">
    <!--Login Page-->

    <div class="login-wrapper">

        <div class="text-center">
            <img src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" style="padding-left:15em !important;">
            <h2 class="fadeInUp" style="font-weight:bold">
                <span class="text-primary">Coop</span> <span style="color:#afafaf; text-shadow:0 1px #fff">eWallet</span>
            </h2>
        </div>
        <div class="login-widget">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Login
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-login">
                        <div class="form-group">
                            <label>Mobile No.</label>
                            <input type="text" placeholder="Mobile Number" class="form-control input-sm" ng-intl-tel-input ng-model="login.mobilenumber" style="width:366px!important;">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" placeholder="Password" class="form-control input-sm" ng-model="login.password">
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="label-checkbox inline">
                                        <input type="checkbox" class="regular-checkbox chk-delete" />
                                        <span class="custom-checkbox info"></span>
                                    </label>
                                    Remember me
                                </div>
                                <div class="col-md-6" align="right">
                                    <a href="@Url.Action(" ForgetPassword", "Signin" )"><span style="font-size:11px;">Forget Password?</span></a>
                                </div>
                            </div>
                        </div>

                        <br /><br />
                        <div class="seperator"></div><div class="seperator"></div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <span style="font-size:11px;">Don't have an account?</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <a class="btn btn-default btn-xs login-link" href="@Url.Action(" Index", "Registration" )" style="margin-top:-2px;"><i class="fa fa-plus-circle"></i> Sign up</a>
                            </div>
                            <hr />
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <hr />
                                <a class="btn btn-primary btn-sm pull-right" ng-click="submitLogin();" ng-disabled="!login.mobilenumber || !login.password"><i class="fa fa-sign-in"></i> Sign in</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
    </div><!-- /login-wrapper -->
</div>