﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
</div><!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Ministatement</h3>

    </div><!-- /page-title -->
</div><!-- /main-header -->

<div class="padding-md clearfix">
    <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
        <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"><div id="dataTable_length" class="dataTables_length"><label>Show <select class="form-control input-sm inline-block" size="1" style="width:100px;" name="dataTable_length" aria-controls="dataTable"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div class="dataTables_filter" id="dataTable_filter"><label> <div class="input-group pull-right" style="width:200px;"><input type="text" class="form-control input-sm" placeholder="search here..." aria-controls="dataTable"><span class="input-group-btn"><button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button></span></div></label></div></div>
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th>Serial#</th>
                    <th>Date</th>
                    <th width="30%">Description</th>
                    <th>Deposits</th>
                    <th>Withdrawals</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="statement in statements">
                    <td>{{statement.id}}</td>
                    <td>{{statement.dataCreated | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                    <td>{{statement.description}}</td>
                    <td>{{statement.deposits}}</td>
                    <td>{{statement.withdrawals}}</td>
                    <td>{{statement.balance}}</td>
                </tr>

            </tbody>
        </table>

        <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"><div class="dataTables_info" id="dataTable_info">Showing 1 to 10 of 12 entries</div><div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="dataTable_paginate"><a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" id="dataTable_first">First</a><a tabindex="0" class="previous fg-button ui-button ui-state-default ui-state-disabled" id="dataTable_previous">Previous</a><span><a tabindex="0" class="fg-button ui-button ui-state-default ui-state-disabled">1</a><a tabindex="0" class="fg-button ui-button ui-state-default">2</a></span><a tabindex="0" class="next fg-button ui-button ui-state-default" id="dataTable_next">Next</a><a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="dataTable_last">Last</a></div></div>
    </div>
</div>