﻿	<div class="login-wrapper">
		<div class="text-center">
			<h2 class="fadeInUp" style="font-weight:bold">
				<span class="text-primary">Coop</span> <span style="color:#afafaf; text-shadow:0 1px #fff">eWallet</span>
			</h2>
		</div>
		<div class="login-widget">	
            <a href="login.html">login.html</a>
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class="pull-left">
						<i class="fa fa-lock fa-lg"></i> Login
					</div>
				</div>

				<div class="panel-body">
					<form class="form-login">
						<div class="form-group">
							<label>Mobile No.</label>
							<input type="text" placeholder="Mobile Number" ng-model="login.mobilenumber" class="form-control input-sm" >
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" placeholder="Password" ng-model="login.password" class="form-control input-sm">
						</div>
						<div class="form-group">
							<label class="label-checkbox inline">
								<input type="checkbox" class="regular-checkbox chk-delete" />
								<span class="custom-checkbox info"></span>
							</label>
							Remember me		
						</div>
		
						<div class="seperator"></div>
						<div class="form-group">
							<span style="font-size:11px;">Don't have an account?</span>
							<a class="btn btn-default btn-xs login-link" href="" ui-sref="register" style="margin-top:-2px;"><i class="fa fa-plus-circle"></i> Sign up</a>
						</div>
						<hr/>
                        <p>Provided by <a href="http://www.graphicdesk.ro" target="_blank">www.GraphicDesk.ro</a></p>
                        <a href="#contactModal" role="button" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-contact "></i> <span class="network-name">Contact</span></a>
                        <!-- Modal -->
                        <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Contact</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="containter">
                                            <div class="row">
                                                <form class="form-horizontal" name="commentform" method="post" action="send_form_email.php">
                                                    <div class="col-xs-8">
                                                        <div class="form-group">
                                                            <label for="InputName" class="col-lg-4 control-label">Name</label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="first_name" id="first_name" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputEmail" class="col-lg-4 control-label">Email</label>
                                                            <div class="col-lg-8">
                                                                <input type="email" class="form-control" id="email" name="email" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputMessage" class="col-lg-4 control-label">Message</label>
                                                            <div class="col-lg-8">
                                                                <textarea name="comments" id="comments" class="form-control" rows="5" required></textarea>
                                                            </div>
                                                        </div>

                                                        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                                                    </div>
                                                </form>
                                                <hr class="featurette-divider hidden-lg">
                                                <div class="col-xs-4 text-right ">
                                                    <address>
                                                        <h3>Locatie</h3>
                                                        <p class="lead">
                                                            <a href="https://goo.gl/maps/7ryTz">
                                                                City<br>
                                                            </a><br>
                                                            Phone: xxx<br>
                                                            E-mail: xxxxx
                                                        </p>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End of Modal body -->
                                </div><!-- End of Modal content -->
                            </div><!-- End of Modal dialog -->
                        </div>
						<a class="btn btn-primary btn-sm login-link pull-right" href="" ng-click="submit()"><i class="fa fa-sign-in"></i> Sign in</a>
					</form>
				</div>
			</div><!-- /panel -->
		</div><!-- /login-widget -->
	</div><!-- /login-wrapper -->

