﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Mini Statement</li>
    </ul>
</div><!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Ministatement</h3>

    </div><!-- /page-title -->
</div><!-- /main-header -->

<div class="padding-md clearfix">
    <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
        
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th>
                        <p># of Statement(s): {{statements.length}}</p>
                    </th>
                    <th>
                        <div class="dataTables_filter" id="dataTable_filter" style="width:500px;">
                            <input type="text" class="form-control input-sm" ng-model="searchKeyword" placeholder="search here..." aria-controls="dataTable">
                        </div>
                    </th>
                    <th>
                        <a class="btn btn-success"><i class="fa fa-file-text-o" aria-hidden="true"></i> PDF</a>
                        <a class="btn btn-success"><i class="fa fa-print"></i> Print</a>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="table table-fixed" >
            <thead>
                <tr>
                    <th>Serial#</th>
                    <th>Date</th>
                    <th width="30%">Description</th>
                    <th>Deposits</th>
                    <th>Withdrawals</th>
                    <th>Balance</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="statement in statements | filter: searchKeyword">
                    <td>{{statement.id}}</td>
                    <td>{{statement.dataCreated | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                    <td>{{statement.description}}</td>
                    <td>{{statement.deposits}}</td>
                    <td>{{statement.withdrawals}}</td>
                    <td>{{statement.balance}}</td>
                    <td><span class="label label-success">{{statement.status}}</span></td>
                </tr>

            </tbody>
        </table>

        <!--<pagination ng-model="pageNo"
                    total-items="statements.length"
                    max-size="pageSize"
                    boundary-links="true">
        </pagination>-->
        
        <!--<ul uib-pagination direction-links="true" total-items="totalItems" ng-model="pageNo" num-pages="smallnumPages" ng-change="pageChanged()"></ul>-->
        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pageNo" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
</div>