﻿
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index-2.html"> Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
    <!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">Cash In - Credit Card</h3>
        </div>
        <!-- /page-title -->
    </div>
    <!-- /main-header -->

    <div class="panel panel-default paddingLayout">
        <form class="form-horizontal form-border">
            <div class="panel-heading">
                <b>Credit Information</b>
            </div>

            <div class="panel-body">
                <div class="form-group">

                    <div class='card-wrapper'></div>
                    <!-- CSS is included via this JavaScript file -->
                    <script src="~/../../Content/templateFrontend/customerAdmin/dist/card.js"></script>
                    <form>
                        <div class="form-group">
                            <label class="control-label col-md-2"><h4>Card Information</h4></label>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" name="number" class="form-control input-sm" id="cardNumber" placeholder="Card Number" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="cardExpiry">Expiry</label>
                                <input type="text" name="expiry" class="form-control input-sm" id="cardExpiry" placeholder="Card Expiry" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="cardCvc">CVC</label>
                                <input type="text" name="cvc" class="form-control input-sm" id="cardCvc" placeholder="Card CVC" value="">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <label for="cardName">First Name</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Card First Name" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="cardMiddlename">Middle Name</label>
                                <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Card Middle Name" value="">
                            </div>
                            <div class="col-md-4">
                                <label for="cardLastname">Last Name</label>
                                <input type="text" name="last-name" class="form-control input-sm" id="cardLastname" placeholder="Card Last Name" value="">
                            </div>
                        </div>
                    </form>
                    <script>
                        var card = new Card({
                            form: 'form',
                            container: '.card-wrapper',

                            formSelectors: {
                                nameInput: 'input[name="first-name"], input[name="last-name"]'
                            }
                        });
                    </script>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="control-label"><h4>Personal Information</h4></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">Gender</label>
                    <div class="col-lg-2">
                        <label class="label-radio inline">
                            <input type="radio" name="inline-radio">
                            <span class="custom-radio"></span>
                            Male
                        </label>
                        <label class="label-radio inline">
                            <input type="radio" name="inline-radio">
                            <span class="custom-radio"></span>
                            Female
                        </label>
                    </div>
                    <label class="col-md-2 control-label">Date Picker</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" value="06/10/2013" class="datepicker form-control">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div><!-- /.col -->
                </div>

                <div class="form-group col-md-12">
                    <label class="col-lg-2 control-label">Choose your address:</label>
                    <div class="col-md-5">
                        <label class="label-radio inline">
                            <input type="radio" name="inline-radio-address">
                            <span class="custom-radio"></span>
                            New Address
                        </label>
                        <label class="label-radio inline">
                            <input type="radio" name="inline-radio-address">
                            <span class="custom-radio"></span>
                            Existing Address
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-9">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control input-sm" placeholder="Address" value="">

                    </div>
                    <div class="col-md-3">
                        <label class="control-label">City</label>
                        <input type="text" class="form-control input-sm" placeholder="City" value="">
                    </div>

                </div>


                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">State/Province</label>
                        <div>
                            <select class="form-control">
                                <option>Alabama</option>
                                <option>Carolina</option>
                                <option>Delta</option>
                                <option>Texax</option>
                                <option>Washingtom</option>
                            </select>
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Country</label>
                        <div>
                            <select class="form-control">
                                <option>United States</option>
                                <option>United Kingdom</option>
                                <option>Philippines</option>
                                <option>Panama</option>
                                <option>Canada</option>
                            </select>
                        </div><!-- /.col -->
                    </div>
                    <div class="col-md-4">
                        <label class=" control-label">Postal Code</label>
                        <input type="text" class="form-control input-sm" placeholder="Postal Code" value="">
                    </div>


                </div>

                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn btn-primary" type="reset">Reset</button>
                        <button class="btn btn btn-primary">Submit</button>
                    </div>
                </div>
        </form>
    </div>
    <!-- /panel -->


