﻿
<div class="alert alert-info" ng-if="customer.isInOFACList">
    <strong>Please Verify your account by adding your profile photo, proof of billing photo and Identification Card photo in profile section. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
</div>


<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">ETransfer</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    
    <div class="col-sm-12">
        <div class="col-sm-8">
            <div class="page-title">
                <img align="middle" src="~/../../Content/templateFrontend/customerAdmin/img/etransfer.png" alt="etransfer" style="width: 170px !important;">

            </div>
            <div> 
                <h4 style="text-align:center !important;">
                    <i>"Now You can send your email money to your friends and family any where in the world."</i>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        
        <div class="panel-heading">
            <b>E-Transfer</b>&nbsp;<p>Current Balance: <b>{{balancelimit | number:2}} {{etransfer.currencyfromiso}}</b></p>
        </div>
        <div class="alert alert-warning" ng-if="startNotif">
            <strong>Please select account currency with more than zero (0) remaining balance or Cash In first to process a transfer.</strong> <a href="" ui-sref="creditcard" class="alert-link">Click here.</a>.
        </div>
        <div class="alert alert-warning" ng-if="notifyZeroBalance">
            <strong>This Account does not have enough balance left to do transaction, please cash in first or select account currency with more than zero (0) remaining balance. </strong> <a href="" ui-sref="creditcard" class="alert-link">Click here.</a>.
        </div>
        <div class="alert alert-info" ng-if="notifyExceededLimit">
            <strong>The requested amount to send in {{etransfer.currencyfromiso}}, exceeded the limit of your account balance. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
        </div>
        <div class="panel-body" ng-if="!customer.isInOFACList">
            <div class="form-group">
                <div class='card-wrapper'></div>
                <!--First Layer-->
                <!--<div class="form-group col-md-12">
                    <div class="col-md-6">
                        <div class="list-group-item">
                            <div class="list-group-item-text clearfix">
                                <div class="pull-left m-left-sm m-top-sm">
                                    <strong>{{totalbalance | currency: customer.currency : '2'}}</strong>
                                    <span class="text-muted block">Wallet Balance</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--Second Layer-->
                <div class="col-md-12">
                    <div class="col-md-6">
                            <label class="">Transfer Type</label><span ng-if="etransfer.transactionid === ''" style="color:darkred"> Please Select Transfer Type</span>
                            <select class="form-control" ng-model="etransfer.transactionid" ng-change="changeTT()">
                                <option value="">-- Select Transfer Type --</option>
                                <option value=1>-- Email Transfer --</option>
                                <option value=2>-- SMS Transfer --</option>
                            </select>
                    </div>
                    <!--<div class="col-md-6">
                        <div class="form-group col-md-12" style="padding-right: 0px !important;">
                            <div class="col-md-12" style="padding-right: 0px !important;">
                                <label class="">Currency To Transfer</label>
                                <select ng-model="etransfer.currencytoiso" class="form-control" ng-change="setCurrency();">-->
                                    <!--ng-options="items as item.iso for item in currencyData track by item.id"     ng-change="setConversionData(item.id)"-->
                                    <!--<option value="">--Currency--</option>
                                    <option ng-repeat="readData in currencyData" value="{{readData.iso}}">{{readData.iso}} &nbsp; ({{readData.name}})</option>
                                </select>
                            </div>
                        </div>
                    </div>-->
                </div>

                <!--Third Layer-->
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <label><strong>Conversion Rate</strong></label>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label class="">From: <span class="label label-danger"><strong>1.00</strong></span></label>
                            <select ng-model="etransfer.currencyfromiso" class="form-control" ng-change="selectCurrencyFrom(etransfer.currencyfromiso); setCurrencyForBenificiary()">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="" > To: <span class="label label-danger" ng-repeat="(key,values) in currencyValue"> <strong>{{threeDecimal(values)}}</strong></span></label>
                            <select ng-model="etransfer.currencytoiso" class="form-control" ng-change="convertCurrency(etransfer.currencyfromiso,etransfer.currencytoiso); setCurrencyForBenificiary()">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label class="">Send Amount in {{etransfer.currencyfromiso}}</label>
                            <input type="number" class="form-control" placeholder="Amount" ng-model="etransfer.amountfrom" ng-change="setCurrencyForBenificiary()" ng-disabled="notifyZeroBalance" />
                        </div>
                        <div class="col-md-6">
                            <label class="">Benificiary amount in {{etransfer.currencytoiso}}</label>
                            <input type="number" class="form-control" ng-model="etransfer.amountto" disabled />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <div ng-if="etransfer.transactionid == 1">
                            <div class="col-md-12">
                                <label>Email Transfer</label>
                            </div>
                            <br />
                            <br />

                            <div class="col-md-6">
                                <label>Beneficiary Name</label>
                                <input type="text" class="form-control themeColor" placeholder="Benificiary Name" ng-model="etransfer.benificiaryfullname" />
                            </div>
                            <div class="col-md-3">
                                <label class="themeColor">Beneficiary Email id</label>
                                <input type="email" class="form-control themeColor" placeholder="Benificiary Email Id" ng-model="etransfer.benificiaryemail" ng-blur="checkEmail(etransfer.benificiaryemail)"/>
                            </div>

                            <div class="col-md-3">
                                <label class="themeColor">Mobile Number</label>
                                <div class="col-md-12" style="padding-left:0px !important;">
                                    <input type="text" placeholder="Mobile Number" id="mobilenumber" class="form-control input-sm" ng-model="etransfer.benificiarymobileno" ng-intl-tel-input ng-change="change()" ng-blur="checkMobile(etransfer.benificiarymobileno)">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <br />
                                <label class="themeColor">Security Question & Answer</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control themeColor" placeholder="Question" ng-model="etransfer.question" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control themeColor" placeholder="Answer" ng-model="etransfer.answer" />
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-md-12">
                        <div ng-if="etransfer.transactionid == 2">
                            <div class="col-md-12">
                                <label>SMS Transfer</label>
                            </div>
                            <br />
                            <br />

                            <div class="col-md-6">
                                <label class="themeColor">Beneficiary Name</label>
                                <input type="text" class="form-control themeColor" placeholder="Benificiary Name" ng-model="etransfer.benificiaryfullname" />
                            </div>
                            <div class="col-md-3">
                                <label class="themeColor">Beneficiary Email id</label>
                                <input type="email" class="form-control themeColor" placeholder="Benificiary Email Id" ng-model="etransfer.benificiaryemail" ng-blur="checkEmail(etransfer.benificiaryemail)" />
                            </div>
                            <div class="col-md-3">
                                <label class="themeColor">Mobile Number</label>
                                <div class="col-md-12" style="padding-left:0px !important;">
                                    <input type="text" placeholder="Mobile Number" id="mobilenumber" class="form-control input-sm" ng-model="etransfer.benificiarymobileno" ng-intl-tel-input ng-change="change()" ng-blur="checkMobile(etransfer.benificiarymobileno)">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <label class="themeColor">Security Question & Answer</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control themeColor" placeholder="Question" ng-model="etransfer.question" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control themeColor" placeholder="Answer" ng-model="etransfer.answer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
       

        <div class="panel-footer">
            <div class="text-right">
               
                <button class="btn btn btn-primary" ng-click="submitForm();" ng-disabled="lockBtn || etransfer.question === undefined || etransfer.answer === undefined || etransfer.benificiaryfullname === undefined || etransfer.amountfrom <= 0 || (etransfer.benificiarymobileno === undefined && (etransfer.benificiaryemail === undefined || etransfer.benificiaryemail === ''))">Submit</button>
            </div>
        </div>
    </form>
</div>
