﻿ <!-- Overlay Div -->
<!--<div id="overlay" class="transparent"></div>-->


<div id="theme-setting">
    <div class="title">
        <strong class="no-margin">Skin Color</strong>
    </div>
    <div class="theme-box">
        <a class="theme-color" style="background:#323447" id="default"></a>
        <a class="theme-color" style="background:#efefef" id="skin-1"></a>
        <a class="theme-color" style="background:#a93922" id="skin-2"></a>
        <a class="theme-color" style="background:#3e6b96" id="skin-3"></a>
        <a class="theme-color" style="background:#635247" id="skin-4"></a>
        <a class="theme-color" style="background:#3a3a3a" id="skin-5"></a>
        <a class="theme-color" style="background:#495B6C" id="skin-6"></a>
    </div>
    <div class="title">
        <strong class="no-margin">Sidebar Menu</strong>
    </div>
    <div class="theme-box">
        <label class="label-checkbox">
            <input type="checkbox" checked id="fixedSidebar">
            <span class="custom-checkbox"></span>
            Fixed Sidebar
        </label>
    </div>
</div><!-- /theme-setting -->
<div id="wrapper" class="preload">
    <div id="top-nav" class="fixed skin-6">
        <div class="logoPosition">
            <a href="#" class="brand">
                <img src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar">
            </a><!-- /brand -->
        </div>
        <ul class="nav-notification clearfix">
            <li class="flagAlign">
                <img class="pos" src="~/Content/templateFrontend/customerAdmin/img/usicon.png" alt="User Avatar">
                <img class="pos" src="~/Content/templateFrontend/customerAdmin/img/ukicon.png" alt="User Avatar">
                <img class="pos" src="~/Content/templateFrontend/customerAdmin/img/franceicon.png" alt="User Avatar">
            </li>
        </ul>
        <ul class="nav-notification clearfix">
            <li class="profile dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <strong>{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</strong>
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="clearfix" href="">
                            <img src="~/Content/templateFrontend/customerAdmin/img/user5.jpg" alt="User Avatar">
                            <div class="detail">
                                <strong>{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</strong>
                                <p class="grey">{{customer.email}}</p>
                            </div>
                        </a>
                    </li>
                    <li><a tabindex="-1" href="profile.html" class="main-link"><i class="fa fa-edit fa-lg"></i> Edit profile</a></li>
                    <li><a tabindex="-1" href="gallery.html" class="main-link"><i class="fa fa-picture-o fa-lg"></i> Photo Gallery</a></li>
                    <li><a tabindex="-1" href="#" class="theme-setting"><i class="fa fa-cog fa-lg"></i> Setting</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" class="main-link logoutConfirm_open" href="" ng-click="logout()"><i class="fa fa-lock fa-lg"></i> Log out</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /top-nav-->

    <aside class="fixed skin-6">
        <div class="sidebar-inner scrollable-sidebar">
            <div class="size-toggle">
                <a class="btn btn-sm" id="sizeToggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-sm pull-right logoutConfirm_open" href="#logoutConfirm">
                    <!--<i class="fa fa-power-off"></i>-->
                </a>
            </div><!-- /size-toggle -->
            <div class="user-block clearfix">
                <img src="~/Content/templateFrontend/customerAdmin/img/user5.jpg" alt="User Avatar">
                <div class="detail">
                    <strong>{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</strong>
                    <ul class="list-inline">
                        <li><a href="" ui-sref="openProfile">Profile</a></li>
                    </ul>
                </div>
            </div><!-- /user-block -->

            <div class="main-menu">
                <ul>
                    <li class="active">
                        <a href="" ui-sref="dashboard">
                            <span class="menu-icon">
                                <i class="fa fa-desktop fa-lg"></i>
                            </span>
                            <span class="text">
                                Dashboard
                            </span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="etransfer">
                            <span class="menu-icon">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                            </span>
                            <span class="text">
                                eTransfer
                            </span>
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ui-sref="openMiniStatement">
                            <span class="menu-icon">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </span>
                            <span class="text">
                                Mini Statement
                            </span>

                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li class="openable">
                        <a href="" ui-sref="openLoadWallet">
                            <span class="menu-icon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <span class="text">
                                Cash In
                            </span>
                            <span class="menu-hover"></span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="openable">
                                <a href="#">
                                    <span class="submenu-label">Check 21</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a>
                                <a href="#">
                                    <span class="submenu-label">Credit Card</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">EFT</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">Cash Location</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">Cooptavanza RL</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" ui-sref="openPayoutWallet">
                            <span class="menu-icon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <span class="text">
                                Cash Out
                            </span>
                            <span class="menu-hover"></span>
                        </a>
                        <ul class="submenu" style="display: none;">
                            <li class="openable">
                                <a href="#">
                                    <span class="submenu-label">OTC</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a>
                                <a href="#">
                                    <span class="submenu-label">Union Pay Card</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">ATM</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">ACH</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">Property Card</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a><a href="#">
                                    <span class="submenu-label">Cooptavanza RL</span>
                                    <span class="badge badge-danger bounceIn animation-delay1 pull-right"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" ui-sref="openBillPayment">
                            <span class="menu-icon">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                            </span>
                            <span class="text">
                                Bill Payment
                            </span>

                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-icon">
                                <i class="fa fa-tasks fa-lg"></i>
                            </span>
                            <span class="text">
                                eCurreny
                            </span>

                            <span class="menu-hover"></span>
                        </a>
                    </li>
                </ul>

            </div><!-- /main-menu -->
        </div><!-- /sidebar-inner -->
    </aside>

    <div id="main-container">
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
                <li class="active">Mini Statement</li>
            </ul>
        </div><!-- /breadcrumb-->
        <div class="main-header clearfix">
            <div class="page-title">
                <h3 class="no-margin">Ministatement</h3>

            </div><!-- /page-title -->
        </div><!-- /main-header -->

        <div class="padding-md clearfix">
            <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <br />
                        <p class="modal-title">Send money to other wallet</p>
                        <hr class="colorgraph">

                        <label class="themeColor">Wallet Balance & Conversion Rate</label>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td>
                                        <input type="number" class="form-control themeColor" value="1" disabled />
                                    </td>
                                    <td>
                                        <label>&nbsp;{{smsMoneyData.currency}}&nbsp;</label>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control themeColor" value="{{convertedRate1}}" disabled />
                                    </td>
                                    <td>
                                        <label>&nbsp;{{beneficiaryData.currency}}&nbsp;</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <label class="themeColor">Bank Credit Union</label>
                        <select class="form-control themeColor">
                            <option value="">--Bank Name--</option>
                            <option value="1">COOPTAVANZA RL</option>
                        </select>
                        <div>
                            <label class="themeColor">Beneficiary Mobile No.</label>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <input type="text" class="form-control themeColor" placeholder="Benificiary Mobile Number" ng-model="beneficiaryMobileNumber" />
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="btn-toolbar">
                                        <button class="btn-flat btn-flat-color btn-flat-theme" type="button" ng-click="loadDetails()">Load Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="themeColor">Beneficiary Name</label>
                            <input type="text" class="form-control themeColor" placeholder="Benificiary Name" value="{{beneficiaryData.firstname }} {{beneficiaryData.middlename}} {{beneficiaryData.lastname}}" disabled />
                        </div>
                        <div>
                            <label class="themeColor">Send Amount & Beneficiaries Amount</label>
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control themeColor" placeholder="Amount" ng-model="amntToConvert" ng-change="amountToConvert()" />
                                        </td>
                                        <td>
                                            <label>&nbsp;{{smsMoneyData.currency}}&nbsp;</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control themeColor" placeholder="Benificiary Amount" value="{{convertedRate2}}" disabled />
                                        </td>
                                        <td>
                                            <label>&nbsp;{{beneficiaryData.currency}}&nbsp;</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-3"></div>
                            <div class="col-xs-12 col-md-9">
                                <div class="btn-toolbar">
                                    <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="smsMoneyClose()">Close</button>
                                    <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submitForm()">Submit</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-2"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- /main-container -->



   
