﻿<div class="alert alert-info" ng-if="!customer.isInOFACList">
    <strong>Please Verify your account by adding your profile photo, proof of billing photo and Identification Card photo in profile section. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
</div>
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a ui-sref="dashboard"> ETransfer</a></li>
            <li class="active">Etransfer</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">Etransfer</h3>

        </div><!-- /page-title -->
    </div><!-- /main-header -->

    <div class="padding-md clearfix" ng-if="!customer.isInOFACList">
        <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
            <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group" name="default">
                            <div class="row">

                                <div class="col-xs-12 col-md-6">
                                    <label class="themeColor">From:</label>
                                    <select ng-model="conversionRateFrom" class="form-control themeColor">
                                        <option value="">--Select Currencies--</option>
                                        <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label class="themeColor"> To:</label>
                                    <select ng-model="conversionRateTo" class="form-control themeColor" ng-change="convertCurrency(conversionRateFrom,conversionRateTo)">
                                        <option value="">--Select Currencies--</option>
                                        <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-md-7">
                                    <label ng-repeat="(key,values) in currencyValue">&nbsp; Value = {{threeDecimal(values)}}</label>
                                </div>

                            </div>

                        </div>
                        <label class="themeColor">Wallet Balance & Conversion Rate</label>
                        <div class="form-group">
                            <div class="row">

                                <div class="col-xs-12 col-md-6">
                                    <input type="number" class="form-control themeColor" value="1" disabled />
                                    <label class="themeColor">&nbsp;{{emailMoneyData.currency}}&nbsp;</label>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <input type="number" class="form-control themeColor" value="{{getConvertedBalance}}" disabled />
                                    <label class="themeColor">&nbsp;{{currencyName}}&nbsp;</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-md-10">
                                    <select ng-model="setCurrencyForConversion" class="form-control themeColor" ng-change="setCurrency()">
                                        <!--ng-options="items as item.iso for item in currencyData track by item.id"
                                        ng-change="setConversionData(item.id)"-->
                                        <option value="">--Currency--</option>
                                        <option ng-repeat="readData in currencyData" value="{{readData.id}}">{{readData.iso}} &nbsp; ({{readData.name}})</option>
                                    </select>

                                    <label class="themeColor">Transfer Type</label>
                                    <select ng-model="transferType" ng-change="changeTT()">
                                        <option value="">-- Select Transfer Type --</option>
                                        <option value=1>-- Email Tranfer --</option>
                                        <option value=2>-- SMS Tranfer --</option>
                                    </select>
                                    <div ng-if="transferType == 1">
                                        <div>
                                            <label class="themeColor">Beneficiary Email id</label>
                                            <input type="text" class="form-control themeColor" placeholder="Benificiary Email Id" ng-model="emailMoneyData.BenificiaryEmailId" />
                                        </div>
                                        <div>
                                            <label class="themeColor">Beneficiary Name</label>
                                            <input type="text" class="form-control themeColor" placeholder="Benificiary Name" ng-model="emailMoneyData.BenificiaryName" />
                                        </div>
                                        <div>
                                            <label class="themeColor">Security Question & Answer</label>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <input type="text" class="form-control themeColor" placeholder="Question" ng-model="emailMoneyData.Question" />
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <input type="text" class="form-control themeColor" placeholder="Answer" ng-model="emailMoneyData.Answer" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="transferType == 2">
                                        <div>
                                            <label class="themeColor">Mobile Number</label>
                                            <input type="text" class="form-control themeColor" placeholder="Mobile Number" ng-model="emailMoneyData.BenificiaryEmailId" />
                                        </div>
                                        <div>
                                            <label class="themeColor">Beneficiary Name</label>
                                            <input type="text" class="form-control themeColor" placeholder="Benificiary Name" ng-model="emailMoneyData.BenificiaryName" />
                                        </div>
                                        <div>
                                            <label class="themeColor">Security Question & Answer</label>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <input type="text" class="form-control themeColor" placeholder="Question" ng-model="emailMoneyData.Question" />
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <input type="text" class="form-control themeColor" placeholder="Answer" ng-model="emailMoneyData.Answer" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <label class="themeColor">Send Amount & Beneficiaries Amount</label>
                                        <div class="form-group">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control themeColor" placeholder="Amount" ng-model="benificiaryAmount" ng-change="setCurrencyForBenificiary()" />
                                                    </td>
                                                    <td>
                                                        <label class="themeColor">&nbsp;{{emailMoneyData.currency}}&nbsp;</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control themeColor" value="{{getConvertedForBenificiary}}" disabled />
                                                    </td>
                                                    <td>
                                                        <label class="themeColor">&nbsp;{{currencyName}}&nbsp;</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-md-9"></div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="btn-toolbar">
                                        <!--<button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="emailMoneyClose()">Close</button>-->
                                        <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submitForm()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div><!-- /main-container -->
    <!-- Footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p class="no-margin">
                    &copy; 2017 <strong>COOP eWALLET</strong>. ALL Rights Reserved.
                </p>
            </div><!-- /.col -->
        </div><!-- /.row-->
    </footer>


    <!--Modal-->
    <div class="modal fade" id="newFolder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Create new folder</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="folderName">Folder Name</label>
                            <input type="text" class="form-control input-sm" id="folderName" placeholder="Folder name here...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                    <a href="#" class="btn btn-danger btn-sm">Save changes</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
