﻿<div class="alert alert-info" ng-if="customer.isInOFACList">
    <strong>Please Verify your account by adding your profile photo, proof of billing photo and Identification Card photo in profile section. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
</div>

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">China Remit</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">

    <div class="col-sm-12">
        <table>
            <tr>
                <td align="right">
                    <img align="right" src="~/../../Content/templateFrontend/customerAdmin/img/mexLogo.jpg" alt="etransfer" style="width: 170px !important;">
                </td>
                <td style="padding-left:50px !important;">
                    <label style="font-style:italic; font:bolder; font-size:15px;">"Remit to china Top-up UnionPay Cards in 40 Seconds"</label>
                    <ul style="font-style:italic; padding-left:30px; width:381px;">
                        <li>From abroad remit to UnionPay cardholders throughout China.</li>
                        <li>Secure, quick and easy to use web based MoneyExpress portal</li>
                        <li>Licensed and certified by UnionPay</li>
                        <li>Real time authentication with UnionPay and the State Administration of Foreign Exchange of China (“SAFE”)</li>
                        <li>Online access to transaction, settlement reports and support services</li>
                    </ul>
                </td>
                <td style="padding-left:70px !important;">
                    <label style="font-style:italic; font:bolder; font-size:15px;">"Remit to China in 40 seconds"</label>
                    <ul style="font-style:italic; padding-left:30px;">
                        <li>Real-Time Remittance to UnionPay Cards</li>
                        <li>Real-Time S.A.F.E. Verification</li>
                        <li>Online Access to Reports</li>
                    </ul>
                </td>
            </tr>
        </table>
    
    </div>
    <!--<div style="float:right !important;">
        <img align="right" src="../../Content/templateFrontend/customerAdmin/img/mexLogo.jpg" alt="etransfer" style="width: 170px !important;">
    </div>-->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout" id="exportthis">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Remitance</b> <p class="pull-right">Current Balance: <b>{{balancelimit | number:2}} {{currencyfromiso}}</b></p>
        </div>
        <div class="alert alert-warning" ng-if="notifyZeroBalance">
            <strong>This Account does not have enough balance left to do transaction, please cash in first or select account currency with more than zero (0) remaining balance. </strong> <a href="" ui-sref="creditcard" class="alert-link">Click here.</a>.
        </div>
        <div class="alert alert-info" ng-if="notifyExceededLimit">
            <strong>The requested amount to send in {{currencyfromiso}}, exceeded the limit of your account balance. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
        </div>

        <div class="panel-body">
            <div class="form-group" ng-if="!customer.isInOFACList">
                <div class='card-wrapper'></div>
           
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <label><strong>Conversion Rate</strong></label>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label class="">From: <span class="label label-danger"><strong>1.00</strong></span></label>
                            <select ng-model="currencyfromiso" class="form-control" ng-change="selectCurrencyFrom(currencyfromiso); setCurrencyForBenificiary(amountfrom)" ng-disabled="true">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class=""> To: <span class="label label-danger" ng-repeat="(key,values) in currencyValue"> <strong>{{threeDecimal(values)}}</strong></span></label>
                            <select ng-model="currencytoiso" class="form-control" ng-change="convertCurrency(currencyfromiso,currencytoiso); setCurrencyForBenificiary()" ng-disabled="true">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                 <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <div>
                            <div class="col-md-12">
                                <h4><strong>Sender Information</strong></h4>

                            </div>
                            <div class="col-md-4">
                                <label>Sender Id Number</label>
                                <input type="text" class="form-control themeColor" placeholder="Id Number" ng-model="ms.SndIdNo" />
                            </div>

                            <div class="col-md-4">
                                <label>Sender Id Type</label>
                                <select type="text" class="form-control themeColor" placeholder="Id Type" ng-model="SndIdType" ng-options="idtype as idtype.status for idtype in remitIdType | filter:{name:$viewValue}" ng-change="selectedSndIdType(SndIdType)"></select>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <div>
                            <div class="col-md-12">
                                <h4><strong>Receiver Information</strong></h4>


                            </div>


                            <div class="col-md-4">
                                <label>First Name</label>
                                <input type="text" class="form-control themeColor" placeholder="First Name" ng-model="ms.RcvFirstName" />
                            </div>
                        
                            <div class="col-md-4">
                                <label>Last Name</label>
                                <input type="text" class="form-control themeColor" placeholder="Last Name" ng-model="ms.RcvLastName" />
                            </div>
                            <br />
                            <br />
                            <div class="col-md-12">
                            <h4><strong>Address Information</strong></h4>
                            <br />
                                </div>
                            <div class="col-md-6">
                                <label>Address</label>
                                <input type="text" class="form-control themeColor" placeholder="Address" ng-model="ms.stAddress" />
                            </div>
                            <div class="col-md-3">
                                <label>City</label>
                                <input type="text" class="form-control themeColor" placeholder="City" ng-model="ms.city" />
                            </div>
                            <div class="col-md-3">
                                <label>Country</label>
                                <input type="text" class="form-control themeColor" placeholder="Country" ng-model="ms.countryName" uib-typeahead="country as country.commonname for country in countries | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0" />
                            </div>
                            <div class="col-md-3">
                                <label>State/Province</label>
                                <input type="text" class="form-control themeColor" placeholder="state" ng-model="ms.stateName" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0" />
                            </div>
                            <div class="col-md-3">
                                <label>Postal Code</label>
                                <input type="text" class="form-control themeColor" placeholder="Postal code" ng-model="ms.postal" />
                            </div>
                            <hr />
                            <br />
                            <div class="col-md-12">

                            </div>

                            <div class="col-md-3">
                                <label class="themeColor">Beneficiary Email Address(Optional)</label>
                                <input type="email" class="form-control themeColor" placeholder="Benificiary Email Id" ng-model="ms.email" />
                            </div>
                            <div class="col-md-3">
                                <label class="themeColor">Mobile Number</label>
                                <div class="col-md-12" style="padding-left:0px !important;">
                                    <input type="text" id="mobilenumber" class="form-control themeColor" placeholder="Mobile Number" ng-model="ms.mobilenumber" ng-intl-tel-input required style="width: 100%;"  ng-change="mobileChange()"/>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12"></div>
                            <div class="col-md-3">
                                <label>Union Pay Card Account No.</label>
                                <input type="text" class="form-control themeColor" placeholder="Id Number" ng-model="ms.RcvAccntNo" />
                            </div>
                            <div class="col-md-3">
                                <label>Id Card Number .</label>
                                <input type="text" class="form-control themeColor" placeholder="Id Number" ng-model="ms.RcvIdNumber" />
                            </div>
                            <div class="col-md-4">
                                <label>Id Type</label>
                                <select type="text" class="form-control themeColor" placeholder="Id Type" ng-model="RcvIdType" ng-options="idtype as idtype.status for idtype in remitIdType | filter:{name:$viewValue}" ng-change="selectedRcvIdType(RcvIdType)" ng-disabled="true"></select>
                            </div>
                      

                            <div class="col-md-12">

                            </div>

                            <div class="col-md-6">
                                <label>Remitance Purpose</label>
                                
                                    <select class="form-control" ng-model="SendRemitPurpose" placeholder="Remitance Purpose" ng-options="purpose as purpose.definition for purpose in remitPurposes | filter:{name:$viewValue}" ng-change="selectedRemittance(SendRemitPurpose)"></select>
                    
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="reason">
                            <label>Description of Reason (Required)</label>
                                <input type="text" class="form-control themeColor" placeholder="Description of Reason" ng-model="ms.DescriptionReason" />
                        </div>

         
                            <div class="col-md-12">
                                <div class="col-md-6" style="padding:0px 0px 0px 0px !important">
                                    <div class="form-group col-md-12" style="padding-right: 0px !important;">
                                        <div class="col-md-12" style="padding-right: 0px !important; padding-left: 0px !important;">
                                            <label class="">Currency To Transfer</label>
                                            <select ng-model="currencytoiso" class="form-control" ng-change="setCurrencyForBenificiary()"  ng-disabled="true">
                                         
                                                <option value="">--Currency--</option>
                                                <option ng-repeat="readData in currencyData" value="{{readData.iso}}">{{readData.iso}} &nbsp; ({{readData.name}})</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style=" padding-right: 0px !important;">
                                    <div class="col-md-6" style=" padding-left: 0px !important;">
                                        <label class="">Send Amount in {{currencyfromiso}}</label>
                                        <input type="number" class="form-control text-right" placeholder="Amount" ng-model="amountfrom" step="0.1" ng-change="setCurrencyForBenificiary(amountfrom)" ng-disabled="notifyZeroBalance"/>
                                    </div>
                                    <div class="col-md-6" style="padding:0px 0px 0px 0px !important">
                                        <label class="">Benificiary amount to received {{currencytoiso}}</label>
                                        <input type="number" class="form-control text-right" ng-model="amountto" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <br />
                                <label class="themeColor">Personal Password</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control themeColor" placeholder="Password" ng-model="answer" />
                            </div>
                        </div>
                    </div>
            <div>
            <!--    <button  ng-click="printthis()">Print This</button>-->
            </div>

                </div>
            </div>
        </div>



        <div class="panel-footer">
            <div class="text-right" title="{{warning}}"><!--  || FirstName === undefined || LastName === undefined || amountfrom <= 0 || (mobilenumber === undefined && (email === undefined || email === ''))"-->
                <button class="btn btn btn-primary" title="Please save this document first." ng-click="submitForm();" ng-disabled="lockBtn">Submit</button>
            </div>

        </div>
    </form>
</div>
<style>
    #scrollable-dropdown-menu .dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }
</style>
