﻿
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Profile</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="">
        <h3 class="no-margin">Profile</h3>
        <!--<span>Welcome back Mr.John Doe</span>-->
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">


        <uib-tab index="1" heading="Tab One">
            <uib-tab-heading>
                <span class="block text-center">
                    <i class="fa fa-home fa-2x"></i>
                </span> Overview
            </uib-tab-heading>
            <ng-form name="nestedForm">
                <div class="form-group">
                    <div class="panel-heading">
                        <b>Update Information</b>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-12 col-md-4 text-center">
                                                    <div ng-if="customer.ImageProfile.path == null">
                                                        <a href="">
                                                            <img src="~/Content/templateFrontend/images/icon/userflat2.png" class="id-border" alt="User Avatar" />
                                                            <div class="avatar-container">
                                                                <strong class="font-14 ng-binding">
                                                                    {{customer.firstname | capitalize}} {{customer.lastname | capitalize}}
                                                                </strong>
                                                                <small class="block text-muted ng-binding">
                                                                    {{customer.email}}
                                                                </small>
                                                                <small class="block text-muted ng-binding">
                                                                    {{customer.mobilenumber}}
                                                                </small>
                                                                <div class="seperator"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div ng-if="customer.ImageProfile.path !== null">
                                                        <a href="">
                                                            <img data-ng-src="{{customer.ImageProfile.path}}" class="id-border" />
                                                        </a>
                                                    </div>
                                                </div><!-- /.col -->
                                                <div class="col-xs-6 col-sm-12 col-md-6">
                                                    <div class="form-group col-md-12">
                                                        <h4>Personal Information</h4>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Name</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static">{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Mobile Number</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static">{{customer.mobilenumber}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Phone</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static"><span ng-if="customer.phonenumber != null">{{customer.phonenumber}}</span><span ng-if="customer.phonenumber == null">N/A</span></p>
                                                        </div><!-- /.col -->
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Email</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static">{{customer.email}}</p>
                                                        </div><!-- /.col -->
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Birth Date</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static">{{customer.birthdate | date:"MMMM dd, yyyy"}}</p>
                                                        </div><!-- /.col -->
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Gender</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static">
                                                                <span ng-if="customer.gender === true">Male</span>
                                                                <span ng-if="customer.gender === false">Female</span>
                                                            </p>
                                                        </div><!-- /.col -->
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="col-md-4 control-label">Serial No.</label>
                                                        <div class="col-md-8">
                                                            <p class="form-control-static">{{customer.tid}}</p>
                                                        </div><!-- /.col -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="row">
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-8">
                                            <div class="form-group col-md-12">
                                                <h4>Billing Information</h4>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label class="col-md-4 control-label">Address</label>
                                                <div class="col-md-8">
                                                    <p class="form-control-static">{{customer.address}}, {{customer.city | capitalize}}, {{customer.state | capitalize}}, {{customer.country | capitalize}}</p>
                                                </div><!-- /.col -->
                                            </div>

                                            <div class="form-group col-md-12">
                                                <h4>Currency Details</h4>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label class="col-md-4 control-label">Currency</label>
                                                <div class="col-md-8">
                                                    <p class="form-control-static">{{customer.currency}}</p>
                                                </div><!-- /.col -->
                                            </div>
                                        </div>

                                    </div>

                                    <br />

                                </div>
                            </div>
                            <!-- /panel -->

                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </ng-form>

        </uib-tab>

        <uib-tab index="0" heading="Verify Account Now!">
            <uib-tab-heading>
                <span class="block text-center">
                    <i class="fa fa-envelope fa-2x"></i>
                </span>
                Verify Account
            </uib-tab-heading>
            <ng-form name="nestedForm">
                <div class="form-group">
                    <div class="panel-heading">
                        <b>Account Validation Steps</b>
                    </div>
                    <form name="outerForm" class="tab-form-demo">
                        <uib-tabset active="activeForm">
                            <uib-tab index="0" heading="Photo">
                                <ng-form name="nestedForm">
                                    <div class="form-group">
                                        <div class="panel-heading">
                                        </div>
                                        <div class="panel-body">
                                            <fieldset class="form-horizontal form-border">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-6">
                                                                <h4>Please upload your photo</h4><br />
                                                                <hr />
                                                                <div ng-if="customer.ImageProfile.path == null">
                                                                    <a href="">
                                                                        <img src="~/Content/templateFrontend/images/icon/userflat2.png" class="avatar-border" alt="User Avatar" />
                                                                    </a>
                                                                </div>
                                                                <div ng-if="customer.ImageProfile.path !== null">
                                                                    <a href="">
                                                                        <img data-ng-src="{{customer.ImageProfile.path}}" class="avatar-border" />
                                                                    </a>
                                                                </div>
                                                                <hr />
                                                                <div class="col-lg-10">
                                                                    <!--<div class="btn btn-success" ngf-select="uploadProfile($file)" ng-model="fileProfile" name="file" ngf-pattern="'image/*'"
                                                                         ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                                                                         ngf-resize="{width: 100, height: 100}"><i class="fa fa-cloud-upload"></i>Choose File</div>-->
                                                                    <label for="file-Profile" class="btn btn-success">
                                                                        <i class="fa fa-cloud-upload"></i>Choose File
                                                                    </label>
                                                                 
                                                                    <input id="file-Profile" class=hideInput type="file" ng-model="ImageProfile" onchange="angular.element(this).scope().uploadProfile()">
                                                                    <!-- <input id="file-upload-photo" type="file" class="hideInput" ng-model='customer.ImageProfile.imageString'  ng-disabled="lockImageProfileBtn" on-change="onchangeImageProfile()" on-after-validate="onAfterImageProfile()" base-sixty-four-input />-->
                                                                    <!--<button class="btn btn-primary" ng-click="saveImageProfile();" ng-disabled="lockImageProfileBtn"><i class="fa fa-check-square-o"  ></i> Save</button>-->
                                                                </div><!-- /.col -->
                                                            </div>
                                                            <!--<div class="col-md-3">
                                                                <input type="file" id="file" name="file"  />
                                                                <button ng-click="upload()">p</button>
                                                                This is test
                                                               




                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div><!-- /form-group -->
                                            </fieldset>
                                        </div>
                                    </div>
                                </ng-form>
                            </uib-tab>
                            <uib-tab index="1" heading="Billing">
                                <ng-form name="nestedForm">
                                    <div class="form-group">
                                        <div class="panel-heading">
                                        </div>
                                        <div class="panel-body">
                                            <fieldset class="form-horizontal form-border">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-6">
                                                                <h4>Please upload your billing information</h4><br />
                                                                <hr />
                                                                <div ng-if="customer.ImageBill.path == null">
                                                                    <a href="">
                                                                        <img src="\Content\templateFrontend\customerAdmin\img\default_billing.png" class="id-border" alt="User Avatar" />
                                                                    </a>
                                                                </div>
                                                                <div ng-if="customer.ImageBill.path !== null">
                                                                    <a href="">
                                                                        <img data-ng-src="{{customer.ImageBill.path}}" class="id-border" />
                                                                    </a>
                                                                </div>
                                                                <hr />
                                                                <div class="col-lg-10">
                                                                    <label for="file-Bill" class="btn btn-success">
                                                                        <i class="fa fa-cloud-upload"></i>Choose File
                                                                    </label>

                                                                    <input id="file-Bill" class=hideInput type="file" ng-model="ImageBill" onchange="angular.element(this).scope().uploadBill()">

                                                                    <!--<div class="btn btn-success" ngf-select="uploadBill($file)" ng-model="fileBill" name="file" ngf-pattern="'image/*'"
                                                                         ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                                                                         ngf-resize="{width: 100, height: 100}"><i class="fa fa-cloud-upload"></i>Choose File</div>-->
                                                                    <!--<label for="file-upload-bill" class="btn btn-success">
                                                                        <i class="fa fa-cloud-upload"></i> Choose File
                                                                    </label>
                                                                    <input id="file-upload-bill" type="file" class="hideInput" ng-model='customer.ImageBill.imageString' ng-disabled="lockImageBillBtn" on-change="onchangeImageBill()" on-after-validate="onAfterImageBill()" base-sixty-four-input />-->
                                                                    <!--<button class="btn btn-primary" ng-click="saveImageBill();" ng-disabled="lockImageBillBtn"><i class="fa fa-check-square-o"  ></i> Save</button>-->
                                                                </div><!-- /.col -->
                                                            </div>
                                                            <div class="col-md-3"></div>
                                                        </div>
                                                    </div>
                                                </div><!-- /form-group -->
                                            </fieldset>
                                        </div>
                                    </div>
                                </ng-form>
                            </uib-tab>
                            <uib-tab index="2" heading="ID Card">
                                <ng-form name="nestedForm">
                                    <div class="form-group">
                                        <div class="panel-heading">
                                            <!--Left panel-->
                                        </div>
                                        <div class="panel-body">
                                            <fieldset class="form-horizontal form-border">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <label for="cardMiddlename">ID Card No.</label>
                                                                <input type="text" name="text" class="form-control input-sm" id="idCardNo" placeholder="Card Number"
                                                                       ng-model="customer.ImageIdCard.idCardNo" style="width:270px;" ng-change="changeIdcard()">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <label for="cardMiddlename">ID Card Type</label>
                                                                <input type="text" name="text" class="form-control input-sm" id="idCardType" placeholder="Card Type"
                                                                       ng-model="customer.ImageIdCard.idCardType" style="width:270px;" ng-change="changecardType()" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <label for="cardExpiry">Expire Date</label>
                                                                <div class="input-group">
                                                                    <input type="text"
                                                                           class="form-control themeColor ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched"
                                                                           ng-model="customer.ImageIdCard.expiryDate"
                                                                           placeholder="dd-MM-Year"
                                                                           is-open="popup1.opened"
                                                                           style="width:180px;"/>
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                                                                    </span>
                                                                    <!--type="text"
                                                                    style="opacity: 0.0;"
                                                                    class="form-control"
                                                                    uib-datepicker-popup="dd/MM/yyyy"
                                                                    ng-model="dtWithout"
                                                                    is-open="dpOpenStatus.withoutRequired"-->
                                                                    <!--type="text"
                                                                    class="form-control themeColor ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched"
                                                                    placeholder="dd-MM-Year"
                                                                    ng-model="customer.ImageIdCard.expiryDate"
                                                                    is-open="popup1.opened"
                                                                    uib-datepicker-popup="dd/MM/yyyy"
                                                                    ng-required="true" close-text="Close"
                                                                    alt-input-formats="altInputFormats"
                                                                    required="required"-->
                                                                    <div class="col-lg-8" ng-if="showSaveDetailsBtn">
                                                                        <label for="file-CardId" class="btn btn-success">
                                                                            <i class="fa fa-cloud-upload"></i>Save Details
                                                                        </label>
                                                                        <input id="file-CardId" class=hideInput type="button" ng-click="saveDetails()">
                                                                    </div>
                                                                </div>
                                                                <input type="text"
                                                                       ng-model="customer.ImageIdCard.dummyExpiryDate"
                                                                       is-open="popup1.opened"
                                                                       ng-change="changeDateFormat(customer.ImageIdCard.dummyExpiryDate);"
                                                                       uib-datepicker-popup="dd/MM/yyyy"
                                                                       style="visibility:hidden" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Right Panel-->
                                                    <div class="col-md-8">
                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-10  text-center img-container">
                                                                <h4>Please upload your ID Card</h4>
                                                                <h5><i>Please click submit to validate account</i></h5>
                                                                <hr />
                                                                <div ng-if="customer.ImageIdCard.path == null">
                                                                    <a href="">
                                                                        <img src="\Content\templateFrontend\customerAdmin\img\default_id.png" class="id-border" alt="User Avatar" />
                                                                    </a>
                                                                </div>
                                                                <div ng-if="customer.ImageIdCard.path !== null">
                                                                    <a href="">
                                                                        <img data-ng-src="{{customer.ImageIdCard.path}}" class="id-border" />
                                                                    </a>
                                                                </div>
                                                                <hr />
                                                                <div class="col-lg-10">
                                                                    <label for="file-CardId" class="btn btn-success">
                                                                        <i class="fa fa-cloud-upload"></i>Upload
                                                                    </label>

                                                                    <input id="file-CardId" class=hideInput type="file" ng-model="ImageBill" onchange="angular.element(this).scope().uploadCardId()">
                                                                    <!--<label for="file-upload-id" class="btn btn-success">
                                                                        <i class="fa fa-cloud-upload"></i> Choose File
                                                                    </label>
                                                                    <input id="file-upload-id" type="file" class="hideInput" ng-model='customer.ImageIdCard.imageString' ng-disabled="lockImageIdCardBtn" on-change="onchangeImageIdCard()" on-after-validate="onAfterImageIdCard()" base-sixty-four-input />-->
                                                                   <!-- <button class="btn btn-primary" ng-click="saveImageIdCard();" ng-disabled="lockImageIdCardBtn"><i class="fa fa-check-square-o" ></i> Save</button>-->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3"></div>
                                                        </div>
                                                    </div>
                                                </div><!-- /form-group -->
                                            </fieldset>
                                        </div>
                                    </div>
                                </ng-form>
                            </uib-tab>
                        </uib-tabset>
                    </form>
                </div>
            </ng-form>
        </uib-tab>

        <uib-tab index="2" heading="Tab Two">
            <uib-tab-heading>
                <span class="block text-center">
                    <i class="fa fa-edit fa-2x"></i>
                </span>
                Edit Profile
            </uib-tab-heading>
            <ng-form name="nestedForm">
                <div class="form-group">
                    <div class="panel-heading">
                        <b>Update Information</b>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <div class="col-md-8 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-12 col-md-6 text-center img-container">
                                        <div ng-if="customer.ImageProfile.path == null">
                                            <div>
                                                <img src="~/Content/templateFrontend/images/icon/userflat2.png" class="avatar-border" alt="User Avatar" />
                                            </div>
                                        </div>
                                        <div ng-if="customer.ImageProfile.path !== null">
                                            <div>
                                                <img data-ng-src="{{customer.ImageProfile.path}}" class="avatar-border" />
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div class="text">
                                                <!--<label for="file-upload" class="alert alert-success">
                                                    CHANGE
                                                </label>
                                                <input id="file-upload" type="file" class="hideInput" ng-model='customer.ImageProfile.imageString' ng-disabled="lockImageProfileBtn" on-change="onchangeImageProfile()" on-after-validate="onAfterImageProfile()" base-sixty-four-input />-->
                                         
                                        </div>
                                    </div><!-- /.col -->

                                    <div class="col-xs-6 col-sm-12 col-md-6">
                                        <strong class="font-14">
                                            {{customer.firstname | capitalize}} {{customer.lastname | capitalize}}
                                        </strong>
                                        <small class="block text-muted">
                                            {{customer.email}}
                                        </small>
                                        <small class="block text-muted">
                                            {{customer.mobilenumber}}
                                        </small>
                                        <div class="seperator"></div>
                                        <!--<label for="file-upload" class="btn btn-success btn-xs m-bottom-sm">
                                            <i class="fa fa-cloud-upload"></i> Choose Photo
                                        </label>
                                        <input id="file-upload" type="file" class="hideInput" ng-model='customer.ImageProfile.imageString' base-sixty-four-input />-->
                                        <label for="file-Profile" class="btn btn-success btn-xs m-bottom-sm">
                                            <i class="fa fa-cloud-upload"></i>Choose File
                                        </label>

                                        <input id="file-Profile" class=hideInput type="file" ng-model="ImageProfile" onchange="angular.element(this).scope().uploadProfile()">
                                        <!--Change Password Button-->
                                        <button ng-click="myFunction($event)" class="btn btn-success btn-xs m-bottom-sm"><i class="fa fa-key"></i>Change Password</button>
                                        <div class="seperator"></div>
                                        <!--Script-->
                                        <!--<script>
                                            function myFunction() {
                                                var x = document.getElementById('myDIV');
                                                if (x.style.display === 'none') {
                                                    x.style.display = 'block';
                                                } else {
                                                    x.style.display = 'none';
                                                }
                                            }
                                        </script>-->
                                    </div>
                                    <!--Result Layer-->
                                    <div class="col-xs-6 col-sm-12 col-md-6">
                                        <!--style="display: none !important;"-->
                                        <div id="myDIV" style="display: none !important;" >
                                            <div class="col-md-12">
                                                <label for="oldPassChange">Old Password</label>
                                                <input type="password" name="oldPass" class="form-control input-sm" ng-model="password.old" placeholder="Enter Old Password">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="newPassChange">New Password</label>
                                                <input type="password" name="newPass" class="form-control input-sm" ng-model="password.new" placeholder="Enter New Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <hr />
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <!--Left Panel-->
                                <div class="col-md-4">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-12">
                                            <label for="cardMiddlename">Phone Number</label>
                                            <input type="text" name="text" class="form-control input-sm" id="phonenumber" placeholder="Confirm Phone Number"
                                                   ng-model="customer.phonenumber" ng-intl-tel-input style="width:305px;" ng-change="changePhone()">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-12">
                                            <label for="cardMiddlename">Mobile Number</label>
                                            <input type="text" name="text" class="form-control input-sm" id="mobilenumber" placeholder="Confirm Mobile Number"
                                                   ng-model="customer.mobilenumber" ng-intl-tel-input style="width:305px;" ng-change="changeMobile()"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-12">
                                            <label for="cardMiddlename">Email Address</label>
                                            <input type="email" class="form-control input-sm" placeholder="Username" ng-model="customer.email" style="width:305px;"/>
                                        </div>
                                    </div>
                                </div>
                                <!--Right Panel-->
                                <div class="col-md-8">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Address</label>
                                            <input class="form-control" ng-model="customer.address" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">City</label>
                                            <input class="form-control" ng-model="customer.city" placeholder="City" />
                                        </div><!-- /.col -->
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Country</label>
                                            <!--<input class="form-control" ng-model="customer.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0" />-->
                                            <select class="form-control" ng-model="customer.country" ng-change="selectedCountry()" >
                                                <option ng-repeat="dcountry in countries" >{{dcountry.commonname}}</option>
                                            </select>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <label class="control-label">State</label>
                                            <!--<input class="form-control" ng-model="customer.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0" />-->
                                            <select class="form-control" ng-model="customer.state" ng-change="selectedState()" >
                                                <option value="">--Select State--</option>
                                                <option ng-repeat="dstate in states">{{dstate.name}}</option>
                                            </select>
                                        </div><!-- /.col -->
                                        <div class="col-md-4">
                                            <label class="control-label">Postal Code</label>
                                            <input class="form-control" ng-model="customer.zipcode" />
                                        </div><!-- /.col -->
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-10"></div>
                                        <div class="col-md-1">
                                            <div class="text-right">
                                                <button class="btn btn-sm btn-primary" ng-click="saveProfile();" ng-disabled="lockBtn">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
               </div>
            </ng-form>

        </uib-tab>

        <!--Add New Account-->
        <uib-tab index="4" heading="Account(s) List">
            <uib-tab-heading>
                <span class="block text-center">
                    <i class="fa fa-briefcase fa-2x"></i>
                </span>
                Account(s) List
            </uib-tab-heading>
            <ng-form name="nestedForm">
                <div class="form-group">
                    <div class="panel-heading">
                        <b>Accounts Information</b>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <h4>Accounts List</h4>
                                    <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
                                        <div class="col-md-8">
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div class="dataTables_filter" id="dataTable_filter">
                                                                <input type="text" class="form-control input-sm" ng-model="searchKeyword" placeholder="search here..." aria-controls="dataTable">
                                                            </div>
                                                        </th>
                                                        <th></th>
                                                        <th><a class="btn btn-info pull-right" ng-click="addNewAccount();"><i class="fa fa-plus"></i> New Account</a></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>Account No.</th>
                                                        <th>Currency</th>
                                                        <th>Flag</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="enrolledaccount in customer.EnrolledList | filter: searchKeyword">
                                                        <td  ng-if="enrolledaccount.accountnumber !== '0'">{{enrolledaccount.accountnumber}}</td>
                                                        <td  ng-if="enrolledaccount.accountnumber !== '0'">{{enrolledaccount.currency}}</td>
                                                        <td  ng-if="enrolledaccount.accountnumber !== '0'">
                                                            <span ng-if="enrolledaccount.currency === 'GBP'" class="flag-icon flag-icon-gb"></span>
                                                            <span ng-if="enrolledaccount.currency === 'CAD'" class="flag-icon flag-icon-ca"></span>
                                                            <span ng-if="enrolledaccount.currency === 'COP'" class="flag-icon flag-icon-co"></span>
                                                            <span ng-if="enrolledaccount.currency === 'EUR'" class="flag-icon flag-icon-eu"></span>
                                                            <span ng-if="enrolledaccount.currency === 'MXN'" class="flag-icon flag-icon-mx"></span>
                                                            <span ng-if="enrolledaccount.currency === 'PHP'" class="flag-icon flag-icon-ph"></span>
                                                            <span ng-if="enrolledaccount.currency === 'USD'" class="flag-icon flag-icon-us"></span>
                                                        </td>
                                                        <td  ng-if="enrolledaccount.accountnumber !== '0'"><a href="#"><span class="label label-success">View</span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pageNo" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>

        </uib-tab>
    </uib-tabset>
</form>
