﻿<div class="alert alert-info" ng-if="customer.isInOFACList">
    <strong>Please Verify your account by adding your profile photo, proof of billing photo and Identification Card photo in profile section. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
</div>

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Money Transfer</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    
    <div class="col-sm-12">
        <div class="col-sm-8">
            <div class="page-title">
                <!--<img align="middle" src="../../Content/images/moneytransferlogo.png" alt="etransfer" style="width: 125px !important;">-->
            </div>
            <div>
                <h4 style="text-align:center !important;">
                    <i>Money Transfer</i>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Money Transfer</b> <p class="pull-right">Current Balance: <b>{{balancelimit | number:2}} {{etransfer.currencyfromiso}}</b></p>
        </div>
        <div class="alert alert-warning" ng-if="notifyZeroBalance">
            <strong>This Account does not have enough balance left to do transaction, please cash in first or select account currency with more than zero (0) remaining balance. </strong> <a href="" ui-sref="creditcard" class="alert-link">Click here.</a>.
        </div>
        <div class="alert alert-info" ng-if="notifyExceededLimit">
            <strong>The requested amount to send in {{etransfer.currencyfromiso}}, exceeded the limit of your account balance. </strong> <a href="" ui-sref="openProfile" class="alert-link">Click here.</a>.
        </div>

        <div class="panel-body"  >
            <div class="form-group" ng-if="!customer.isInOFACList">
                <div class='card-wrapper'></div>
                <!--First Layer-->
                <!--<div class="form-group col-md-12">
                    <div class="col-md-6">
                        <div class="list-group-item">
                            <div class="list-group-item-text clearfix">
                                <div class="pull-left m-left-sm m-top-sm">
                                    <strong>{{totalbalance | currency: customer.currency : '2'}}</strong>
                                    <span class="text-muted block">Wallet Balance</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--Second Layer-->
                <!--<div class="col-md-12" style="display:none !important;">
                    <div class="col-md-6">-->
                            <!--<label class="">Transfer Type</label><span ng-if="etransfer.transactionid === ''" style="color:darkred"> Please Select Transfer Type</span>
                            <select class="form-control" ng-model="etransfer.transactionid" ng-change="changeTT()">
                                <option value="">-- Select Transfer Type --</option>
                                <option value=1>-- Email Tranfer --</option>
                                <option value=2>-- SMS Tranfer --</option>
                            </select>-->
                            <!--<label class="">Select Agent Location Country</label>-->
                        <!--ng-options="agentcountry as country.commonname for country in agentcountries | filter:{name:$viewValue}" ng-change="agentselectedCountry($item);"-->
                            <!--<select class="form-control" ng-model="agentLocation.country" ng-change="agentselectedCountry()">
                               <option value="">--Select Country--</option>
                                <option ng-repeat="(key, values) in agentcountries" value="{{values.id}}">{{values.commonname}}</option>
                            </select>
                        <label class="">Select Agent Location State/Province</label>
                        <select class="form-control" ng-model="agentLocation.states" ng-change="agentselectedState();">
                            <option value="">--Select State--</option>
                            <option ng-repeat="(key,values) in agentstates" value="{{values.id}}">{{values.name}}</option>
                        </select>
                    </div>
                   <div class="col-md-6" style="float:right !important">
                       <label class="">Select Agent</label>
                       <select class="form-control" ng-model="agentLocation.agent" ng-change="agentSelect();">
                           <option value="">--Select Agent--</option>
                           <option ng-repeat="(key, values) in agentList" value="{{values.id}}">{{values.name}}&nbsp;({{values.address}})</option>
                       </select>
                       <div ng-if="showAgentData" style="padding-top:10px !important;">
                           <table>
                               <tr>
                                   <td style="padding-right:20px !important"><label>{{agentsData.name}}</label></td>
                                   <td><label>{{agentsData.address}}</label></td>
                               </tr>
                               <tr>
                                   <td style="padding-right:20px !important"><label>{{agentsData.contactNo}}</label></td>
                                   <td><label>{{agentsData.email}}</label></td>
                               </tr>
                           </table>
                       </div>
                   </div>
                    
                </div>-->

                <!--Third Layer-->
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <label><strong>Conversion Rate</strong></label>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label class="">From: <span class="label label-danger"><strong>1.00</strong></span></label>
                            <select ng-model="etransfer.currencyfromiso" class="form-control" ng-change="selectCurrencyFrom(etransfer.currencyfromiso); setCurrencyForBenificiary()">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="" > To: <span class="label label-danger" ng-repeat="(key,values) in currencyValue"> <strong>{{threeDecimal(values)}}</strong></span></label>
                            <select ng-model="etransfer.currencytoiso" class="form-control" ng-change="convertCurrency(etransfer.currencyfromiso,etransfer.currencytoiso); setCurrencyForBenificiary()">
                                <option value="">--Select Currencies--</option>
                                <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                            </select>
                        </div>
                    </div>
                   
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <div>
                            <div class="col-md-12">
                                <h4><strong>Receiver Information for Money Transfer</strong></h4>
                               
                            </div>
                        

                            <div class="col-md-4">
                                <label>First Name</label>
                                <input type="text" class="form-control themeColor" placeholder="First Name" ng-model="etransfer.benificiaryfirstname" />
                            </div>
                            <div class="col-md-4">
                                <label>Middle Name (Optional)</label>
                                <input type="text" class="form-control themeColor" placeholder="Middle Name" ng-model="etransfer.benificiarymiddlename" />
                            </div>
                            <div class="col-md-4">
                                <label>Last Name</label>
                                <input type="text" class="form-control themeColor" placeholder="Last Name" ng-model="etransfer.benificiarylastname" />
                            </div>
                            <br />
                            <div class="col-md-6">
                                <label>Address</label>
                                <input type="text" class="form-control themeColor" placeholder="Address" ng-model="etransfer.benificiaryaddress" />
                            </div>
                            <div class="col-md-3">
                                <label>City</label>
                                <input type="text" class="form-control themeColor" placeholder="City" ng-model="etransfer.benificiarycity" />
                            </div>
                            <div class="col-md-3">
                                <label>Country</label>
                                <input type="text" class="form-control themeColor" placeholder="Country" ng-model="etransfer.benificiarycountry"  uib-typeahead="country as country.Name for country in countries | filter:{Name:$viewValue} | limitTo:7" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0"/>
                            </div>
                            <div class="col-md-3">
                                <label>State/Province</label>
                                <input type="text" class="form-control themeColor" placeholder="state" ng-model="etransfer.benificiarystate"  uib-typeahead="state as state.Name for state in states | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0" />
                            </div>
                            <div class="col-md-3">
                                <label>Postal Code</label>
                                <input type="text" class="form-control themeColor" placeholder="Postal code" ng-model="etransfer.benificiarypostal" />
                            </div>
                            <hr />
                         
                            <div class="col-md-3">
                                <label class="themeColor">Beneficiary Email id (Optional)</label>
                                <input type="email" class="form-control themeColor" placeholder="Benificiary Email Id" ng-model="etransfer.benificiaryemail" />
                            </div>
                            <div class="col-md-3">
                                <label class="themeColor">Mobile Number</label>
                                <div class="col-md-12" style="padding-left:0px !important;">
                                    <input type="text" class="form-control themeColor" placeholder="Mobile Number" ng-model="etransfer.benificiarymobileno" ng-intl-tel-input required style="width: 100%;" id="mobilenumber" ng-change="change()"/>
                                </div>
                            </div>
                            <div style="display:none !important;">
                                <div class="col-md-3">
                                    <label>Id Number</label>
                                    <input type="text" class="form-control themeColor" placeholder="Id Number" ng-model="etransfer.benificiaryIdNumber" />
                                </div>

                                <div class="col-md-3">
                                    <label>Id Type</label>
                                    <input type="text" class="form-control themeColor" placeholder="Id Type" ng-model="etransfer.benificiaryType" />
                                </div>

                                <div class="col-md-3">
                                    <label>Expiry Date</label>
                                    <p class="input-group">
                                        <input type="text" class="form-control" placeholder="dd/MM/YYYY" uib-datepicker-popup="dd/MM/yyyy" ui-mask="99/99/9999" ui-mask-placeholder-char="__/__/____" model-view-value="true" ng-model="etransfer.benificiaryExpDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6" style="padding:0px 0px 0px 0px !important">
                                    <div class="form-group col-md-12" style="padding-right: 0px !important;">
                                        <div class="col-md-12" style="padding-right: 0px !important; padding-left: 0px !important;">
                                            <label class="">Currency To Transfer</label>
                                            <select ng-model="etransfer.currencytoiso" class="form-control" ng-change="setCurrencyForBenificiary()">
                                                <!--ng-options="items as item.iso for item in currencyData track by item.id"     ng-change="setConversionData(item.id)"-->
                                                <option value="">--Currency--</option>
                                                <option ng-repeat="readData in currencyData" value="{{readData.iso}}">{{readData.iso}} &nbsp; ({{readData.name}})</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style=" padding-right: 0px !important;">
                                    <div class="col-md-6" style=" padding-left: 0px !important;">
                                        <label class="">Send Amount in {{etransfer.currencyfromiso}}</label>
                                        <input type="number" class="form-control text-right" placeholder="Amount" ng-model="etransfer.amountfrom" step="0.1" ng-change="setCurrencyForBenificiary()" ng-disabled="notifyZeroBalance" />
                                    </div>
                                    <div class="col-md-6" style="padding:0px 0px 0px 0px !important">
                                        <label class="">Benificiary amount to received {{etransfer.currencytoiso}}</label>
                                        <input type="number" class="form-control text-right" ng-model="etransfer.amountto" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <br />
                                <label class="themeColor">Secret Code</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control themeColor" placeholder="Password" ng-model="etransfer.answer" />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
       
       

        <div class="panel-footer">
            <div class="text-right" title="{{warning}}">
               
                <!--<button class="btn btn btn-primary" ng-click="submitForm();" ng-disabled="lockBtn || etransfer.answer === undefined || etransfer.benificiaryfirstname === undefined || etransfer.benificiarylastname === undefined || etransfer.amountfrom <= 0 || (etransfer.benificiarymobileno === undefined && (etransfer.benificiaryemail === undefined || etransfer.benificiaryemail === ''))">Submit</button>-->
                <button class="btn btn btn-primary" title="Please save this document first." ng-click="submitForm();" ng-disabled="lockBtn || etransfer.answer === undefined || etransfer.benificiaryfirstname === undefined || etransfer.benificiarylastname === undefined || etransfer.amountfrom <= 0 || (etransfer.benificiarymobileno === undefined && (etransfer.benificiaryemail === undefined || etransfer.benificiaryemail === ''))">Submit</button>
            </div>
            
        </div>
    </form>
</div>
