﻿
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
            <li class="active">Bill Payment</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">Bill Payment</h3>

        </div><!-- /page-title -->
    </div><!-- /main-header -->

    <div class="padding-md clearfix">
        <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">

            <div class="row">

                <div class="col-xs-12 col-md-12">
                    <div class="form-group">

                        <label class="themeColor">Bank/Credit Union</label>
                        <select class="form-control themeColor">
                            <option value="">--Bank Name--</option>
                            <option value="1">OCT</option>
                            <option value="2">Union Pay Card</option>
                            <option value="3">ATM</option>
                            <option value="4">ACH</option>
                            <option value="5">PROPERTY CARD</option>
                            <option value="6">COOPTAVANZA RL</option>
                            <option value="6">COOPTAVANZA RL</option>
                        </select>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <label class="themeColor">Net Banking ID</label>
                        <input type="text" class="form-control themeColor" placeholder="Net Banking ID" ng-model="pw.NetBankingID" />
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <label class="themeColor">Password</label>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <input type="password" class="form-control themeColor" placeholder="Password" ng-model="pw.Password" />
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="btn-toolbar">
                                    <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="pwAuthenticate()">Authenticate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="pwCloseForm()">Close</button>
                    </div>-->

                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-3"></div>
                        <div class="col-xs-12 col-md-9">
                            <div class="btn-toolbar">

                                <button type="button" class="btn-flat btn-flat-color btn-flat-theme">Submit &nbsp;</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div><!-- /main-container -->
    <!-- Footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p class="no-margin">
                    &copy; 2017 <strong>COOP eWALLET</strong>. ALL Rights Reserved.
                </p>
            </div><!-- /.col -->
        </div><!-- /.row-->
    </footer>


    <!--Modal-->
    <div class="modal fade" id="newFolder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Create new folder</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="folderName">Folder Name</label>
                            <input type="text" class="form-control input-sm" id="folderName" placeholder="Folder name here...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                    <a href="#" class="btn btn-danger btn-sm">Save changes</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
