﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-Out / Originated Credit Transaction</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="col-sm-12">
        <table>
            <tr>
                <td align="right">
                    <img align="right" src="~/../../Content/templateFrontend/customerAdmin/img/v-mc.jpg" alt="etransfer" style="width: 120px !important;">
                </td>
                <td style="padding-left:50px !important;">
                    <label style="font-style:italic; font:bolder; font-size:20px;">"Now you can send money to any Visa or Master Card any where in the world"</label>
                </td>
            </tr>
        </table>
    </div>
    <!--<div style="float:right !important;">
        <img align="right" src="../../Content/templateFrontend/customerAdmin/img/mexLogo.jpg" alt="etransfer" style="width: 170px !important;">
    </div>-->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Originated Credit Transaction</b>
        </div>

        <div class="panel-body">
            <div class="form-group">

                <div class='card-wrapper'></div>
                <!-- CSS is included via this JavaScript file -->
                <script src="~/../../Content/templateFrontend/customerAdmin/dist/card.js"></script>
                <div class="form-group">
                        <label class="control-label col-md-3"><h4>OCT Information</h4></label>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" name="number" class="form-control input-sm" id="cardNumber" placeholder="Card Number" value="" ng-model="otc.cardNumber">
                        </div>
                        <div class="col-md-4">
                            <label for="cardExpiry">Expiry</label>
                            <input type="text" name="expiry" class="form-control input-sm" id="cardExpiry" placeholder="Card Expiry" value="" ng-model="otc.cardExpiry">
                        </div>
                        <div class="col-md-4">
                            <label for="cardCvc">CVC</label>
                            <input type="text" name="cvc" class="form-control input-sm" id="cardCvc" placeholder="Card CVC" value="" ng-model="otc.cardCVC">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">First Name</label>
                            <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Card First Name" value="" ng-model="otc.firstname">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Middle Name</label>
                            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Card Middle Name" value="" ng-model="otc.middlename">
                        </div>
                        <div class="col-md-4">
                            <label for="cardLastname">Last Name</label>
                            <input type="text" name="last-name" class="form-control input-sm" id="cardLastname" placeholder="Card Last Name" value="" ng-model="otc.lastname">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Issuing Bank Name</label>
                            <input type="text" name="bank-name" class="form-control input-sm" id="cardName" placeholder="Issuing Bank Name" value="" ng-model="otc.issuingBankName">
                        </div>
                        <div class="col-md-4">
                            <label for="cardName">Birth Date</label>
                            <div class="input-group">
                               <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="otc.checkDate" is-open="popup1.opened" ng-change="confirmBD(otc.checkDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="cardLastname">Currency</label>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="otc.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="col-md-2">
                            <label for="cardLastname">Amount</label>
                            <input type="text" name="amount" class="form-control input-sm" id="cardLastname" placeholder="Amount" value="" ng-model="otc.amount">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-9">
                            <label class="control-label">Address</label>
                            <input type="text" class="form-control input-sm" placeholder="Address" value="" ng-model="otc.address" />

                        </div>
                        <div class="col-md-3">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control input-sm" placeholder="City" value="" ng-model="otc.city">>
                        </div>

                    </div>


                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Country</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="otc.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">State/Province</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="otc.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label class=" control-label">Postal Code</label>
                            <input type="text" class="form-control input-sm" placeholder="Postal Code" value="" ng-model="otc.postalCode">>
                        </div>
                    </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn btn-primary" ng-click="submit()">Submit</button>
                    </div>
                </div>
                <script>
                    var card = new Card({
                        form: 'form',
                        container: '.card-wrapper',

                        formSelectors: {
                            nameInput: 'input[name="first-name"], input[name="last-name"]'
                        }
                    });
                </script>
            </div>
    </form>
</div>
<!-- /panel -->