﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-Out / Property Card</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Property Card</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Property Card</b>
        </div>

        <div class="panel-body">
            <div class="form-group">

                <!--<div class='card-wrapper'></div>
                <div class="center">
                    <img src="~/Content/templateFrontend/customerAdmin/img/banklogo.png" alt="User Avatar">
                    <h5 class="acctNumCss">{{propertyCard.acctNum}}</h5>
                    <h5 class="checkNumCss">{{propertyCard.checkNum}}</h5>
                    <h5 class="dateCss">{{propertyCard.checkDate | date :  "dd MMM y"}}</h5>
                    <h6 class="bankNameCss"><b>{{propertyCard.bankName}}</b></h6>
                    <p class="abaRoutingCss">{{propertyCard.transitNum}} {{propertyCard.financialNum}} {{propertyCard.acctNum}}</p>
                </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3"><h4>Property Card Details</h4></label>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Country</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="propertyCard.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue}" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label for="currency">Currency</label>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="propertyCard.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue}" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="col-md-4">
                            <label for="partnerName">Partner Name</label>
                            <input type="text" name="partner-name" class="form-control input-sm" id="Partner_Name" placeholder="Partner Name" ng-model="propertyCard.partnerName">
                        </div>
                    </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Card Type</label>
                            <div>
                                <select class="form-control">
                                    <option>Debit</option>
                                    <option>Credit</option>
                                    <option>Prepaid</option>
                                    <option>Gift Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="exampleInputMobile">Mobile Number</label>
                            <div>
                                <input type="tel" name="number" class="form-control input-sm" id="exampleInputMobile" placeholder="Mobile Number" ng-model="propertyCard.mobilenumber" ng-intl-tel-input ng-click="$event.stopPropagation()" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" name="number" class="form-control input-sm" id="cardNumber" placeholder="Card Number" value="" ng-model="propertyCard.card_no">
                        </div>
                    </div>
                    <!--Third Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control input-sm" ng-model="propertyCard.amount" placeholder="Amount">
                        </div>
                    </div>
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <button class="btn btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
</div>
<!-- /panel -->