﻿<div ng-controller="CWRegisterController">

</div>

	<!--<div class="login-wrapper">
		<div class="text-center">
			<h2 class="fadeInUp" style="font-weight:bold">
				<span class="text-primary">Coop</span> <span style="color:#afafaf; text-shadow:0 1px #fff">eWallet</span>
			</h2>
	    </div>
		<div class="login-widget">	
			<div class="panel panel-default">				
				<div class="panel panel-default">
					<ul class="form-horizontal no-margin form-border" novalidate="">
						<div class="panel-heading">
							<b>Registration Steps</b><hr>
                            
                            <div class="panel-tab">
                                <tab name="outerForm" class="" id="wizardDemo1">--><!--class= """wizard-steps wizard-demo"-->
                                    <!--<uib-tabset active="active">
                                        <uib-tab index="0" heading="Account Info">
                                            <div class="panel-body">
                                                <ng-form name="nestedForm">
                                                    <div class="tab-pane fade in active" id="wizardContent1">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <label>Mobile No.</label>
                                                                <div>
                                                                    <input type="text" placeholder="Mobile No." class="form-control input-sm" ng-model="register.mobilenumber" ng-intl-tel-input required style="width:331px!important;" ng-change="checkMobileNumber();">
                                                                </div>
                                                            </div>--><!-- /form-group -->
                                                            <!--<div class="form-group">
                                                                <label>Email Address</label>
                                                                <input type="text" placeholder="Email address" class="form-control input-sm" ng-model="register.email" required>
                                                            </div>--><!-- /form-group -->
                                                            <!--<div class="form-group">
                                                                <label>Password</label>
                                                                <input type="password" placeholder="Password" class="form-control input-sm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" ng-model="register.password">
                                                            </div>--><!-- /form-group -->
                                                            <!--<div class="form-group">
                                                                <label>Confirm Password</label>
                                                                <input type="password" placeholder="Confirm password" class="form-control input-sm" ng-model="register.confirmpassword">
                                                            </div>--><!-- /form-group -->
                                                            <!--<div class="form-group">
                                                                <label class="label-checkbox">
                                                                    <input type="checkbox" />
                                                                    <span class="custom-checkbox info"></span>
                                                                    I hereby certify that I am 18 years old and above.
                                                                </label>
                                                            </div>--><!-- /form-group -->
                                                            <!--<div class="seperator"></div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    Already have an account? <a href="" ui-srefe="login" class="primary-font login-link" ng-click="submit()">Sign In</a>
                                                                </div>
                                                                <a class="btn btn-primary btn-sm login-link pull-right" href="" ng-click="send();"><i class="fa fa-sign-in"></i> Submit</a>
                                                            </div>--><!-- /form-group -->
                                                        <!--</div>
                                                    </div>
                                                </ng-form>
                                               </div>
                                        </uib-tab>
                                        <uib-tab index="1" heading="Personal Info">
                                            <div class="panel-body">
                                                <ng-form name="nestedForm">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label>Please Enter OTP</label>
                                                            <input type="text" placeholder="Please Enter OTP" class="form-control input-sm" ng-model="register.OTP">
                                                            <button type="button" class="btn btn-primary btn-sm login-link pull-right" ng-click="Resend();">Resend OTP</button>
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>First Name</label>
                                                            <input type="text" placeholder="First Name" class="form-control input-sm" register.firstname>
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>Middle Name</label>
                                                            <input type="text" placeholder="Middle Name" class="form-control input-sm" ng-model="register.middlename">
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>Last Name</label>
                                                            <input type="text" placeholder="Last Name" class="form-control input-sm" ng-model="register.lastname">
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label for="cardExpiry">Date</label>
                                                            <div class="input-group">
                                                                <input type="text"  class="datepicker form-control" ng-model="register.birthdate">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class=" control-label">Gender</label>
                                                            <label class="label-radio inline">
                                                                <input type="radio" name="inline-radio">
                                                                <span class="custom-radio"></span>
                                                                Male
                                                            </label>
                                                            <label class="label-radio inline">
                                                                <input type="radio" name="inline-radio">
                                                                <span class="custom-radio"></span>
                                                                Female
                                                            </label>
                                                        </div>
                                                    </div>
                                                </ng-form>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="2" heading="Billing Info">
                                            <div class="panel-body">
                                                <ng-form name="nestedForm">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <input type="text" placeholder="Address" class="form-control input-sm">
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>Country</label>
                                                                <input class="form-control" type="text" placeholder="Country" ng-model="register.country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0"/>
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>State/Province</label>
                                                            <div>
                                                                <input class="form-control" typeof="text" placeholder="State/Province" ng-model="register.state"  uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:7" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0"/>-->
                                                                    
                                                                
                                                            <!--</div>
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>City</label>
                                                            <input type="text" placeholder="City" class="form-control input-sm">
                                                        </div>--><!-- /form-group -->
                                                        <!--<div class="form-group">
                                                            <label>Postal</label>
                                                            <input type="text" placeholder="Postal" class="form-control input-sm">
                                                        </div>--><!-- /form-group -->
                                                        <!--<hr />
                                                        <a class="btn btn-primary btn-sm login-link pull-right" href="index-2.html"><i class="fa fa-sign-in"></i> Submit</a>
                                                </div>
                                               </ng-form>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </tab>
                                </div>

                               

                               
                                <div class="panel-footer clearfix">
                                    <div class="pull-left">
                                        <button class="btn btn-success btn-sm disabled" id="prevStep1" disabled="">Previous</button>
                                        <button type="submit" class="btn btn-sm btn-success" id="nextStep1">Next</button>
                                    </div>
                                </div>-->

				<!--</div>
			</div>< /panel 
		</div>< /login-widget 
	</div>< /login-wrapper 
	</div>-->
   
	
 
