﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">TopUp Airtime</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">TopUp Airtime</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>TopUp Airtime Information</b>
        </div>

        <div class="panel-body">
            <div class="form-group">
                    <!--<div class="form-group">
                        <label class="control-label col-md-3"><h4>TopUp Airtime Details</h4></label>
                    </div>-->
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Select Country</label>
                        <select ng-model="topupAirtime.country" class="form-control input-sm" ng-change="goToStep2();">
                            <option value="" selected>--Select Country--</option>
                            <option ng-repeat="c in countries" value="{{c}}" ng-if="c.id !== 0">{{c.commonname}}</option>
                        </select>
                    </div>
                </div>
                    <div class="form-group col-md-12">
                        <!--<div class="col-md-4">
                            <label class="control-label">Country</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="topupAirtime.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div> /.col 
                        </div>-->
                        <div class="col-md-4">
                            <label class="control-label">Available Carrier</label>
                            <div>
                                <select ng-model="topupAirtime.topupProduct" class="form-control input-sm" ng-change="getProductSkuToLoadDetails();">
                                    <option value="" selected>-- Select Available Products to Top-Up --</option>
                                    <option ng-repeat="data in topUpProducts" value="{{data.Sku}}" ng-if="data.Amounts !== null && data.Type === 'TOPUP' &&  data.Sku !== null">{{data.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="form-group col-md-12">
                    <legend>Product Details</legend>
                    <div style="float:left !important;"><h3><b>Step 1</b></h3></div>
                    <div style="float:right !important;"><h3><b>Step 2</b></h3></div><br />
                    <!--(After selecting amount to top-up, kindly check the details and press (Process) once confirmed.)-->
                    <div class="col-md-12"></div>
                        <div style="font-weight:bolder !important; float:left !important;">
                            <div><label>Name : {{productDetails.Name}}</label></div>
                            <div><label>Type : {{productDetails.Type}}</label></div>
                            <div><label>Instruction: {{productDetails.Instruction}}</label></div>
                            <div ng-if="showTopUpBtn" style="display:none !important">
                                    <div>
                                        <input type="number" ng-model="topUpAmountIfOpen" class="form-control input-sm" placeholder="Amount to Load in"/>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>
                                         <button class="btn btn btn-primary" ng-click="topUp(topUpAmountIfOpen,'USD');">Top-Up This</button>
                                    </div>

                            </div>
                            <div class="col-md-6" style="font-weight:bolder !important; float:left !important; overflow:scroll; overflow-x:hidden; height:400px; width:450px;" ng-if="showTopUpIfDefine">
                                <div>Fee Details</div>
                                <div class="col-md-5" ng-repeat="pDet in productDetailAmounts">
                                    <div>
                                        Amount : {{pDet.amtToPay}} (USD) <br />
                                        To Recieve : {{pDet.convAmt}} ({{pDet.DestCurr}}) <br />
                                        Currency : {{pDet.DestCurr}} <br />
                                        <label>
                                            <button class="btn btn btn-primary" ng-click="topUp(pDet.Amt,pDet.DestCurr,pDet.convAmt,pDet.amtToPay, pDet.Instruction);">Select</button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6" style="float:right !important;">
                        <table align="left" style="padding-right:15px !important">
                            <tr>
                                <td><p style="font-weight:bold !important; text-wrap:normal !important">Note: <br />
                                    <u>Only USD accounts are available</u><br/>
                                    Account will be debited {{consolidatedData.amountToDeduct}}<br/>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Product Details</b><br />
                                    <label>Product ID : {{consolidatedData.sku}}</label>&nbsp;|&nbsp;<label>Amount : {{consolidatedData.amountToDeduct}}</label><br />
                                    <label>To Receive : {{consolidatedData.torcv}}</label>&nbsp;|&nbsp;<label>Currency : {{consolidatedData.currency}}</label>
                               </td>
                            </tr>
                            <tr>
                                <td>
                                    <select ng-model="selectedEnrolledAccount" class="form-control input-sm" ng-change="selectedCurrency();" required>
                                        <option value="">--Select Account to Debit--</option>
                                        <option ng-repeat="data in enrolledAccount" value="{{data}}">{{data.currency}} - {{data.balance}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" ng-model="phoneNumber" class="form-control input-sm" placeholder="Phone Number" required />
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="password" ng-model="confirmPassword" class="form-control input-sm" placeholder="Confirm Your Password" required />
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr ng-if="showInfo">
                                <td class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i><b>{{showInstruction}}</b></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <button class="btn btn btn-primary" ng-click="proceedTopUp();" ng-if="showProceed">Proceed</button>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                    <!--Second Layer-->
                    <div class="form-group col-md-12" style="display:none !important;">
                        <div class="col-md-4">
                            <label for="cardMiddlename">Amount</label>
                            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Amount"
                                   value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Enter Phone Number</label>
                            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Confirm Mobile Number"
                                   ng-model="topupAirtime.mobilenumber" ng-intl-tel-input style="width:305px;">
                        </div>
                        <!--<div class="col-md-4">
                            <label for="cardMiddlename">Confirm Mobile Number</label>
                            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Confirm Mobile Number"
                                   ng-model="topupAirtime.mobilenumberconfirm" ng-intl-tel-input style="width:305px;">
                        </div>-->
                        <div class="col-md-4">
                            <!--Validation Icon Here-->
                        </div>
                        <div class="col-md-4">
                            <!--Validation Icon Here-->
                        </div>
                    </div>
                    <!--Third Layer-->
                    <div class="form-group col-md-12" style="display:none !important;">
                        <div class="col-md-4">
                            <label class="control-label">Payment Option</label>
                            <div>
                                <script type="text/javascript">
                                    function showfield(name) {
                                        if (name == 'Coop eWallet') {
                                            document.getElementById('totalPay')
                                                .innerHTML = 'Deducted to: <b>Coop eWallet</b> <br/><br/> <label for="confirmPassword">Please Confirm by Entering your Password</label> <input type="password" name="confirmPassword" class="form-control input-sm" id="confirmPassword" placeholder="Password" value="" />';
                                        } else if (name == 'Credit Card') {
                                            document.getElementById('totalPay')
                                                .innerHTML = 'Deducted to: <b>Credit Card</b> <br/><br/> <label for="confirmPassword">Please Confirm by Entering your Password</label> <input type="password" name="confirmPassword" class="form-control input-sm" id="confirmPassword" placeholder="Password" value="" />';
                                        }
                                        else
                                            document.getElementById('totalPay').innerHTML = 'Please Select Payment Option';
                                    }
                                </script>

                                <select class="form-control" name="paymentSelection" id="paymentSelection" onchange="showfield(this.options[this.selectedIndex].value)">
                                    <option selected="selected">Select Payment Option</option>
                                    <option value="Coop eWallet">Coop eWallet</option>
                                    <option value="Credit Card">Credit Card</option>
                                </select>

                            </div>
                        </div>

                    </div>
                    <!--Result Layer-->
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <div id="totalPay"></div>
                        </div>
                    </div>
            </div>
        </div>
    </form>
</div>