﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-Out / Union Pay Card</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Union Pay Card</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Union Pay Card Information</b>
        </div>

        <div class="panel-body">
            <div class="form-group">

                <div class='card-wrapper'></div>
                <!-- CSS is included via this JavaScript file -->
                <script src="~/../../Content/templateFrontend/customerAdmin/dist/card.js"></script>
                 <div class="form-group">
                        <label class="control-label col-md-3"><h4>Union Pay Information</h4></label>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" name="number" class="form-control input-sm" id="cardNumber" placeholder="Card Number" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardExpiry">Expiry</label>
                            <input type="text" name="expiry" class="form-control input-sm" id="cardExpiry" placeholder="Card Expiry" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardCvc">CVC</label>
                            <input type="text" name="cvc" class="form-control input-sm" id="cardCvc" placeholder="Card CVC" value="">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">First Name</label>
                            <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Card First Name" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardMiddlename">Middle Name</label>
                            <input type="text" name="text" class="form-control input-sm" id="cardMiddlename" placeholder="Card Middle Name" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardLastname">Last Name</label>
                            <input type="text" name="last-name" class="form-control input-sm" id="cardLastname" placeholder="Card Last Name" value="">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label for="cardName">Issuing Bank Name</label>
                            <input type="text" name="bank-name" class="form-control input-sm" id="cardName" placeholder="Issuing Bank Name" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="cardName">Birth Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control themeColor" placeholder="dd-MM-Year" uib-datepicker-popup="dd-MM-yyyy" ng-model="unionPay.checkDate" is-open="popup1.opened" ng-change="confirmBD(unionPay.checkDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar themeColor"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="cardLastname">Currency</label>
                            <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="unionPay.currency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="col-md-2">
                            <label for="cardLastname">Amount</label>
                            <input type="text" name="amount" class="form-control input-sm" id="cardLastname" placeholder="Amount" value="">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-9">
                            <label class="control-label">Address</label>
                            <input type="text" class="form-control input-sm" placeholder="Address" value="">

                        </div>
                        <div class="col-md-3">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control input-sm" placeholder="City" value="">
                        </div>

                    </div>


                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Country</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="unionPay.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">State/Province</label>
                            <div>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="unionPay.state" placeholder="State/Province" uib-typeahead="state as state.name for state in states | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedState($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div><!-- /.col -->
                        </div>
                        <div class="col-md-4">
                            <label class=" control-label">Postal Code</label>
                            <input type="text" class="form-control input-sm" placeholder="Postal Code" value="">
                        </div>
                    </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn btn-primary" type="reset">Reset</button>
                        <button class="btn btn btn-primary">Submit</button>
                    </div>
                </div>
                <script>
                    var card = new Card({
                        form: 'form',
                        container: '.card-wrapper',

                        formSelectors: {
                            nameInput: 'input[name="first-name"], input[name="last-name"]'
                        }
                    });
                </script>
            </div>
    </form>
</div>
<!-- /panel -->