﻿<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a ui-sref="dashboard"> Home</a></li>
        <li class="active">Cash-Out / Wire Transfer</li>
    </ul>
</div>
<!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Wire Transfer</h3>
    </div>
    <!-- /page-title -->
</div>
<!-- /main-header -->

<div class="panel panel-default paddingLayout">
    <form class="form-horizontal form-border">
        <div class="panel-heading">
            <b>Electronic Wire Transfer Details</b>
        </div>

        <div class="panel-body">
            <div class="form-group">
              
              
                <!--First Layer-->
                <div class="form-group col-md-12">
                    <div class="col-md-6">
                        <label for="cardName">Debit From</label>
                        <div>
                            <select class="form-control" ng-model="wt.dfAccounts">
                                <option value="">--Select Accounts--</option>
                                <option value="1">Savings Accounts</option>
                                <option value="2">Checking Accounts</option>
                                <option value="3">Interest-Bearing Checking Accounts</option>
                                <option value="4">Money Market Deposit Accounts</option>
                                <option value="5">Certificates of Deposit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="cardNumber">Please Enter OTP</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <input type="text" class="form-control input-sm" placeholder="Enter OTP" ng-model="wt.otp">
                                <button type="button" class="btn btn-sm btn-info" tabindex="-1">Resend OTP</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Second Layer-->
                <div class="form-group col-md-12">
                    <!--Part 1 - Left Side-->
                    <div class="col-md-6">
                        <label for="cardName"><u>SPECIFY BENEFICIARY BANK</u></label>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Swift/BIC *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Swift/BIC" value="" ng-model="wt.bSwiftBIC">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Name *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Name" value="" ng-model="wt.bName">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Address *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Address" value="" ng-model="wt.bAddress">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label class="control-label">Country *</label>
                                <div>
                                    <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="wt.country" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">ABA/RTN</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="ABA/RTN" value="" ng-model="wt.bABARTN">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="cardName"><u>TRANSFER DETAILS</u></label>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <label for="cardName">Amount to transfer *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Amount" value="" ng-model="wt.tdamountToTransfer">
                            </div>
                            <div class="col-md-6">
                                <label for="cardName">Currency</label>
                                <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="wt.tdcurrency" placeholder="Currency" uib-typeahead="currency.name for currency in currencies | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCurrency($item)" typeahead-show-hint="true" typeahead-min-length="0">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Description</label>
                                <textarea class="form-control" rows="5" ng-model="wt.tdDescription"></textarea>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <label for="cardNumber"><u>SPECIFY BENEFICIARY CUSTOMER</u></label>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Name *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Name" value="" ng-model="wt.cName">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Address *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Address" value="" ng-model="wt.cAddress">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Acct #/IBAN *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Acct #/IBAN" value="" ng-model="wt.cAccntIBAN">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="cardName"><u>ADDITIONAL INFORMATION</u></label>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <label for="cardName">Ref Message *</label>
                                <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Ref Message" value="" ng-model="wt.aiRefMessage">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="label-checkbox inline">
                                <input type="checkbox" name="mycheckbox" id="mycheckbox" value="0" ng-model="wt.isIntermediaryBank">
                                <span class="custom-checkbox"></span>
                            </label>
                            <label for="cardName"><u>SPECIFY INTERMEDIARY BANK</u></label>
                        </div>

                        <div class="form-group col-md-12" id="mycheckboxdiv" style="display:none">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Swift/BIC</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Swift/BIC" value="" ng-model="wt.ibSwiftBic">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Name</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Name" value="" ng-model="wt.ibName">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Address</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Address" value="" ng-model="wt.ibAddress">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Location</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Location" value="" ng-model="wt.ibLocation">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Country</label>
                                    <div>
                                        <input type="text" class="form-control themeColor scrollable-dropdown-menu" ng-model="wt.ibCountry" placeholder="Country" uib-typeahead="country.commonname for country in countries | filter:{name:$viewValue} | limitTo:5" typeahead-on-select="selectedCountry($item)" typeahead-show-hint="true" typeahead-min-length="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">ABA/RTN</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="ABA/RTN" value="" ng-model="wt.ibABARTN">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <label for="cardName">Acct #/IBAN</label>
                                    <input type="text" name="first-name" class="form-control input-sm" id="cardName" placeholder="Acct #/IBAN" value="" ng-model="wt.ibAcctIBAN">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn btn-primary" ng-click="submit()">Submit</button>
            </div>
        </div>
    </form>
</div>
<!-- /panel -->
<!--Toggle Imtermediary Bank Info-->
<script type="text/javascript">
        $('#mycheckbox').change(function() {
            $('#mycheckboxdiv').toggle();
        });
</script>