﻿@*Forget Password*@

@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<div growl class="pull-right"></div>
<div ng-controller="CWForgotPasswordController">
    <!--Login Page-->

    <div class="login-wrapper">

        <div class="text-center">
            <img src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" style="padding-left:15em !important;">
            <h2 class="fadeInUp" style="font-weight:bold">
                <span class="text-primary">Coop</span> <span style="color:#afafaf; text-shadow:0 1px #fff">eWallet</span>
            </h2>
        </div>
        <div class="login-widget">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i> Forget Password
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-login">
                        <div class="form-group">
                            <label>Please provide your registed account email address</label>
                        </div>

                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" placeholder="Enter Email Address" class="form-control input-sm" ng-model="forgetPass.email">
                        </div>

                        <br /><br />
                        <div class="seperator"></div><div class="seperator"></div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <span style="font-size:11px;">Don't have an account?</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <a class="btn btn-default btn-xs login-link" href="@Url.Action("Index", "Registration")" style="margin-top:-2px;"><i class="fa fa-plus-circle"></i> Sign up</a>
                            </div>
                            <hr />
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" align="right">
                                <hr />
                                <a class="btn btn-primary btn-sm pull-right" ng-click="submitForgetPass();" ><i class="fa fa-sign-in"></i> Submit</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
    </div><!-- /login-wrapper -->
</div>