﻿

a.logo {
    background: url(images/logo_bg.png) no-repeat top left;
    display: block;
    width: 50px;
    background-size: 50px 50px;
    text-indent: -9999px; /* hides the link text */
}
.navbar-inverse {
    background-color: #193654 !important;
    border-color:rgba(0,0,0,0);
}

.login-dp {
    padding-right: 100px;
    padding-top: 9px;
}
.form-dp {
    top: 57px !important;
    min-width: 250px;
    padding: 14px 14px 0;
   /* overflow: hidden;*/
    background-color: rgba(23, 51, 79,0.8) !important;
}

    #login-dp .help-block {
        font-size: 12px
    }

#login-dp .bottom {
    background-color: rgba(23, 51, 79,0.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

    #login-dp .social-buttons {
        margin: 12px 0
    }

        #login-dp .social-buttons a {
            width: 49%;
        }

    #login-dp .form-group {
        margin-bottom: 10px;
    }



@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }

    
}

.thecube {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    

}

/*.nav-tabs > li.active > a,   .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #555;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px !important;
    border-bottom-color: transparent;
    cursor: default;
}*/
