﻿<div class="modal-header">
    <h3 class="modal-title">{{message.title}} </h3>
</div>
<div class="modal-body">
    <table align="center">
        <tr>
            <td><p style="font-weight:bold !important;">Note: {{message.description}}</p></td>
        </tr>
        <tr>
            <td>
                <label>Account to Credit</label>
                <select ng-model="selectedEnrolledAccount" class="form-control input-sm" ng-change="selectedCurrency();showTopUpBtn()" required>
                    <option value="">--Select Account to Credit--</option>
                    <option ng-repeat="data in enrolledAccount" value="{{data}}">{{data.currency}} - {{data.balance}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <!--ng-if="showConversion"-->
        <tr ng-if="showConversion">
            <td>
                {{convertedAmount}}
            </td>
        </tr>
        <tr ng-if="showConversion">
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input type="number" ng-model="phoneNumber" class="form-control input-sm" placeholder="Phone Number" ng-change="showTopUpBtn()" required/>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input type="password"  ng-model="confirmPassword" class="form-control input-sm"  placeholder="Confirm Your Password" ng-change="showTopUpBtn()" required/>
            </td>
        </tr>
    </table>
    
</div>
<div class="modal-footer deletemodal">
    <a  class="btn btn-default" ng-click="dismiss()"> Cancel </a>
    <a  class="btn btn-default" ng-click="processTopUp()" ng-if="lock"> Top-Up </a>
</div>

<div style="display:none !important;" id="dialog">
    <div>Test</div>
</div>