﻿<style>
    .btnSuccess {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        background: #0f9e05;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .btnSuccess:hover {
        background: #277500;
        text-decoration: none;
        color: #ffffff;
    }

    .backGround {
        width: 100% !important;
        text-align: center;
        color: #495B6C;
        font-size: 15px;
        height: 50px;
        border-top: 1px solid #adadad;
    }

    .backGround:hover {
        background: #b3b3b3;
        text-decoration: none;
        color: #ffffff;
    }
</style>
<!--<div class="modal-body text-center" style="display:inline !important;">
    <h1><i class="fa fa-check fa-lg text-success"> </i></h1>
    <h4>
            {{contentMessage}}
    </h4>
</div>-->
    <div align="center">
        <h3>
            <span ng-if="content == null">
                <i class="fa fa-exclamation-triangle fa-md" style="color:red"> </i>
                <span ng-if="param == null">
                   Please check your beneficiary email / mobile number if it is correct
                </span>
                <span ng-if="param != null">
                    You are about to transfer funds to non E-wallet member with <strong>{{param}}</strong>
                </span>
            </span>
            <span ng-if="content != null">
            <i class="fa fa-exclamation-triangle fa-md text-info"> </i>
                You are about to transfer funds to E-wallet Member.
            </span>
        </h3>
    </div>
<table align="center" ng-if="content != null">
   <tr>
       <td>
           <h4>Full Name: <strong>{{content.firstname | uppercase}} {{content.lastname | uppercase}}</strong></h4>
       </td>
    </tr>
    <tr>
        <td>
            <h4>Email Address: <strong>{{content.email}}</strong></h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Mobile number: <strong>{{content.mobilenumber}}</strong></h4>
        </td>
    </tr>
</table>
<a href="javascript:void(0);" ng-click="dismiss()">
    <table align="center" class="backGround">
        <tr>
            <td>
                OK
            </td>
        </tr>
    </table>
</a>
