﻿<div class="modal-header">
    <h3 class="modal-title">{{message.title}} </h3>
</div>
<div class="modal-body text-center">
    <div class="i-circle danger"><i class="fa fa-trash"></i></div>
    <p>{{message.description}}</p>
</div>
<div class="modal-footer deletemodal">
    <a href="javascript:void(0);" ng-click="delete()" class="btn btn-danger">
        <i class="fa fa-trash"></i> Yes
    </a>
    <a href="javascript:void(0);" class="btn btn-default" ng-click="dismiss()"><i class="fa fa-times"></i> No </a>
</div>