﻿<style>
    .myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    /*.loader {
        position: relative;
    }*/

    .one {
        position: absolute;
        border-radius: 50%;
        background: #fff;
        opacity: .0;
        animation: loading 2s .65s infinite;
        height: 13px;
        width: 13px;
    }

    .two {
        position: absolute;
        border-radius: 50%;
        background: #e0e0e0;
        opacity: .0;
        animation: loading 1s 1.3s infinite;
        height: 13px;
        width: 13px;
    }



    @keyframes loading {
        0% {
            opacity: .0;
            transform: scale(.15);
            box-shadow: 0 0 2px rgba(black, .1);
        }

        50% {
            opacity: 1;
            transform: scale(2);
            box-shadow: 0 0 10px rgba(black, .1);
        }

        100% {
            opacity: .0;
            transform: scale(.15);
            box-shadow: 0 0 2px rgba(black, .1);
        }
    }

    div.fadeMe {
        opacity: 0.80;
        background: #000;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: fixed;
    }
    p {
        /*text-align: center;*/
        position: absolute;
        border-radius: 50%;
        /*margin: 65px 0px 0px 135px;*/
        color: #fff;
        font-weight:bold;
        font-size:15px;
        margin-top:10px;
    }
</style>
<!--<div class="fadeMe">
       
        <!--<div class="myProgress">
            <div id="myBar"></div>
        </div>-->
    <!--<progress></progress>-->
    <!--<div class="modal-body text-center">
       
    </div>-->
    <!--<div ></div>-->
   
<!--</div>-->

<div>
    <table>
        <tr>
            <td>
                <p>
                    {{contentMessage}}
                </p>
            </td>
        </tr>
    </table>
    <table align="right" style="margin-top:15px !important;">
        <tr>
            <td>
                <div class="one"></div>
            </td>
            <td>
                <div class="two"></div>
            </td>
        </tr>
    </table>
    
    
   

</div>