﻿<style>
    .btnSuccess {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        background: #0f9e05;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .btnSuccess:hover {
        background: #277500;
        text-decoration: none;
        color: #ffffff;
    }

    .backGround {
        width: 100% !important;
        text-align: center;
        color: #495B6C;
        font-size: 15px;
        height: 50px;
        border-top: 1px solid #adadad;
    }

    .backGround:hover {
        background: #b3b3b3;
        text-decoration: none;
        color: #ffffff;
    }
</style>
<!--<div class="modal-body text-center" style="display:inline !important;">
    <h1><i class="fa fa-check fa-lg text-success"> </i></h1>
    <h4>
            {{contentMessage}}
    </h4>
</div>-->
<table align="center">
    <tr>
        <td align="center">
            <h1><i class="fa fa-check fa-lg text-success"> </i></h1>
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                {{contentMessage}}
            </h4>
        </td>
    </tr>
</table>
<a href="javascript:void(0);" ng-click="dismiss()">
    <table align="center" class="backGround">
        <tr>
            <td>
                OK
            </td>
        </tr>
    </table>
</a>
