﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div id="landing-content">
    <div id="main-slider" class="carousel slide bg-dark" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
            <li data-target="#main-slider" data-slide-to="3"></li>
            <li data-target="#main-slider" data-slide-to="4"></li>
            <li data-target="#main-slider" data-slide-to="5"></li>
            <li data-target="#main-slider" data-slide-to="6"></li>
            <li data-target="#main-slider" data-slide-to="7"></li>
            <li data-target="#main-slider" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="/Content/templateFrontend/customerAdmin/img/gallery-coop.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Coop eWallet</b></h2>
                        <p style="" class="text-white fadeInUpLarge animation-delay6 m-right-md hidden-xs banner-color">
                            innovating online digital payment services <br />
                            and revolutionizing ecommerce
                        </p>
                        <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/templateFrontend/customerAdmin/img/gallery-coop-hand.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg text-warning fadeInDownLarge animation-delay3 banner-font">Multiple Currency Transaction</h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Add multiple currency to you accounts now! <br />
                            and start transfer and receive money anytime and anywhere
                        </p>
                        @*Login Link*@
                        <a href="@Url.Action("Index", "Signin")" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/Bill_Payments.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font">Bill Payment</h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Fastest way and effortless <br />
                            to pay your bill
                        </p>
                        @*Login Link*@
                        <a href="@Url.Action("Index", "Signin")" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/money_transfer_1.2.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Money Transfer</b></h2>
                        <p style="" class="text-white fadeInUpLarge animation-delay6 m-right-md hidden-xs banner-color">
                            send money to friends and family<br />
                            where in the world with our email money Transfer
                        </p>
                        <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/Join_Us_02.jpg" alt="" class="img-background">
                <div class="row text-center">
                    <h2 style="" class="m-top-lg text-warning fadeInDownLarge animation-delay3 banner-font">Join Us Today!</h2>
                    <h4 style="" class="text-white fadeInUpLarge animation-delay6 hidden-xs banner-color">
                        Send money the way you want to  <br />
                        Easy and Secured.
                    </h4>
                    <br />
                    <br />
                    <a href="@Url.Action("Index", "Registration")" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8">Sign Up!</a>
                    <a href="index-2.html" class="btn btn-danger btn-lg fadeInRightLarge animation-delay8">Find Out More</a>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/3_mobile (2).jpg" alt="" class="img-background">
                <div class="row">
                    <div class="row text-center">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Remittance</b></h2>
                        <p style="" class="text-white fadeInRightLarge animation-delay6 m-right-md hidden-xs banner-color">
                            Remit to china Top-up<br />
                            UnionPay Cards in 40 Seconds
                        </p>
                        <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/banner1 (3).jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg text-warning fadeInDownLarge animation-delay3 banner-font"><b>Real Time</b></h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Today.
                        </p>
                        <p style="" class="text-warning fadeInUpLarge animation-delay10 hidden-xs banner-color">
                            Tomorrow.
                        </p>
                        <p style="" class="text-warning fadeInLeftLarge animation-delay12 hidden-xs banner-color">
                            Together.
                        </p>
                        @*Login Link*@
                        <a href="@Url.Action("Index", "Signin")" class="btn btn-default btn-lg fadeInDownLarge animation-delay8">Find Out More </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/banner3.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Cash in</b></h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Go Ahead. <br />
                            You Can Rely on Us.
                        </p>
                        @*Login Link*@
                        <a href="@Url.Action("Index", "Signin")" class="btn btn-default btn-lg fadeInDownLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/QR_CODE_SCANNING (2).jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInRightLarge animation-delay3 banner-font"><b>QR Pay</b></h2>
                        <p style="" class="text-white fadeInDownLarge animation-delay6 m-right-md hidden-xs banner-color">
                            Pay, Tap and Go <br />

                        </p>
                        @*Login Link*@
                        <a href="@Url.Action("Index", "Signin")" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#main-slider" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>

    <div class="bg-white content-padding text-center font-lg">
        <div class="container">
            <span class="m-right-lg"><h1><b>What we offer</b></h1></span>
            <div class="inline-block m-top-sm">
                <p>Our commitment to providing a wide choice of financial options and services at favorable prices is enhanced by the timeless values of honesty, integrity, respect and professionalism.</p>
            </div>
        </div>
    </div>

    <div class="bg-light padding-md" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 content-padding">
                    <div class="feature-icon text-center">
                        <img src="/Content/images/icon_payment_solution.png" alt="" style="height:100%;width:100%;opacity:0.8" class="img-background">
                    </div>
                    <div class="text-center font-lg">
                        <h5><b>PAYMENT SOLUTIONS</b></h5>
                    </div>
                    <p style="text-align:justify" class="lineLimit">Co-op Wallet is an innovator and developer of online digital payment services. We are revolutionizing the way ecommerce is transacted both on and off the Internet Through an online link you can access a number of digital currency services.</p>
                </div><!-- /.col -->
                <div class="col-sm-3 content-padding">
                    <div class="feature-icon text-center">
                        <img src="/Content/images/icon_money_transfer.png" alt="" style="height:100%;width:100%;" class="img-background">
                    </div>
                    <div class="text-center font-lg">
                        <h5><b>MONEY TRANSFER</b></h5>
                    </div>
                    <p style="text-align:justify" class="lineLimit">Coop Wallet system provide multinational companies a gateway to Process Card Transaction and pay commissions to their members worldwide. An example of this would be a network marketing companies which distributes its products to several countries and need to Accept Payment and pay commissions to its members in those countries.</p>
                </div><!-- /.col -->
                <div class="col-sm-3 content-padding">
                    <div class="feature-icon text-center">
                        <img src="/Content/images/icon_card_processing.png" alt="" style="height:100%;width:100%;" class="img-background">
                    </div>
                    <div class="text-center font-lg">
                        <h5><b>CARD PROCESSING</b></h5>
                    </div>
                    <p style="text-align:justify" class="lineLimit">Coop Wallet system provide multinational companies a gateway to Process Card Transaction and pay commissions to their members worldwide. An example of this would be a network marketing companies which distributes its products to several countries and need to Accept Payment and pay commissions to its members in those countries.</p>
                </div><!-- /.col -->
                <div class="col-sm-3 content-padding">
                    <div class="feature-icon text-center">
                        <img src="/Content/images/icon_prepaid_card.png" alt="" style="height:100%;width:100%;" align="middle" class="img-background">
                    </div>
                    <div class="text-center font-lg">
                        <h5><b>PREPAID CARD</b></h5>
                    </div>
                    <p style="text-align:justify" class="lineLimit">Consumers have embraced debit cards as a convenient and secure alternative to cash. Prepaid debit cards can withdraw cash from an ATM or make purchases (pin-based transactions) from any merchant displaying the Visa/Master/Union Pay Card network logos. All Cardholders can access their card balance and transaction history online It is also possible to have a second card issued to a family member or friend in another country.</p>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>

    <div class="padding-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 content-padding">
                    <div class="feature-icon text-center">
                        <img src="/Content/templateFrontend/customerAdmin/img/etransfer.png" alt="" style="height:80%;width:100%;" class="img-background">
                    </div>
                    <div class="text-center font-lg">
                        <h3>eTransfer</h3>
                    </div>
                    <p class="lineLimit">Think of it like email. Anyone can use it, but there isn’t a single company that is in charge of it. Bitcoin transactions are irreversible. This means that no one, including banks, or governments can block you from sending or receiving bitcoins with anyone else, anywhere in the world. With this freedom comes the great responsibility of not having any central authority to complain to if something goes wrong. Just like physical cash, don’t let strangers hold your bitcoins for you, and don’t send them to untrustworthy people on the internet.</p>
                </div><!-- /.col -->
                @*<div class="col-sm-4 content-padding">
                        <div class="feature-icon text-center">
                            <img src="/Content/templateFrontend/customerAdmin/img/coop-img-circle.png" alt="" class="img-background">
                        </div>
                        <div class="text-center font-lg">
                            <h3>COOP Coin</h3>
                        </div>
                        <p class="lineLimit">Think of it like email. Anyone can use it, but there isn’t a single company that is in charge of it. Bitcoin transactions are irreversible. This means that no one, including banks, or governments can block you from sending or receiving bitcoins with anyone else, anywhere in the world. With this freedom comes the great responsibility of not having any central authority to complain to if something goes wrong. Just like physical cash, don’t let strangers hold your bitcoins for you, and don’t send them to untrustworthy people on the internet.</p>
                    </div>*@
                <!-- /.col -->
                @*<div class="col-sm-4 content-padding">
                        <div class="feature-icon text-center">
                            <img src="/Content/templateFrontend/customerAdmin/img/coop-coin-img-circle.png" alt="" class="img-background">
                        </div>
                        <div class="text-center font-lg">
                            <h3>eCoin</h3>
                        </div>
                        <p class="lineLimit">Think of it like email. Anyone can use it, but there isn’t a single company that is in charge of it. Bitcoin transactions are irreversible. This means that no one, including banks, or governments can block you from sending or receiving bitcoins with anyone else, anywhere in the world. With this freedom comes the great responsibility of not having any central authority to complain to if something goes wrong. Just like physical cash, don’t let strangers hold your bitcoins for you, and don’t send them to untrustworthy people on the internet.</p>
                    </div>*@
                <!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>
    <div class="bg-white">
    </div>
</div><!-- /landing-content -->

@*<footer class="footerColor">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 padding-md">
                <a href="#" class="brand">
                    <img src="/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" width=auto height=80px>
                </a>
                <br /><br />
                <p class="font-lg">About Our Company</p>
                <p>
                    <small>
                        Calle Quinta y Manuel Gonzalez, Del Edificio Aitza,Local 1, <br />
                        Santiago Veraguas, Republic of Panama
                    </small>
                </p>
            </div><!-- /.col -->
            <div class="col-sm-2 padding-md">
                <p class="font-lg">Our Services</p>
                <div class="seperator"></div>
                <a href="#" class="text-white"><i class="fa fa-caret-right"></i>Payment Solution</a>
                <div class="seperator"></div>
                <div class="seperator"></div>
                <a href="#" class="text-white"><i class="fa fa-caret-right"></i> Money Transfer</a>
                <div class="seperator"></div>
                <div class="seperator"></div>
                <a href="#" class="text-white"><i class="fa fa-caret-right"></i> Card Processingt</a>
                <div class="seperator"></div>
                <div class="seperator"></div>
                <a href="#" class="text-white"><i class="fa fa-caret-right"></i> Prepaid Card</a>
            </div><!-- /.col -->
            <div class="col-sm-2 padding-md">
                <p class="font-lg">Follow Us</p>
                <a href="https://www.facebook.com/" class="social-connect tooltip-test facebook-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?text=Hello%20world" class="social-connect tooltip-test twitter-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/discover" class="social-connect tooltip-test google-plus-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                <a href="https://ph.linkedin.com/" class="social-connect tooltip-test linkedin-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div><!-- /.col -->
            <div class="col-sm-3 padding-md">
                <p class="font-lg">Contact Us</p>
                Email : support@cooptavanza.com
                <div class="seperator"></div>
                <a href="" class="btn btn-info" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i> Contact support</a>

                <!--contact us modal-->
                <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Any questions? Feel free to contact us.</h4>
                            </div>
                            <form action="#" method="post" accept-charset="utf-8">
                                <div class="modal-body" style="padding: 5px;">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                            <input class="form-control" name="firstname" placeholder="Firstname" type="text" required autofocus />
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                            <input class="form-control" name="lastname" placeholder="Lastname" type="text" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                            <input class="form-control" name="email" placeholder="E-mail" type="email" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                            <input class="form-control" name="subject" placeholder="Subject" type="text" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" name="comment" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" style="margin-bottom:-14px;">
                                    <input type="submit" class="btn btn-success" value="Send" />
                                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                                    <input type="reset" class="btn btn-danger" value="Clear" />
                                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                                    <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end of contact us modal-->
            </div>
        </div><!-- /.row -->
    </div>
</footer>*@
<!--bankdeposit modal-->
<div class="modal fade" id="bankDeposit" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="col-md-12">
            <div class="thumbnail">
                <img src="https://static.pexels.com/photos/265667/pexels-photo-265667.jpeg" alt="" class="img-responsive">
                <div class="caption">
                    <h4><a href="#">Bank Deposit</a></h4>
                    <p> Note: This is a sample paragraph only</p>
                    <p>
                        Today’s web-savvy customers require self-service banking access to automate recurring bill payments with the convenience and flexibility of making payments anytime and anywhere. With the Coop Red Direct Debit System (DDS), your members can easily and efficiently self-service all aspects of their accounts from anywhere in the world; 24/7 while remaining transparent.

                        The DDS system is a recurring bill payment system whereby service providers and businesses, that have joined the Coop Red Network, can enhance their debt collection and payment process. DDS allows your members to automatically pay bills directly from their account without writing a check or withdrawing cash. Additional, the system allows automatic payments to any business or service provider that has registered with the Coop Red Network. Your members are in full control over when their payments will be made, the amount of payments and all things related to the payment. It can be turned off at any time and then back on at the convenience of the member.

                        DDS also works with business and service providers not registered with the Coop Red Network provided your member has the required banking information for the business or service provider. The DDS system delivers a consistent bill payment experience.

                        DDS provides member merchants with rapid reductions in operational costs, quicker payment turnaround and enhanced customer service
                    </p>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i> Close</button>
                </div>
                <div class="space-ten"></div>
            </div>
        </div>
    </div>
</div>
<!--end of bankdeposit modal-->
<!--moneyTransfer modal-->
<div class="modal fade" id="moneyTransfer" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="col-md-12">
            <div class="thumbnail">
                <img src="/Content/images/money_transfer_1.2.jpg" alt="" class="img-responsive">
                <div class="caption">
                    <h4><a href="#">Money Transfer</a></h4>
                    <p> Note: This is a sample paragraph only</p>
                    <p>

                        Coop Wallet is designed to give your members the ability to establish a money transfer account that sends and receives money from anywhere to anyone in the world from the comfort of their home or office, online, or by Mobile and can be used to shop online or in stores.

                        Once registered on the Coop Wallet System for a money transfer account, your member account serves as the senders and receivers national and international identity allowing them to send and receive money worldwide. Your members do not need to present their identity document each time they want to send or receive money; they do not need to find an agent to send money or to pick up their money. Sending and receiving of national and international money transfer can bedone entirely from home, mobile phone or online directly from yourmember’s money transfer account. The system is designed for receiving money transfers irrespective of the currency.

                        Your member’s money transfer account operates across the Coop Wallet and provides a secure transaction structure for sending and receiving money worldwide to Money Service Business (MSB) companies connected to the Network. The MTS establishes instant access to a global network of payout locations saving your members the head-ache of finding their own individual payout location and removing the limitation and burden of complying with the money laundering regulations and customer due diligence requirements.

                        Coop Wallet solution offers you an interactive dashboard for money transfer trans-actions management and reporting.
                    </p>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i> Close</button>
                </div>
                <div class="space-ten"></div>
            </div>
        </div>
    </div>
</div>
<!--end of moneyTransfer modal-->
<!--chinaRemit modal-->
<div class="modal fade" id="chinaRemit" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="col-md-12">
            <div class="thumbnail">
                <img src="/Content/images/banner1.jpg" alt="" class="img-responsive">
                <div class="caption">
                    <h4><a href="#">China Remit</a></h4>
                    <p> Note: This is a sample paragraph only</p>
                    <p>

                        "Remit to china Top-up UnionPay Cards in 40 Seconds"
                        From abroad remit to UnionPay cardholders throughout China.
                        Secure, quick and easy to use web based MoneyExpress portal
                        Licensed and certified by UnionPay
                        Real time authentication with UnionPay and the State Administration of Foreign Exchange of China (“SAFE”)
                        Online access to transaction, settlement reports and support services
                        "Remit to China in 40 seconds"
                        Real-Time Remittance to UnionPay Cards
                        Real-Time S.A.F.E. Verification
                        Online Access to Reports
                    </p>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i> Close</button>
                </div>
                <div class="space-ten"></div>
            </div>
        </div>
    </div>
</div>
<!--end of chinaRemit modal-->
<!--top-upAirtime modal-->
<div class="modal fade" id="top-upAirtime" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="col-md-12">
            <div class="thumbnail">
                <img src="https://static.pexels.com/photos/267447/pexels-photo-267447.jpeg" alt="" class="img-responsive">
                <div class="caption">
                    <h4><a href="#">Top-up Airtime</a></h4>
                    <p> Note: This is a sample paragraph only</p>
                    <p>

                        "Remit to china Top-up UnionPay Cards in 40 Seconds"
                        From abroad remit to UnionPay cardholders throughout China.
                        Secure, quick and easy to use web based MoneyExpress portal
                        Licensed and certified by UnionPay
                        Real time authentication with UnionPay and the State Administration of Foreign Exchange of China (“SAFE”)
                        Online access to transaction, settlement reports and support services
                        "Remit to China in 40 seconds"
                        Real-Time Remittance to UnionPay Cards
                        Real-Time S.A.F.E. Verification
                        Online Access to Reports
                    </p>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i> Close</button>
                </div>
                <div class="space-ten"></div>
            </div>
        </div>
    </div>
</div>
<!--end of top-upAirtime modal-->
