﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
       <div id="landing-content">
    <div id="main-slider" class="carousel slide bg-dark" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item  active">
                <img src="https://static.pexels.com/photos/265667/pexels-photo-265667.jpeg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font">China Remit</h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Send Money any where in the world
                        </p>
                        <a href="@Url.Action(" Index", "Signin" )" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/money_transfer_1.2.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>China Remit</b></h2>
                        <p style="" class="text-white fadeInUpLarge animation-delay6 m-right-md hidden-xs banner-color">
                            innovating online digital payment services <br />
                            and revolutionizing ecommerce
                        </p>
                        <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#main-slider" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
    <div class="bg-white content-padding text-center font-lg">
        <div class="container">
            <span class="m-right-lg"><h1><b>China Remit</b></h1></span>
            <div class="inline-block m-top-sm">
                <p> Note: This is a sample paragraph only</p>
                <p style="text-align:justify">
                    <small>
                        "Remit to china Top-up UnionPay Cards in 40 Seconds"
                        From abroad remit to UnionPay cardholders throughout China.
                        Secure, quick and easy to use web based MoneyExpress portal
                        Licensed and certified by UnionPay
                        Real time authentication with UnionPay and the State Administration of Foreign Exchange of China (“SAFE”)
                        Online access to transaction, settlement reports and support services
                        "Remit to China in 40 seconds"
                        Real-Time Remittance to UnionPay Cards
                        Real-Time S.A.F.E. Verification
                        Online Access to Reports
                    </small>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div><!-- /landing-content -->