﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
        <div id="landing-content">
            <div id="main-slider" class="carousel slide bg-dark" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item  active">
                        <img src="https://static.pexels.com/photos/265667/pexels-photo-265667.jpeg" alt="" class="img-background">
                        <div class="row">
                            <div class="col-xs-6 text-right">
                                <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                            </div>
                            <div class="col-xs-6">
                                <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font">Bank Deposit</h2>
                                <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                                    Send Money any where in the world
                                </p>
                                <a href="@Url.Action(" Index", "Signin" )" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Content/images/money_transfer_1.2.jpg" alt="" class="img-background">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Bank Deposit</b></h2>
                                <p style="" class="text-white fadeInUpLarge animation-delay6 m-right-md hidden-xs banner-color">
                                    innovating online digital payment services <br />
                                    and revolutionizing ecommerce
                                </p>
                                <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#main-slider" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#main-slider" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
            <section id="contact" class="content-section text-center">
                <div class="contact-section">
                    <div class="container">
                        <h2>Contact Us</h2>
                        <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook,Whatsapp,Twitter.</p>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="exampleInputName2">Name</label>
                                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2">Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="name@example.com">
                                    </div>
                                    <div class="form-group ">
                                        <label for="exampleInputText">Your Message</label>
                                        <textarea class="form-control" placeholder="Description"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default">Send Message</button>
                                </form>
                                <hr>
                                <h3>Our Social Sites</h3>
                                <ul class="list-inline banner-social-buttons">
                                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <p>&nbsp;</p>
        </div><!-- /landing-content -->
