﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
      <div id="landing-content">
    <div id="main-slider" class="carousel slide bg-dark" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://static.pexels.com/photos/267447/pexels-photo-267447.jpeg" alt="" class="img-background">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Credit Card</b></h2>
                        <p style="" class="text-white fadeInUpLarge animation-delay6 m-right-md hidden-xs banner-color">
                            innovating online digital payment services <br />
                            and revolutionizing ecommerce
                        </p>
                        <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://static.pexels.com/photos/267447/pexels-photo-267447.jpeg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font">Credit Card</h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Fastest way and effortless <br />
                            to pay your bill
                        </p>
                        @*Login Link*@
                        <a href="@Url.Action(" Index", "Signin" )" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#main-slider" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
    <div class="bg-white content-padding text-center font-lg">
        <div class="container">
            <span class="m-right-lg"><h1><b>Credit Card</b></h1></span>
            <div class="inline-block m-top-sm">
                <p style="text-align:justify">
                    <small>
                        The Check Clearing for the 21st Century Act (or Check 21 Act) is a United States federal law, Pub.L. 108–100, that was enacted on October 28, 2003 by the 108th U.S. Congress. The Check 21 Act took effect one year later on October 28, 2004. The law allows the recipient of the original paper check to create a digital version of the original check, a process known as check truncation, into an electronic format called a "substitute check", thereby eliminating the need for further handling of the physical document. In essence, the recipient bank no longer returns the paper check, but effectively e-mails an image of both sides of the check to the bank it is drawn upon.

                        Consumers are most likely to see the effects of this act when they notice that certain checks (or image of) are no longer being returned to them with their monthly statement, even though other checks are still being returned. Another effect of the law is that it is now legal for anyone to use a computer scanner or mobile phone to capture images of checks and deposit them electronically, a process known as remote deposit.

                        Check 21 is not subject to ACH (Automated Clearing House) rules, therefore transactions are not subject to NACHA (The Electronic Payments Association) rules, regulations, fees and fines.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <section id="overview" class="features">


        <div class="container text-center">
            <h1 class="title1 blue">A payment gateway built for businesses of all sizes.</h1>
            <div class="text-center center-col col-lg-10 col-md-10 col-sm-11 col-xs-11"><p>As the Philippines’ leading online payment gateway system, we provide local businesses with secure payment processing solutions that enable them to accept a wide variety of payment methods ranging from online, mobile and point-of-sale payments.</p></div>



            <div>



            </div>


            <div class="col-sm-4 col-md-4">
                <div class="service-box">
                    <div class="service-pic"> <img src="https://static.pexels.com/photos/50987/money-card-business-credit-card-50987.jpeg" alt="Card Payments" width="100%"> </div>
                    <div class="service-icon">
                        <!-- <img src="images/row-1-icon1.png" alt="Card Payments" width="104" height="110"> -->
                        <div class="service-desc">
                            <h3 class="title2 blue">Card Payments</h3>
                            <p>Accept credit card payments securely from thousands of online shoppers nationwide.</p>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service-box">
                    <div class="service-pic"> <img src="https://static.pexels.com/photos/164501/pexels-photo-164501.jpeg" alt="Alternative Payments" width="100%"> </div>
                    <div class="service-icon">
                        <!-- <img src="images/row-1-icon2.png" alt="Alternative Payments" width="104" height="110"> -->
                        <div class="service-desc">
                            <h3 class="title2 blue">Alternative Payments</h3>
                            <p>Give customers more options to pay online via direct debit, electronic wallets, cash and even PayPal.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service-box">
                    <div class="service-pic"> <img src="https://static.pexels.com/photos/34577/pexels-photo.jpg" alt="Payment Solutions" width="100%"> </div>
                    <div class="service-icon">
                        <!-- <img src="images/row-1-icon3.png" alt="Payment Solutions" width="104" height="110"> -->
                        <div class="service-desc">
                            <h3 class="title2 blue">Payment Solutions</h3>
                            <p>Stay ahead of the curve with payment solutions that are tailored to your unique business needs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- /landing-content -->
