﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
       <div id="landing-content">
    <div id="main-slider" class="carousel slide bg-dark" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item  active">
                <img src="https://static.pexels.com/photos/163069/mobile-phone-money-banknotes-us-dollars-163069.jpeg" alt="" class="img-background">
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <!--<img src="img/coop-card.jpg" alt="responsive" class="fadeInLeftLarge animation-delay6 m-top-lg m-bottom-lg">-->
                    </div>
                    <div class="col-xs-6">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font">Money Transfer</h2>
                        <p style="" class="text-warning fadeInUpLarge animation-delay6 hidden-xs banner-color">
                            Send Money any where in the world
                        </p>
                        <a href="@Url.Action(" Index", "Signin" )" class="btn btn-default btn-lg fadeInRightLarge animation-delay8">Login <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Content/images/money_transfer_1.2.jpg" alt="" class="img-background">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h2 style="" class="m-top-lg m-right-md text-white fadeInDownLarge animation-delay3 banner-font"><b>Money Transfer</b></h2>
                        <p style="" class="text-white fadeInUpLarge animation-delay6 m-right-md hidden-xs banner-color">
                            innovating online digital payment services <br />
                            and revolutionizing ecommerce
                        </p>
                        <a href="index-2.html" class="btn btn-default btn-lg fadeInLeftLarge animation-delay8 m-bottom-lg m-right-md">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#main-slider" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
    <div class="bg-white content-padding text-center font-lg">
        <div class="container">
            <span class="m-right-lg"><h1><b>Money Transfer</b></h1></span>
            <div class="inline-block m-top-sm">
                <p> Note: This is a sample paragraph only</p>
                <p style="text-align:justify">
                    <small>
                        Coop Wallet is designed to give your members the ability to establish a money transfer account that sends and receives money from anywhere to anyone in the world from the comfort of their home or office, online, or by Mobile and can be used to shop online or in stores.

                        Once registered on the Coop Wallet System for a money transfer account, your member account serves as the senders and receivers national and international identity allowing them to send and receive money worldwide. Your members do not need to present their identity document each time they want to send or receive money; they do not need to find an agent to send money or to pick up their money. Sending and receiving of national and international money transfer can bedone entirely from home, mobile phone or online directly from yourmember’s money transfer account. The system is designed for receiving money transfers irrespective of the currency.

                        Your member’s money transfer account operates across the Coop Wallet and provides a secure transaction structure for sending and receiving money worldwide to Money Service Business (MSB) companies connected to the Network. The MTS establishes instant access to a global network of payout locations saving your members the head-ache of finding their own individual payout location and removing the limitation and burden of complying with the money laundering regulations and customer due diligence requirements.

                        Coop Wallet solution offers you an interactive dashboard for money transfer trans-actions management and reporting.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-heading" style="background-color:#eeeded;">
                    <h3 class="panel-title">
                        Features Services:
                    </h3>

                </div>
                <div class="panel-body">
                    <div class="fa-ul">
                        <ul>
                            <li>Exchange Rates</li>
                            <li>Transfer fast, safe and convenient</li>
                            <li>Low Fees</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel ">
                <div class="panel-heading" style="background-color:#eeeded;">
                    <h3 class="panel-title">
                        Benefits:
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="fa-ul">
                        <ul>
                            <li>No Hidden Fees Charge</li>
                            <li>Save all transaction history</li>
                            <li>Accessbility to Wordlwide</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="block-views-3ec15c51f61e7ee062c338a23c570849" class="section-lg block block-views m-top5" data-title="Our services">
        <div class="container">
            <div class="">
                <div class="title1 text-center">
                    <h2 class="uppercase"></h2>
                </div>
                <div class="tab-style1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="uppercase active;col-md-10 col-lg-2">
                            <a href="#mobile-app" aria-controls="mobile-app" role="tab" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-mobile fa-3x m-bottom1"></i>
                                MOBILE APP
                            </a>
                        </li>
                        <li role="presentation" class="uppercase;col-md-10 col-lg-2">
                            <a href="#card" aria-controls="card" role="tab" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-briefcase fa-3x m-bottom1"></i>
                                BILLERS
                            </a>
                        </li>
                        <li role="presentation" class="uppercase;col-md-10 col-lg-2">
                            <a href="#atm-11" aria-controls="atm-11" role="tab" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-headphones fa-3x m-bottom1"></i>
                                AGENT
                            </a>
                        </li>
                        <li role="presentation" class="uppercase ;col-md-10 col-lg-2">
                            <a href="#merchant" aria-controls="atm-11" role="tab" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-shopping-cart fa-3x m-bottom1"></i>
                                MERCHANT
                            </a>
                        </li>
                        <li role="presentation" class="uppercase ;col-md-10 col-lg-2">
                            <a href="#top" aria-controls="top" role="tab" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-globe fa-3x m-bottom1"></i>
                                PARTNERS
                            </a>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <div class="tab-content m-top5">
                        <div role="tabpanel" class="tab-pane active" id="mobile-app">
                            <div class="col-md-6 col-sm-6">
                                <h1 class="m-top0 m-bottom3 uppercase">Mobile App </h1>
                                <p class="m-bottom5" style="text-align:justify">The Mobile module represents the next generation of digital technology allowing Member customers to conduct their banking wherever they go.</p>
                                <blockquote class="font-thin" style="text-align:justify">
                                    <p>The Mobile module is interoperable, comprehensive, flexible, multi-lingual and user-friendly solution that offers secure self-directed transactions, allowing Member customers the ability to check balances, deposit funds, pay bills, transfer funds, top off air time and load cards all from their mobile phone. Mobile Banking is enabled for straight through processing and optimized for high performance; it operates across the Network Platform therefore it is a cost-effective 24 hour service and is fully customizable with Member branding.</p>
                                </blockquote>
                            </div>
                            <div class="col-md-6 col-sm-6 nopadding fadeInLeft">
                                <figure class="nomargin"><img src="https://static.pexels.com/photos/34577/pexels-photo.jpg" alt="Mobile app" class="max-width"></figure>
                                <div class="bg-overlay-black text-center">
                                    <h2 class="uppercase-blue">MOBILE APP</h2>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="card">
                            <div class="col-md-6 col-sm-6">
                                <h1 class="m-top0 m-bottom3 uppercase">Billers</h1>
                                <p class="m-bottom5" style="text-align:justify">
                                    An independent person or legal entity, which acts on behalf of another (“Principal”). In international transactions, this term normally refers to a sales representative who prospects on behalf of a foreign principal, earning a commission on sales eventually concluded between the principal and the ultimate client.
                                </p>

                                <!--<blockquote class="font-thin">
                                    <p>Quisque vitae urn sapien tincidunt sollicitudin nec nec massa. Sed pos is purus accumsan facilisis.</p>
                                </blockquote>-->
                            </div>
                            <div class="col-md-6 col-sm-6 nopadding fadeInLeft">
                                <figure class="nomargin"><img src="https://static.pexels.com/photos/34577/pexels-photo.jpg"></figure>
                                <div class="bg-overlay-black text-center">
                                    <h2 class="uppercase-blue">BILLERS</h2>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="atm-11">
                            <div class="col-md-6 col-sm-6">
                                <h1 class="m-top0 m-bottom3 uppercase">Agent</h1>
                                <p class="m-bottom5" style="text-align:justify">
                                    An independent person or legal entity, which acts on behalf of another (“Principal”). In international transactions, this term normally refers to a sales representative who prospects on behalf of a foreign principal, earning a commission on sales eventually concluded between the principal and the ultimate client.
                                </p>
                                <blockquote class="font-thin" style="text-align:justify">

                                    <p>
                                        This is distinguished from sales through employees and subsidiaries – that are not independent – or through distributor´s buying and reselling in his or her own name.
                                    </p>

                                </blockquote>
                            </div>
                            <div class="col-md-6 col-sm-6 nopadding fadeInLeft">
                                <figure class="nomargin"><img src="https://static.pexels.com/photos/34577/pexels-photo.jpg" alt="AGENT" class="max-width"></figure>
                                <div class="bg-overlay-black text-center">
                                    <h2 style="" class="uppercase-blue">AGENT</h2>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="merchant">
                            <div class="col-md-6 col-sm-6">
                                <h1 class="m-top0 m-bottom3 uppercase">Merchant</h1>
                                <p class="m-bottom5" style="text-align:justify">a person or company involved in wholesale trade, especially one dealing with foreign countries or supplying merchandise to a particular trade.</p>
                                <blockquote class="font-thin">
                                    <p>A merchant is a person who trades in commodities produced by other people. A merchant historically was anyone who was involved in business as long as industry, commerce, and trade have existed. The status of the merchant has varied during different periods of history and among different societies.</p>
                                </blockquote>
                            </div>
                            <div class="col-md-6 col-sm-6 nopadding fadeInLeft">
                                <figure class="nomargin"><img src="https://static.pexels.com/photos/34577/pexels-photo.jpg" alt="MERCHANT" class="max-width"></figure>
                                <div class="bg-overlay-black text-center">
                                    <h2 class="uppercase-blue">MERCHANT</h2>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="top">
                            <div class="col-md-6 col-sm-6">
                                <h1 class="m-top0 m-bottom3 uppercase">Partners</h1>
                                <p class="m-bottom5" style="text-align:justify">Excepteur sint occaecat cupidatat non proident, sunt culpa only officia deserunt mollit borum amit. Nam a massa in dui pellentesque auctor. Quisque vitae urna non sapien tincidunt sollicitudin nec nec massa. Sed posuere, purus non accumsan facilisis, ex ante imperdiet nibh, sit amet pharetra felis. Quisque vitae urna non sapien tincidunt sollicitudin nec nec massa.</p>
                                <blockquote class="font-thin" style="text-align:justify">
                                    <p>Quisque vitae urn sapien tincidunt sollicitudin nec nec massa. Sed pos is purus accumsan facilisis, imperdiet nibh only standard.</p>
                                </blockquote>
                            </div>
                            <div class="col-md-6 col-sm-6 nopadding fadeInLeft">
                                <figure class="nomargin"><img src="https://static.pexels.com/photos/34577/pexels-photo.jpg" alt="PARTNER" class="max-width"></figure>
                                <div class="bg-overlay-black text-center">
                                    <h2 class="uppercase-blue">PARTNERS</h2>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="e-transfer">
                            <div class="col-md-6 col-sm-6">
                                <h1 class="m-top0 m-bottom3 uppercase">Money Transfer</h1>
                                <p class="m-bottom5" style="text-align:justify">Excepteur sint occaecat cupidatat non proident, sunt culpa only officia deserunt mollit borum amit. Nam a massa in dui pellentesque auctor. Quisque vitae urna non sapien tincidunt sollicitudin nec nec massa. Sed posuere, purus non accumsan facilisis, ex ante imperdiet nibh, sit amet pharetra felis. Quisque vitae urna non sapien tincidunt sollicitudin nec nec massa.</p>
                                <blockquote class="font-thin" style="text-align:justify">
                                    <p>Quisque vitae urn sapien tincidunt sollicitudin nec nec massa. Sed pos is purus accumsan facilisis, imperdiet nibh only standard.</p>
                                </blockquote>
                            </div>
                            <div class="col-md-6 col-sm-6 nopadding fadeInLeft">
                                <figure class="nomargin"><img src="https://static.pexels.com/photos/34577/pexels-photo.jpg" alt="Money Transfer" class="max-width"></figure>
                                <div class="bg-overlay-black text-center">
                                    <h2 class="uppercase blue">Money Transfer</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div><!-- /landing-content -->