﻿<div>
    <form class="form-signin" role="form" ng-submit="submit()">
        <h2 class="form-signin-heading">Login</h2>
       
        <input type="text" class="form-control" placeholder="Mobile Number:" required autofocus ng-model="login.mobile_number">
        <input type="password" class="form-control" placeholder="Password" required ng-model="login.pass">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>