﻿<div>
    <form class="form-signin" role="form" ng-submit="validateLogin()">
        <h2 class="form-signin-heading">Login</h2>
       
        <input type="text" class="form-control" placeholder="Mobile Number:" required autofocus ng-model="register.mobile_number">
        <input type="text" class="form-control" placeholder="Email:" required autofocus ng-model="register.email">
        <input type="password" class="form-control" placeholder="Password" required ng-model="register.password">
        <checkbox></checkbox>
        <p>I hereby certify that I am 18 years of age.
</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>