﻿



    <div id="wrapper">
            <div class="panel panel-default">
                <form class="form-horizontal form-border">
                    <div growl class="pull-right"></div>        

                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <div class="col-md-4">
                                <img src="~/Content/templateFrontend/customerAdmin/img/voucher.png" alt="User Avatar">
                            </div>
                            <div class="col-md-8">
                              
                                <!--<div class="form-group col-md-12">
                                    <div class="col-md-10">
                                        <label for="cardNumber">Mobile No.</label>
                                        <input type="text" name="number" class="form-control input-sm" id="cardNumber" ng-model="el.benificiarymobileno" placeholder="Mobile Number" disabled>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>-->
                                <div class="form-group col-md-12">
                                    <div class="col-md-10">
                                        <label for="cardNumber">Email ID</label>
                                        <input type="text" name="number" class="form-control input-sm" id="cardNumber" ng-model="el.benificiaryemail" placeholder="Email" disabled>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-10">
                                        <label for="cardNumber">Recipient Name</label>
                                        <input type="text" name="number" class="form-control input-sm" id="cardNumber" ng-model="el.benificiaryfullname" placeholder="Full Name" disabled>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-10">
                                        <label for="cardNumber">Security Question</label>
                                        <input type="text" name="number" class="form-control input-sm" id="cardNumber" ng-model="el.question" placeholder="Question" disabled>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-10">
                                        <label for="cardNumber">Security Answer</label>
                                        <input type="text" name="number" class="form-control input-sm" id="cardNumber" ng-model="answer" placeholder="Answer" ng-change="myAnswer()">
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <!--<div class="form-group col-md-12">
                                    <div class="col-md-10">
                                        <label for="cardNumber">Voucher Expiry Date</label>
                                        <input type="text" name="number" class="form-control input-sm" id="cardNumber" placeholder="Bank Number" value="">
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>-->
                                <div class="form-group col-md-12">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <button class="btn btn btn-primary" ng-click="submit();">Submit</button>
                                    </div>    
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /panel -->


        </div>
    
    <!-- /wrapper -->

