﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Send Money</title>
    <script type='text/javascript'></script>

    <style>
        body {
           /* background-image: url("https://previews.123rf.com/images/pixbox/pixbox1105/pixbox110500136/9728855-Email-send-money-from-America-map-with-grownup-of-stock-exchange-background-Stock-Photo.jpg");*/
            color: white;

            }

        
        </style>
</head>

<body>
    <div>
        <form>
            <fieldset>
                <legend>Send Email Money</legend>
                Wallet Balance & Conversation Rate <br />

                <input type="text" name="" size="20" ng-model="SendEmailMoney.Wallet Balance">
                <select ngname="currency_opt" id="currency_opt" ng-model="" style="width: 100px !important; min-width: 200px; max-width: 50px;">
                    <option value="" disabled selected> -- Select Currency -- </option>
                    <option value=""> AFN - Afghani                       </option>
                    <option value=""> EUR - Euro                          </option>
                    <option value=""> ALL - Lek                           </option>
                    <option value=""> DZD - Algerian Dinar                </option>
                    <option value=""> USD - US Dollar                     </option>
                    <option value=""> AOA - Kwanza                        </option>
                    <option value=""> XCD - East Caribbean Dollar         </option>
                    <option value=""> ARS - Argentine Peso                </option>
                    <option value=""> AMD - Armenian Dram                 </option>
                    <option value=""> AWG - Aruban Florin                 </option>
                    <option value=""> AUD - Australian Dollar             </option>
                    <option value=""> AZN - Azerbaijanian Manat           </option>
                    <option value=""> BSD - Bahamian Dollar               </option>
                    <option value=""> BHD - Bahraini Dinar                </option>
                    <option value=""> BDT - Taka                          </option>
                    <option value=""> BBD - Barbados Dollar               </option>
                    <option value=""> BYN - Belarusian Ruble              </option>
                    <option value=""> BZD - Belize Dollar                 </option>
                    <option value=""> XOF - CFA Franc BCEAO               </option>
                    <option value=""> BMD - Bermudian Dollar              </option>
                    <option value=""> INR - Indian Rupee                  </option>
                    <option value=""> BTN - Ngultrum                      </option>
                    <option value=""> BOB - Boliviano                     </option>
                    <option value=""> BOV - Mvdol                         </option>
                    <option value=""> BAM - Convertible Mark              </option>
                    <option value=""> BWP - Pula                          </option>
                    <option value=""> NOK - Norwegian Krone               </option>
                    <option value=""> BRL - Brazilian Real                </option>
                    <option value=""> BND - Brunei Dollar                 </option>
                    <option value=""> BGN - Bulgarian Lev                 </option>
                    <option value=""> BIF - Burundi Franc                 </option>
                    <option value=""> CVE - Cabo Verde Escudo             </option>
                    <option value=""> KHR - Riel                          </option>
                    <option value=""> XAF - CFA Franc BEAC                </option>
                    <option value=""> CAD - Canadian Dollar               </option>
                    <option value=""> KYD - Cayman Islands Dollar         </option>
                    <option value=""> CLP - Chilean Peso                  </option>
                    <option value=""> CLF - Unidad de Fomento             </option>
                    <option value=""> CNY - Yuan Renminbi                 </option>
                    <option value=""> COP - Colombian Peso                </option>
                    <option value=""> COU - Unidad de Valor Real          </option>
                    <option value=""> KMF - Comoro Franc                  </option>
                    <option value=""> CDF - Congolese Franc               </option>
                    <option value=""> NZD - New Zealand Dollar            </option>
                    <option value=""> CRC - Costa Rican Colon             </option>
                    <option value=""> HRK - Kuna                          </option>
                    <option value=""> CUP - Cuban Peso                    </option>
                    <option value=""> CUC - Peso Convertible              </option>
                    <option value=""> ANG - Netherlands Antillean Guilder </option>
                    <option value=""> CZK - Czech Koruna                  </option>
                    <option value=""> DKK - Danish Krone                  </option>
                    <option value=""> DJF - Djibouti Franc                </option>
                    <option value=""> DOP - Dominican Peso                </option>
                    <option value=""> EGP - Egyptian Pound                </option>
                    <option value=""> SVC - El Salvador Colon             </option>
                    <option value=""> ERN - Nakfa                         </option>
                    <option value=""> ETB - Ethiopian Birr                </option>
                    <option value=""> FKP - Falkland Islands Pound        </option>
                    <option value=""> FJD - Fiji Dollar                   </option>
                    <option value=""> XPF - CFP Franc                     </option>
                    <option value=""> GMD - Dalasi                        </option>
                    <option value=""> GEL - Lari                          </option>
                    <option value=""> GHS - Ghana Cedi                    </option>
                    <option value=""> GIP - Gibraltar Pound               </option>
                    <option value=""> GTQ - Quetzal                       </option>
                    <option value=""> GBP - Pound Sterling                </option>
                    <option value=""> GNF - Guinea Franc                  </option>
                    <option value=""> GYD - Guyana Dollar                 </option>
                    <option value=""> HTG - Gourde                        </option>
                    <option value=""> HNL - Lempira                       </option>
                    <option value=""> HKD - Hong Kong Dollar              </option>
                    <option value=""> HUF - Forint                        </option>
                    <option value=""> ISK - Iceland Krona                 </option>
                    <option value=""> IDR - Rupiah                        </option>
                    <option value=""> XDR - SDR (Special Drawing Right)   </option>
                    <option value=""> IRR - Iranian Rial                  </option>
                    <option value=""> IQD - Iraqi Dinar                   </option>
                    <option value=""> ILS - New Israeli Sheqel            </option>
                    <option value=""> JMD - Jamaican Dollar               </option>
                    <option value=""> JPY - Yen                           </option>
                    <option value=""> JOD - Jordanian Dinar               </option>
                    <option value=""> KZT - Tenge                         </option>
                    <option value=""> KES - Kenyan Shilling               </option>
                    <option value=""> KPW - North Korean Won              </option>
                    <option value=""> KRW - Won                           </option>
                    <option value=""> KWD - Kuwaiti Dinar                 </option>
                    <option value=""> KGS - Som                           </option>
                    <option value=""> LAK - Kip                           </option>
                    <option value=""> LBP - Lebanese Pound                </option>
                    <option value=""> LSL - Loti                          </option>
                    <option value=""> ZAR - Rand                          </option>
                    <option value=""> LRD - Liberian Dollar               </option>
                    <option value=""> LYD - Libyan Dinar                  </option>
                    <option value=""> CHF - Swiss Franc                   </option>
                    <option value=""> MOP - Pataca                        </option>
                    <option value=""> MKD - Denar                         </option>
                    <option value=""> MGA - Malagasy Ariary               </option>
                    <option value=""> MWK - Malawi Kwacha                 </option>
                    <option value=""> MYR - Malaysian Ringgit             </option>
                    <option value=""> MVR - Rufiyaa                       </option>
                    <option value=""> MRO - Ouguiya                       </option>
                    <option value=""> MUR - Mauritius Rupee               </option>
                    <option value=""> XUA - ADB Unit of Account           </option>
                    <option value=""> MXN - Mexican Peso                  </option>
                    <option value=""> MXV - Mexican Unidad de Inversion (UDI)  </option>
                    <option value=""> MDL - Moldovan Leu                  </option>
                    <option value=""> MNT - Tugrik                        </option>
                    <option value=""> MAD - Moroccan Dirham               </option>
                    <option value=""> MZN - Mozambique Metical            </option>
                    <option value=""> MMK - Kyat                          </option>
                    <option value=""> NAD - Namibia Dollar                </option>
                    <option value=""> NPR - Nepalese Rupee                </option>
                    <option value=""> NIO - Cordoba Oro                   </option>
                    <option value=""> NGN - Naira                         </option>
                    <option value=""> OMR - Rial Omani                    </option>
                    <option value=""> PKR - Pakistan Rupee                </option>
                    <option value=""> PAB - Balboa                        </option>
                    <option value=""> PGK - Kina                          </option>
                    <option value=""> PYG - Guarani                       </option>
                    <option value=""> PEN - Sol                           </option>
                    <option value=""> PHP - Philippine Peso               </option>
                    <option value=""> PLN - Zloty                         </option>
                    <option value=""> QAR - Qatari Rial                   </option>
                    <option value=""> RON - Romanian Leu                  </option>
                    <option value=""> RUB - Russian Ruble                 </option>
                    <option value=""> RWF - Rwanda Franc                  </option>
                    <option value=""> SHP - Saint Helena Pound            </option>
                    <option value=""> WST - Tala                          </option>
                    <option value=""> STD - Dobra                         </option>
                    <option value=""> SAR - Saudi Riyal                   </option>
                    <option value=""> RSD - Serbian Dinar                 </option>
                    <option value=""> SCR - Seychelles Rupee              </option>
                    <option value=""> SLL - Leone                         </option>
                    <option value=""> SGD - Singapore Dollar              </option>
                    <option value=""> XSU - Sucre                         </option>
                    <option value=""> SBD - Solomon Islands Dollar        </option>
                    <option value=""> SOS - Somali Shilling               </option>
                    <option value=""> SSP - South Sudanese Pound          </option>
                    <option value=""> LKR - Sri Lanka Rupee               </option>
                    <option value=""> SDG - Sudanese Pound                </option>
                    <option value=""> SRD - Surinam Dollar                </option>
                    <option value=""> SZL - Lilangeni                     </option>
                    <option value=""> SEK - Swedish Krona                 </option>
                    <option value=""> CHE - WIR Euro                      </option>
                    <option value=""> CHW - WIR Franc                     </option>
                    <option value=""> SYP - Syrian Pound                  </option>
                    <option value=""> TWD - New Taiwan Dollar             </option>
                    <option value=""> TJS - Somoni                        </option>
                    <option value=""> TZS - Tanzanian Shilling            </option>
                    <option value=""> THB - Baht                          </option>
                    <option value=""> TOP - Pa’anga                       </option>
                    <option value=""> TTD - Trinidad and Tobago Dollar    </option>
                    <option value=""> TND - Tunisian Dinar                </option>
                    <option value=""> TRY - Turkish Lira                  </option>
                    <option value=""> TMT - Turkmenistan New Manat        </option>
                    <option value=""> UGX - Uganda Shilling               </option>
                    <option value=""> UAH - Hryvnia                       </option>
                    <option value=""> AED - UAE Dirham                    </option>
                    <option value=""> USN - US Dollar (Next day)          </option>
                    <option value=""> UYU - Peso Uruguayo				  </option>
                    <option value=""> UYI - Uruguay Peso en Unidades Indexadas (URUIURUI) </option>
                    <option value=""> UZS - Uzbekistan Sum </option>
                    <option value=""> VUV - Vatu </option>
                    <option value=""> VEF - Bolívar </option>
                    <option value=""> VND - Dong </option>
                    <option value=""> YER - Yemeni Rial </option>
                    <option value=""> ZMW - Zambian Kwacha </option>
                    <option value=""> ZWL - Zimbabwe Dollar </option>
                    <option value=""> XBA - Bond Markets Unit European Composite Unit (EURCO) </option>
                    <option value=""> XBB - Bond Markets Unit European Monetary Unit (E.M.U.-6) </option>
                    <option value=""> XBC - Bond Markets Unit European Unit of Account 9 (E.U.A.-9) </option>
                    <option value=""> XBD - Bond Markets Unit European Unit of Account 17 (E.U.A.-17) </option>
                    <option value=""> XTS - Codes specifically reserved for testing purposes </option>
                    <option value=""> XXX - The codes assigned for transactions where no currency is involved </option>
                    <option value=""> XAU - Gold </option>
                    <option value=""> XPD - Palladium </option>
                    <option value=""> XPT - Platinum </option>
                    <option value=""> XAG - Silver </option>


                </select>
                <!--<label name="currency_lbl" id="currency_lbl"></label>-->
                <input type="text" name="" ng-model="convRate" size="20" value="">
                <br />

                <script type='text/javascript'>

                    $("#currency_opt").change(function () {

                        $("#currency_opt").children().each(function () {

                            if (this.value == $('#currency_opt').val()) {

                                $("#currency_lbl").val(this.innerHTML);
                            }

                        });

                    });
                </script>

                Sending Currency <br />
                <select name="currency_opt" id="currency_opt" ng-model="sendCurrency" style="width: 200px !important; min-width: 200px; max-width: 50px;">
                    <option value="" disabled selected> -- Select Currency -- </option>
                    <option value=""> AFN - Afghani                       </option>
                    <option value=""> EUR - Euro                          </option>
                    <option value=""> ALL - Lek                           </option>
                    <option value=""> DZD - Algerian Dinar                </option>
                    <option value=""> USD - US Dollar                     </option>
                    <option value=""> AOA - Kwanza                        </option>
                    <option value=""> XCD - East Caribbean Dollar         </option>
                    <option value=""> ARS - Argentine Peso                </option>
                    <option value=""> AMD - Armenian Dram                 </option>
                    <option value=""> AWG - Aruban Florin                 </option>
                    <option value=""> AUD - Australian Dollar             </option>
                    <option value=""> AZN - Azerbaijanian Manat           </option>
                    <option value=""> BSD - Bahamian Dollar               </option>
                    <option value=""> BHD - Bahraini Dinar                </option>
                    <option value=""> BDT - Taka                          </option>
                    <option value=""> BBD - Barbados Dollar               </option>
                    <option value=""> BYN - Belarusian Ruble              </option>
                    <option value=""> BZD - Belize Dollar                 </option>
                    <option value=""> XOF - CFA Franc BCEAO               </option>
                    <option value=""> BMD - Bermudian Dollar              </option>
                    <option value=""> INR - Indian Rupee                  </option>
                    <option value=""> BTN - Ngultrum                      </option>
                    <option value=""> BOB - Boliviano                     </option>
                    <option value=""> BOV - Mvdol                         </option>
                    <option value=""> BAM - Convertible Mark              </option>
                    <option value=""> BWP - Pula                          </option>
                    <option value=""> NOK - Norwegian Krone               </option>
                    <option value=""> BRL - Brazilian Real                </option>
                    <option value=""> BND - Brunei Dollar                 </option>
                    <option value=""> BGN - Bulgarian Lev                 </option>
                    <option value=""> BIF - Burundi Franc                 </option>
                    <option value=""> CVE - Cabo Verde Escudo             </option>
                    <option value=""> KHR - Riel                          </option>
                    <option value=""> XAF - CFA Franc BEAC                </option>
                    <option value=""> CAD - Canadian Dollar               </option>
                    <option value=""> KYD - Cayman Islands Dollar         </option>
                    <option value=""> CLP - Chilean Peso                  </option>
                    <option value=""> CLF - Unidad de Fomento             </option>
                    <option value=""> CNY - Yuan Renminbi                 </option>
                    <option value=""> COP - Colombian Peso                </option>
                    <option value=""> COU - Unidad de Valor Real          </option>
                    <option value=""> KMF - Comoro Franc                  </option>
                    <option value=""> CDF - Congolese Franc               </option>
                    <option value=""> NZD - New Zealand Dollar            </option>
                    <option value=""> CRC - Costa Rican Colon             </option>
                    <option value=""> HRK - Kuna                          </option>
                    <option value=""> CUP - Cuban Peso                    </option>
                    <option value=""> CUC - Peso Convertible              </option>
                    <option value=""> ANG - Netherlands Antillean Guilder </option>
                    <option value=""> CZK - Czech Koruna                  </option>
                    <option value=""> DKK - Danish Krone                  </option>
                    <option value=""> DJF - Djibouti Franc                </option>
                    <option value=""> DOP - Dominican Peso                </option>
                    <option value=""> EGP - Egyptian Pound                </option>
                    <option value=""> SVC - El Salvador Colon             </option>
                    <option value=""> ERN - Nakfa                         </option>
                    <option value=""> ETB - Ethiopian Birr                </option>
                    <option value=""> FKP - Falkland Islands Pound        </option>
                    <option value=""> FJD - Fiji Dollar                   </option>
                    <option value=""> XPF - CFP Franc                     </option>
                    <option value=""> GMD - Dalasi                        </option>
                    <option value=""> GEL - Lari                          </option>
                    <option value=""> GHS - Ghana Cedi                    </option>
                    <option value=""> GIP - Gibraltar Pound               </option>
                    <option value=""> GTQ - Quetzal                       </option>
                    <option value=""> GBP - Pound Sterling                </option>
                    <option value=""> GNF - Guinea Franc                  </option>
                    <option value=""> GYD - Guyana Dollar                 </option>
                    <option value=""> HTG - Gourde                        </option>
                    <option value=""> HNL - Lempira                       </option>
                    <option value=""> HKD - Hong Kong Dollar              </option>
                    <option value=""> HUF - Forint                        </option>
                    <option value=""> ISK - Iceland Krona                 </option>
                    <option value=""> IDR - Rupiah                        </option>
                    <option value=""> XDR - SDR (Special Drawing Right)   </option>
                    <option value=""> IRR - Iranian Rial                  </option>
                    <option value=""> IQD - Iraqi Dinar                   </option>
                    <option value=""> ILS - New Israeli Sheqel            </option>
                    <option value=""> JMD - Jamaican Dollar               </option>
                    <option value=""> JPY - Yen                           </option>
                    <option value=""> JOD - Jordanian Dinar               </option>
                    <option value=""> KZT - Tenge                         </option>
                    <option value=""> KES - Kenyan Shilling               </option>
                    <option value=""> KPW - North Korean Won              </option>
                    <option value=""> KRW - Won                           </option>
                    <option value=""> KWD - Kuwaiti Dinar                 </option>
                    <option value=""> KGS - Som                           </option>
                    <option value=""> LAK - Kip                           </option>
                    <option value=""> LBP - Lebanese Pound                </option>
                    <option value=""> LSL - Loti                          </option>
                    <option value=""> ZAR - Rand                          </option>
                    <option value=""> LRD - Liberian Dollar               </option>
                    <option value=""> LYD - Libyan Dinar                  </option>
                    <option value=""> CHF - Swiss Franc                   </option>
                    <option value=""> MOP - Pataca                        </option>
                    <option value=""> MKD - Denar                         </option>
                    <option value=""> MGA - Malagasy Ariary               </option>
                    <option value=""> MWK - Malawi Kwacha                 </option>
                    <option value=""> MYR - Malaysian Ringgit             </option>
                    <option value=""> MVR - Rufiyaa                       </option>
                    <option value=""> MRO - Ouguiya                       </option>
                    <option value=""> MUR - Mauritius Rupee               </option>
                    <option value=""> XUA - ADB Unit of Account           </option>
                    <option value=""> MXN - Mexican Peso                  </option>
                    <option value=""> MXV - Mexican Unidad de Inversion (UDI)  </option>
                    <option value=""> MDL - Moldovan Leu                  </option>
                    <option value=""> MNT - Tugrik                        </option>
                    <option value=""> MAD - Moroccan Dirham               </option>
                    <option value=""> MZN - Mozambique Metical            </option>
                    <option value=""> MMK - Kyat                          </option>
                    <option value=""> NAD - Namibia Dollar                </option>
                    <option value=""> NPR - Nepalese Rupee                </option>
                    <option value=""> NIO - Cordoba Oro                   </option>
                    <option value=""> NGN - Naira                         </option>
                    <option value=""> OMR - Rial Omani                    </option>
                    <option value=""> PKR - Pakistan Rupee                </option>
                    <option value=""> PAB - Balboa                        </option>
                    <option value=""> PGK - Kina                          </option>
                    <option value=""> PYG - Guarani                       </option>
                    <option value=""> PEN - Sol                           </option>
                    <option value=""> PHP - Philippine Peso               </option>
                    <option value=""> PLN - Zloty                         </option>
                    <option value=""> QAR - Qatari Rial                   </option>
                    <option value=""> RON - Romanian Leu                  </option>
                    <option value=""> RUB - Russian Ruble                 </option>
                    <option value=""> RWF - Rwanda Franc                  </option>
                    <option value=""> SHP - Saint Helena Pound            </option>
                    <option value=""> WST - Tala                          </option>
                    <option value=""> STD - Dobra                         </option>
                    <option value=""> SAR - Saudi Riyal                   </option>
                    <option value=""> RSD - Serbian Dinar                 </option>
                    <option value=""> SCR - Seychelles Rupee              </option>
                    <option value=""> SLL - Leone                         </option>
                    <option value=""> SGD - Singapore Dollar              </option>
                    <option value=""> XSU - Sucre                         </option>
                    <option value=""> SBD - Solomon Islands Dollar        </option>
                    <option value=""> SOS - Somali Shilling               </option>
                    <option value=""> SSP - South Sudanese Pound          </option>
                    <option value=""> LKR - Sri Lanka Rupee               </option>
                    <option value=""> SDG - Sudanese Pound                </option>
                    <option value=""> SRD - Surinam Dollar                </option>
                    <option value=""> SZL - Lilangeni                     </option>
                    <option value=""> SEK - Swedish Krona                 </option>
                    <option value=""> CHE - WIR Euro                      </option>
                    <option value=""> CHW - WIR Franc                     </option>
                    <option value=""> SYP - Syrian Pound                  </option>
                    <option value=""> TWD - New Taiwan Dollar             </option>
                    <option value=""> TJS - Somoni                        </option>
                    <option value=""> TZS - Tanzanian Shilling            </option>
                    <option value=""> THB - Baht                          </option>
                    <option value=""> TOP - Pa’anga                       </option>
                    <option value=""> TTD - Trinidad and Tobago Dollar    </option>
                    <option value=""> TND - Tunisian Dinar                </option>
                    <option value=""> TRY - Turkish Lira                  </option>
                    <option value=""> TMT - Turkmenistan New Manat        </option>
                    <option value=""> UGX - Uganda Shilling               </option>
                    <option value=""> UAH - Hryvnia                       </option>
                    <option value=""> AED - UAE Dirham                    </option>
                    <option value=""> USN - US Dollar (Next day)          </option>
                    <option value=""> UYU - Peso Uruguayo				  </option>
                    <option value=""> UYI - Uruguay Peso en Unidades Indexadas (URUIURUI) </option>
                    <option value=""> UZS - Uzbekistan Sum </option>
                    <option value=""> VUV - Vatu </option>
                    <option value=""> VEF - Bolívar </option>
                    <option value=""> VND - Dong </option>
                    <option value=""> YER - Yemeni Rial </option>
                    <option value=""> ZMW - Zambian Kwacha </option>
                    <option value=""> ZWL - Zimbabwe Dollar </option>
                    <option value=""> XBA - Bond Markets Unit European Composite Unit (EURCO) </option>
                    <option value=""> XBB - Bond Markets Unit European Monetary Unit (E.M.U.-6) </option>
                    <option value=""> XBC - Bond Markets Unit European Unit of Account 9 (E.U.A.-9) </option>
                    <option value=""> XBD - Bond Markets Unit European Unit of Account 17 (E.U.A.-17) </option>
                    <option value=""> XTS - Codes specifically reserved for testing purposes </option>
                    <option value=""> XXX - The codes assigned for transactions where no currency is involved </option>
                    <option value=""> XAU - Gold </option>
                    <option value=""> XPD - Palladium </option>
                    <option value=""> XPT - Platinum </option>
                    <option value=""> XAG - Silver </option>


                </select>
                <br />

                Beneficiary Email ID <br />
                <input type="text" name="" ng-model="benEmail" size="150"> <br />

                Beneficiary Name <br />
                <input type="text" name="" ng-model="benName" size="150"> <br />

                Security question & Answer <br />
                <input type="text" name="" size="20"> <input type="text" name="" size="20"> <br />

                Send Amount & Beneficiary Amount <br />
                <input type="text" name="" size="20">
                <select name="currency_opt" id="currency_opt" style="width: 100px !important; min-width: 200px; max-width: 50px;">
                    <option value="" disabled selected> -- Select Currency -- </option>
                    <option value=""> AFN - Afghani                       </option>
                    <option value=""> EUR - Euro                          </option>
                    <option value=""> ALL - Lek                           </option>
                    <option value=""> DZD - Algerian Dinar                </option>
                    <option value=""> USD - US Dollar                     </option>
                    <option value=""> AOA - Kwanza                        </option>
                    <option value=""> XCD - East Caribbean Dollar         </option>
                    <option value=""> ARS - Argentine Peso                </option>
                    <option value=""> AMD - Armenian Dram                 </option>
                    <option value=""> AWG - Aruban Florin                 </option>
                    <option value=""> AUD - Australian Dollar             </option>
                    <option value=""> AZN - Azerbaijanian Manat           </option>
                    <option value=""> BSD - Bahamian Dollar               </option>
                    <option value=""> BHD - Bahraini Dinar                </option>
                    <option value=""> BDT - Taka                          </option>
                    <option value=""> BBD - Barbados Dollar               </option>
                    <option value=""> BYN - Belarusian Ruble              </option>
                    <option value=""> BZD - Belize Dollar                 </option>
                    <option value=""> XOF - CFA Franc BCEAO               </option>
                    <option value=""> BMD - Bermudian Dollar              </option>
                    <option value=""> INR - Indian Rupee                  </option>
                    <option value=""> BTN - Ngultrum                      </option>
                    <option value=""> BOB - Boliviano                     </option>
                    <option value=""> BOV - Mvdol                         </option>
                    <option value=""> BAM - Convertible Mark              </option>
                    <option value=""> BWP - Pula                          </option>
                    <option value=""> NOK - Norwegian Krone               </option>
                    <option value=""> BRL - Brazilian Real                </option>
                    <option value=""> BND - Brunei Dollar                 </option>
                    <option value=""> BGN - Bulgarian Lev                 </option>
                    <option value=""> BIF - Burundi Franc                 </option>
                    <option value=""> CVE - Cabo Verde Escudo             </option>
                    <option value=""> KHR - Riel                          </option>
                    <option value=""> XAF - CFA Franc BEAC                </option>
                    <option value=""> CAD - Canadian Dollar               </option>
                    <option value=""> KYD - Cayman Islands Dollar         </option>
                    <option value=""> CLP - Chilean Peso                  </option>
                    <option value=""> CLF - Unidad de Fomento             </option>
                    <option value=""> CNY - Yuan Renminbi                 </option>
                    <option value=""> COP - Colombian Peso                </option>
                    <option value=""> COU - Unidad de Valor Real          </option>
                    <option value=""> KMF - Comoro Franc                  </option>
                    <option value=""> CDF - Congolese Franc               </option>
                    <option value=""> NZD - New Zealand Dollar            </option>
                    <option value=""> CRC - Costa Rican Colon             </option>
                    <option value=""> HRK - Kuna                          </option>
                    <option value=""> CUP - Cuban Peso                    </option>
                    <option value=""> CUC - Peso Convertible              </option>
                    <option value=""> ANG - Netherlands Antillean Guilder </option>
                    <option value=""> CZK - Czech Koruna                  </option>
                    <option value=""> DKK - Danish Krone                  </option>
                    <option value=""> DJF - Djibouti Franc                </option>
                    <option value=""> DOP - Dominican Peso                </option>
                    <option value=""> EGP - Egyptian Pound                </option>
                    <option value=""> SVC - El Salvador Colon             </option>
                    <option value=""> ERN - Nakfa                         </option>
                    <option value=""> ETB - Ethiopian Birr                </option>
                    <option value=""> FKP - Falkland Islands Pound        </option>
                    <option value=""> FJD - Fiji Dollar                   </option>
                    <option value=""> XPF - CFP Franc                     </option>
                    <option value=""> GMD - Dalasi                        </option>
                    <option value=""> GEL - Lari                          </option>
                    <option value=""> GHS - Ghana Cedi                    </option>
                    <option value=""> GIP - Gibraltar Pound               </option>
                    <option value=""> GTQ - Quetzal                       </option>
                    <option value=""> GBP - Pound Sterling                </option>
                    <option value=""> GNF - Guinea Franc                  </option>
                    <option value=""> GYD - Guyana Dollar                 </option>
                    <option value=""> HTG - Gourde                        </option>
                    <option value=""> HNL - Lempira                       </option>
                    <option value=""> HKD - Hong Kong Dollar              </option>
                    <option value=""> HUF - Forint                        </option>
                    <option value=""> ISK - Iceland Krona                 </option>
                    <option value=""> IDR - Rupiah                        </option>
                    <option value=""> XDR - SDR (Special Drawing Right)   </option>
                    <option value=""> IRR - Iranian Rial                  </option>
                    <option value=""> IQD - Iraqi Dinar                   </option>
                    <option value=""> ILS - New Israeli Sheqel            </option>
                    <option value=""> JMD - Jamaican Dollar               </option>
                    <option value=""> JPY - Yen                           </option>
                    <option value=""> JOD - Jordanian Dinar               </option>
                    <option value=""> KZT - Tenge                         </option>
                    <option value=""> KES - Kenyan Shilling               </option>
                    <option value=""> KPW - North Korean Won              </option>
                    <option value=""> KRW - Won                           </option>
                    <option value=""> KWD - Kuwaiti Dinar                 </option>
                    <option value=""> KGS - Som                           </option>
                    <option value=""> LAK - Kip                           </option>
                    <option value=""> LBP - Lebanese Pound                </option>
                    <option value=""> LSL - Loti                          </option>
                    <option value=""> ZAR - Rand                          </option>
                    <option value=""> LRD - Liberian Dollar               </option>
                    <option value=""> LYD - Libyan Dinar                  </option>
                    <option value=""> CHF - Swiss Franc                   </option>
                    <option value=""> MOP - Pataca                        </option>
                    <option value=""> MKD - Denar                         </option>
                    <option value=""> MGA - Malagasy Ariary               </option>
                    <option value=""> MWK - Malawi Kwacha                 </option>
                    <option value=""> MYR - Malaysian Ringgit             </option>
                    <option value=""> MVR - Rufiyaa                       </option>
                    <option value=""> MRO - Ouguiya                       </option>
                    <option value=""> MUR - Mauritius Rupee               </option>
                    <option value=""> XUA - ADB Unit of Account           </option>
                    <option value=""> MXN - Mexican Peso                  </option>
                    <option value=""> MXV - Mexican Unidad de Inversion (UDI)  </option>
                    <option value=""> MDL - Moldovan Leu                  </option>
                    <option value=""> MNT - Tugrik                        </option>
                    <option value=""> MAD - Moroccan Dirham               </option>
                    <option value=""> MZN - Mozambique Metical            </option>
                    <option value=""> MMK - Kyat                          </option>
                    <option value=""> NAD - Namibia Dollar                </option>
                    <option value=""> NPR - Nepalese Rupee                </option>
                    <option value=""> NIO - Cordoba Oro                   </option>
                    <option value=""> NGN - Naira                         </option>
                    <option value=""> OMR - Rial Omani                    </option>
                    <option value=""> PKR - Pakistan Rupee                </option>
                    <option value=""> PAB - Balboa                        </option>
                    <option value=""> PGK - Kina                          </option>
                    <option value=""> PYG - Guarani                       </option>
                    <option value=""> PEN - Sol                           </option>
                    <option value=""> PHP - Philippine Peso               </option>
                    <option value=""> PLN - Zloty                         </option>
                    <option value=""> QAR - Qatari Rial                   </option>
                    <option value=""> RON - Romanian Leu                  </option>
                    <option value=""> RUB - Russian Ruble                 </option>
                    <option value=""> RWF - Rwanda Franc                  </option>
                    <option value=""> SHP - Saint Helena Pound            </option>
                    <option value=""> WST - Tala                          </option>
                    <option value=""> STD - Dobra                         </option>
                    <option value=""> SAR - Saudi Riyal                   </option>
                    <option value=""> RSD - Serbian Dinar                 </option>
                    <option value=""> SCR - Seychelles Rupee              </option>
                    <option value=""> SLL - Leone                         </option>
                    <option value=""> SGD - Singapore Dollar              </option>
                    <option value=""> XSU - Sucre                         </option>
                    <option value=""> SBD - Solomon Islands Dollar        </option>
                    <option value=""> SOS - Somali Shilling               </option>
                    <option value=""> SSP - South Sudanese Pound          </option>
                    <option value=""> LKR - Sri Lanka Rupee               </option>
                    <option value=""> SDG - Sudanese Pound                </option>
                    <option value=""> SRD - Surinam Dollar                </option>
                    <option value=""> SZL - Lilangeni                     </option>
                    <option value=""> SEK - Swedish Krona                 </option>
                    <option value=""> CHE - WIR Euro                      </option>
                    <option value=""> CHW - WIR Franc                     </option>
                    <option value=""> SYP - Syrian Pound                  </option>
                    <option value=""> TWD - New Taiwan Dollar             </option>
                    <option value=""> TJS - Somoni                        </option>
                    <option value=""> TZS - Tanzanian Shilling            </option>
                    <option value=""> THB - Baht                          </option>
                    <option value=""> TOP - Pa’anga                       </option>
                    <option value=""> TTD - Trinidad and Tobago Dollar    </option>
                    <option value=""> TND - Tunisian Dinar                </option>
                    <option value=""> TRY - Turkish Lira                  </option>
                    <option value=""> TMT - Turkmenistan New Manat        </option>
                    <option value=""> UGX - Uganda Shilling               </option>
                    <option value=""> UAH - Hryvnia                       </option>
                    <option value=""> AED - UAE Dirham                    </option>
                    <option value=""> USN - US Dollar (Next day)          </option>
                    <option value=""> UYU - Peso Uruguayo				  </option>
                    <option value=""> UYI - Uruguay Peso en Unidades Indexadas (URUIURUI) </option>
                    <option value=""> UZS - Uzbekistan Sum </option>
                    <option value=""> VUV - Vatu </option>
                    <option value=""> VEF - Bolívar </option>
                    <option value=""> VND - Dong </option>
                    <option value=""> YER - Yemeni Rial </option>
                    <option value=""> ZMW - Zambian Kwacha </option>
                    <option value=""> ZWL - Zimbabwe Dollar </option>
                    <option value=""> XBA - Bond Markets Unit European Composite Unit (EURCO) </option>
                    <option value=""> XBB - Bond Markets Unit European Monetary Unit (E.M.U.-6) </option>
                    <option value=""> XBC - Bond Markets Unit European Unit of Account 9 (E.U.A.-9) </option>
                    <option value=""> XBD - Bond Markets Unit European Unit of Account 17 (E.U.A.-17) </option>
                    <option value=""> XTS - Codes specifically reserved for testing purposes </option>
                    <option value=""> XXX - The codes assigned for transactions where no currency is involved </option>
                    <option value=""> XAU - Gold </option>
                    <option value=""> XPD - Palladium </option>
                    <option value=""> XPT - Platinum </option>
                    <option value=""> XAG - Silver </option>


                </select>
                <input type="text" name="" size="20">

                <br /> <br />
                <input type="submit" ui-sref="login({id:prod.id})" value="Close" name="">
                <input type="submit" value="Send Email Money" name="" style="font-size:7pt;color:white;background-color:darkblue;border:1px solid #336600;height: 30px; width: 100px; ">

            </fieldset>
        </form>
    </div>
</body>
</html>
