﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Payout Wallet</title>
    <script type='text/javascript'></script>

    <style>
        body {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-I_WnbWQInk_L8lrCL6FuvPKm5_mHdpd1sm5NovQG4_2bqY1-");
            background-repeat: no-repeat;
            background-position: center;
           
        }
    </style>
</head>

<body>
    <div>
        <form>
            <fieldset>
                <legend>Payout Wallet</legend>

                Bank / Credit Union <br />
                <select ng-model="bankList" style="width: 200px !important; min-width: 200px; max-width: 50px;">
                    <option value="" disabled selected> -- Select Bank -- </option>
                    <option value="">Bank1</option>
                    <option value="">Bank2</option>
                    <option value="">Bank3</option>
                    <option value="">Bank4</option>
                    <option value="">Bank5</option>
                </select>
                <br />

                Net Banking id <br />
                <input type="text" name="" ng-model="netBankId" size="20" value="">
                <br />

                Password  <br />
                <input type="text" name="" ng-model="benName" size="20"> <input type="submit" value="Authentication" name="passAuth" id="passAuth" style="font-size:7pt;color:white;background-color:darkblue;border:1px solid #336600;height: 30px; width: 100px; "> <br />
                <br />


                <br /> <br />
                <input type="submit" ui-sref="login({id:prod.id})" value="Close" name="">


            </fieldset>
        </form>
    </div>
</body>
</html>
