.aHead:not(:last-child) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.aChild:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.aTop:not(:last-child) {
    border-top: 1px solid #ccc;
}

.aBottom:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.tabIndent {
    text-indent: 15px;
}

.cellPadding {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f5f5f5;
}

.list-custom {
    border-style: hidden;
}

.aChildBorder:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
}

#textboxReport {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
}

.headerReport {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: -12px;
    margin-left: -12px;
    /*-webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);*/
}

.contentReport {
    z-index: 1;
    padding-top: 6em;
    padding-left: 4em;
    padding-right: 2em;
}

.headerButton {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

.headerButton:hover {
    background-color: #fffff;
}

.headerButtonClose {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

.headerButtonClose:hover {
    background-color: #ce3e25;
    color: #ffffff
}

.body {
    background-color: #ffffff;
}

.sidebar-panel {
    background-color: #f0f0f0;
}

.sidebar-panel>.brand {
    background-color: #f0f0f0;
}

.main-panel {
    background: #ffffff;
}

.app {
    background: #ffffff;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.underline {
    border-bottom: 1px solid #ccc;
}


/*Table CSS*/

.table-report-main {
    width: 100%;
    border-collapse: collapse;
    text-overflow: auto;
}

.table-report {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
}

.table-margin-top {
    margin-top: 40px;
}

.table-report-tr-title-border {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.table-report-tr-title-border-top {
    border-top: 1px solid #ccc;
}

.table-report-tr-title-border-inside {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/*CSS for Custom Modal*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    padding-top: 0px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

.modal-content-customize-report {
    position: relative;
    background-color: #fefefe;
    margin-top: -30px;
    margin-left: -90px;
    padding: 0;
    border: 1px solid #888;
    width: 800px;
    height: 450px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-schedule-report {
    position: relative;
    background-color: #fefefe;
    margin-top: -30px;
    margin-left: -90px;
    padding: 0;
    border: 1px solid #888;
    width: 800px;
    height: 650px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-print {
    position: relative;
    background-color: #fefefe;
    margin-top: -30px;
    margin-left: -190px;
    padding: 0;
    border: 1px solid #888;
    width: 1000px;
    height: 700px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    background-color: #f0f0f0;
    padding: 25px;
}

.modal-header p {
    font-size: 20px;
}

.modal-body {
    padding: 2px;
}

.modal-body-schedule-report {
    padding: 40px;
}

.modal-footer {
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*Textbox CSS*/

input[type=text] {
    width: 100%;
    padding: 2px 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.textArea {
    width: 100%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.drop-down-schedule-report {
    width: 100%;
    height: 30px;
    padding: 0px 0px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.textArea:focus {
    border: 3px solid #555;
}

.label-schedule-report {
    color: #ce3e25;
}

@media print {
    .hidden-print {
        display: none !important;
    }
    .adjust-header {
        margin-top: -10em;
    }
    /*.hidden-border {
        border: none !important;
        border-bottom: none !important;
    }*/
}

.no-border {
    border: none !important;
    border-bottom: none !important;
}


/*editable text styles*/


/*
Ledger border
*/

.ledger-border {
    border: 1px solid #ccc;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: right top 100;
    margin-right: -80px;
    margin-top: -30px;
    /*margin: 100px 100px 100px 100px;*/
}

.border-tr {
    border: 1px solid #ccc;
    padding: 10px;
}