﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CO-OP eWallet System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS  -->
        @Styles.Render("~/bundles/templateFrontend/Admin/Css")
        <link rel="stylesheet" href="~/Content/alertifyjs/dist/css/alertify.css">
        <link rel="stylesheet" href="~/Scripts/sweetalert/dist/sweetalert.css">

    <link rel="stylesheet" href="~/Content/templateFrontend/customerAdmin/css/custom.css">
    <link rel="stylesheet" href="~/Content/templateFrontend/customerAdmin/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/int_phone/css/intlTelInput.css">
</head>

<body class="overflow-hidden" ng-app="CWConfirmation">
   
    @RenderBody()
    <!-- Javascript -->
    @Scripts.Render("~/bundles/templateFrontend/Admin/Js")
    <script>
        $(function () {
            var currentStep = 1;

            $('#wizardTab li a').click(function () {
                return false;
            });

            $('#nextStep').click(function () {

                currentStep++;

                if (currentStep == 2) {
                    $('#wizardTab li:eq(1) a').tab('show');
                    $('#wizardProgress').css("width", "66%");

                    $('#prevStep').attr('disabled', false);
                    $('#prevStep').removeClass('disabled');
                }
                else if (currentStep == 3) {
                    $('#wizardTab li:eq(2) a').tab('show');
                    $('#wizardProgress').css("width", "100%");

                    $('#nextStep').attr('disabled', true);
                    $('#nextStep').addClass('disabled');
                }

                return false;
            });

            $('#prevStep').click(function () {

                currentStep--;

                if (currentStep == 1) {

                    $('#wizardTab li:eq(0) a').tab('show');
                    $('#wizardProgress').css("width", "66%");

                    $('#prevStep').attr('disabled', true);
                    $('#prevStep').addClass('disabled');

                    $('#wizardProgress').css("width", "33%");
                }
                else if (currentStep == 2) {

                    $('#wizardTab li:eq(1) a').tab('show');
                    $('#wizardProgress').css("width", "66%");

                    $('#nextStep').attr('disabled', false);
                    $('#nextStep').removeClass('disabled');

                    $('#wizardProgress').css("width", "66%");
                }

                return false;
            });
        });
    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ngCustomer")
 <script type="text/javascript" src="~/Content/int_phone/js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="~/Content/int_phone/js/utils.js"></script>

    <script type="text/javascript" src="~/Content/alertifyjs/dist/js/alertify.js"></script>
    <script type="text/javascript" src="~/Content/alertifyjs/dist/js/ngAlertify.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-sweetalert/SweetAlert.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert/dist/sweetalert.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>

</html>
