﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CO-OP eWallet System</title>
    <base href="@Url.Content("~/")" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/templateFrontend/customerAdmin/img/coopfavicon.ico' />

    <!-- CSS  -->
    @Styles.Render("~/bundles/templateFrontend/Css")
    <link rel="stylesheet" href="~/Content/templateFrontend/customerAdmin/css/custom.css">
    <link rel="stylesheet" href="~/Content/templateFrontend/customerAdmin/css/font-awesome.min.css">
</head>

<body class="overflow-hidden">  
    @*<div id="overlay" class="transparent"></div>*@
    <div id="wrapper" class="preload">
        <header class="navbar navbar-fi xed-top bg-white">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="topnav" id="myTopnav">
                    <ul class="topNavCustom">
                        <li>
                            <a href="#"><i class="fa fa-phone"></i> Call us: +507 933-4499 </a> &nbsp; | &nbsp;
                            <a href="#"><i class="fa fa fa-envelope"></i> Email: support@cooptavanza.com </a>
                            <a href="@Url.Action("Index", "Signin")" class="btn btn-login floatBtn"><i class="fa fa-lock"></i> Login</a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="brand">
                            <img src="/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" width=auto height=80px>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="#landing-content" class="top-link">Home</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="@Url.Action("BankDeposit", "Services")">Bank Deposit</a></li>
                                    <li><a href="@Url.Action("MoneyTransfer", "Services")">Money Transfer</a></li>
                                    <li><a href="@Url.Action("ChinaRemit", "Services")">China Remit</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Funding</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Check21", "Services")">Check 21</a></li>
                                            <li><a href="@Url.Action("CreditCard", "Services")">Credit Card</a></li>
                                            <li><a href="@Url.Action("EFT", "Services")">EFT</a></li>
                                            <li><a href="@Url.Action("CashLocation", "Services")">Cash Location</a></li>
                                            <li><a href="@Url.Action("CoopMember", "Services")">Coop Member</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cash Out</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("OCT", "Services")">OCT</a></li>
                                            <li><a href="@Url.Action("WireTransfer", "Services")">Wire Transfer</a></li>
                                            <li><a href="@Url.Action("PropertyCard", "Services")">Property Card</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">E-Transfer</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("EmailTransfer", "Services")">Email Transfer</a></li>
                                            <li><a href="@Url.Action("SMSTransfer", "Services")">SMS Transfer</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("TopupAirtime", "Services")">Top-up Airtime</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#" data-toggle="modal" data-target="">Our Company</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#moneyTransfer">Team</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#chinaRemit">Security</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Partner 1</a></li>
                                            <li><a href="#">Partner 2</a></li>
                                            <li><a href="#">Partner 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#" data-toggle="modal" data-target="#">FAQS</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#">Visions</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("ContactUs", "Services")">Contact Us</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>


        </header>
        <div>
            @RenderBody()
        </div>
        <footer class="footerColor">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 padding-md">
                        <a href="#" class="brand">
                            <img src="/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar" width=auto height=80px>
                        </a>
                        <br /><br />
                        <p class="font-lg">About Our Company</p>
                        <p>
                            <small>
                                Calle Quinta y Manuel Gonzalez, Del Edificio Aitza,Local 1, <br />
                                Santiago Veraguas, Republic of Panama
                            </small>
                        </p>
                    </div><!-- /.col -->
                    <div class="col-sm-2 padding-md">
                        <p class="font-lg">Our Services</p>
                        <div class="seperator"></div>
                        <a href="#" class="text-white"><i class="fa fa-caret-right"></i>Payment Solution</a>
                        <div class="seperator"></div>
                        <div class="seperator"></div>
                        <a href="#" class="text-white"><i class="fa fa-caret-right"></i> Money Transfer</a>
                        <div class="seperator"></div>
                        <div class="seperator"></div>
                        <a href="#" class="text-white"><i class="fa fa-caret-right"></i> Card Processingt</a>
                        <div class="seperator"></div>
                        <div class="seperator"></div>
                        <a href="#" class="text-white"><i class="fa fa-caret-right"></i> Prepaid Card</a>
                    </div><!-- /.col -->
                    <div class="col-sm-2 padding-md">
                        <p class="font-lg">Follow Us</p>
                        <a href="https://www.facebook.com/" class="social-connect tooltip-test facebook-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/intent/tweet?text=Hello%20world" class="social-connect tooltip-test twitter-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://plus.google.com/discover" class="social-connect tooltip-test google-plus-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                        <a href="https://ph.linkedin.com/" class="social-connect tooltip-test linkedin-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    </div><!-- /.col -->
                    <div class="col-sm-3 padding-md">
                        <p class="font-lg">Contact Us</p>
                        Email : support@cooptavanza.com
                        <div class="seperator"></div>
                        <a href="" class="btn btn-info" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i> Contact support</a>

                        <!--contact us modal-->
                        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Any questions? Feel free to contact us.</h4>
                                    </div>
                                    <form action="#" method="post" accept-charset="utf-8">
                                        <div class="modal-body" style="padding: 5px;">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                                    <input class="form-control" name="firstname" placeholder="Firstname" type="text" required autofocus />
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                                    <input class="form-control" name="lastname" placeholder="Lastname" type="text" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                                    <input class="form-control" name="email" placeholder="E-mail" type="email" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                                    <input class="form-control" name="subject" placeholder="Subject" type="text" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" name="comment" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer" style="margin-bottom:-14px;">
                                            <input type="submit" class="btn btn-success" value="Send" />
                                            <!--<span class="glyphicon glyphicon-ok"></span>-->
                                            <input type="reset" class="btn btn-danger" value="Clear" />
                                            <!--<span class="glyphicon glyphicon-remove"></span>-->
                                            <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end of contact us modal-->
                    </div>
                </div><!-- /.row -->
            </div>
        </footer>
    </div><!-- /wrapper -->
    <a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
  
    

    <!-- Javascript -->
    @Scripts.Render("~/bundles/templateFrontend/Js")
    <script>
        $(function () {
            $('.animated-element').waypoint(function () {

                $(this).removeClass('no-animation');

            }, { offset: '70%' });

            $('.nav').localScroll({ duration: 800 });
        });
    </script>




    @*@Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ngCustomer")
    @RenderSection("scripts", required: false)*@
	@Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>

</html>
