﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CO-OP eWallet System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/templateFrontend/customerAdmin/img/coopfavicon.ico' />

    <!-- CSS  -->
    @Styles.Render("~/bundles/templateFrontend/Admin/Css")
    <link rel="stylesheet" href="~/Content/alertifyjs/dist/css/alertify.css">
    <link rel="stylesheet" href="~/Scripts/sweetalert/dist/sweetalert.css">
    
    <link rel="stylesheet" href="~/Content/templateFrontend/customerAdmin/css/custom.css">
    <link rel="stylesheet" href="~/Content/templateFrontend/customerAdmin/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/int_phone/css/intlTelInput.css">
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

    <!-- Flag Logo  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
</head>

<body class="overflow-hidden" ng-app="CW">
   <div ng-controller="AppMainController">
    @RenderBody()
       </div>
    <!-- Javascript -->
    @Scripts.Render("~/bundles/templateFrontend/Admin/Js")
    <script>
        $(function () {
            var currentStep = 1;

            $('#wizardTab li a').click(function () {
                return false;
            });

            $('#nextStep').click(function () {

                currentStep++;

                if (currentStep == 2) {
                    $('#wizardTab li:eq(1) a').tab('show');
                    $('#wizardProgress').css("width", "66%");

                    $('#prevStep').attr('disabled', false);
                    $('#prevStep').removeClass('disabled');
                }
                else if (currentStep == 3) {
                    $('#wizardTab li:eq(2) a').tab('show');
                    $('#wizardProgress').css("width", "100%");

                    $('#nextStep').attr('disabled', true);
                    $('#nextStep').addClass('disabled');
                }

                return false;
            });

            $('#prevStep').click(function () {

                currentStep--;

                if (currentStep == 1) {

                    $('#wizardTab li:eq(0) a').tab('show');
                    $('#wizardProgress').css("width", "66%");

                    $('#prevStep').attr('disabled', true);
                    $('#prevStep').addClass('disabled');

                    $('#wizardProgress').css("width", "33%");
                }
                else if (currentStep == 2) {

                    $('#wizardTab li:eq(1) a').tab('show');
                    $('#wizardProgress').css("width", "66%");

                    $('#nextStep').attr('disabled', false);
                    $('#nextStep').removeClass('disabled');

                    $('#wizardProgress').css("width", "66%");
                }

                return false;
            });
        });
    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ngCustomer")
    <script src="~/Scripts/angular-base64-master/angular-base64.js"></script>
    <script src="~/Scripts/angular-base64-master/angular-base64-upload.js"></script>
    <script src="~/Scripts/angular-upload/ng-file-upload.js"></script>
    <script src="~/Scripts/mask.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script type="text/javascript" src="~/Content/int_phone/js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="~/Content/int_phone/js/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pdf/build/pdfmake.js"></script>
    <script type="text/javascript" src="~/Scripts/pdf/html2canvas.js"></script>
    <script type="text/javascript" src="~/Scripts/pdf/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Scripts/otpHelper/jssha_2.0.0/sha.js"></script>
    <script type="text/javascript" src="~/Scripts/otpHelper/totp/totp.js"></script>

    <script type="text/javascript" src="~/Content/alertifyjs/dist/js/alertify.js"></script>
    <script type="text/javascript" src="~/Content/alertifyjs/dist/js/ngAlertify.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-sweetalert/SweetAlert.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert/dist/sweetalert.min.js"></script>
    <!--<script type="text/javascript" src="~/Scripts/CryptoJSv3.1.2/components/hmac-min.js"></script>-->
    @RenderSection("scripts", required: false)
    
</body>

</html>
