﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO-OP eWallet System</title>
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/stylesheets/responsive.css">

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/revolution/css/settings.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/templateFrontend/stylesheets/animate.css">

    <!-- Favicon and touch icons  -->
    <link href="~/Content/templateFrontend/images/icon/coopfavicon.png" rel="shortcut icon">

    <!--Country Code-->
    <link href="~/Content/int_phone/css/intlTelInput.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/templateFrontend/build/css/intlTelInput.css">
    <link rel="stylesheet" href="~/Content/templateFrontend/build/css/demo.css">
    <link rel="stylesheet" href="~/Scripts/angular-growl.css">

    

   
    @Scripts.Render("~/bundles/modernizr")
   
    
 


</head>

<body class="header-sticky" ng-app='CW'>
   
        <div growl></div>
   

    <div class="boxed">
        <div class="loader">
            <span class="loader1 block-loader"></span>
            <span class="loader2 block-loader"></span>
            <span class="loader3 block-loader"></span>
        </div>

        <div class="header-inner-pages" ng-controller="CWNavCheckController">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="flat-information">
                                <li class="phone">
                                    <a href="#" title="Phone number"><i>Call us: +507 933-4499</i></a>
                                </li>
                                <li class="email">
                                    <a href="#" title="Email address"><i>Email: support@cooptavanza.com</i></a>
                                </li>
                            </ul>
                            <div class="style-box ">

                                <ul class="flat-socials v1">
                                    <li class="facebook">
                                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>

                                <div class="question" ng-if="!authenticated">
                                    <div>
                                        <i class="fa fa-question-circle-o"></i>
                                    </div>
                                </div>

                                <div class="question" ng-if="authenticated">
                                    <b>{{customer.firstname}} {{customer.lastname}}</b>
                                </div>

                                <div class="box-text">
                                    <!--Temporarily alter ng-if="authenticated" to ng-if="!authenticated"-->
                                    <li class="dropdown" ng-if="authenticated">
                                        <!--<a class=" dropdown-toggle btn-appoinment" ng-click="logout();" data-toggle="dropdown" href="#"><b>Username</b></a>-->
                                        <a class=" dropdown-toggle btn-appoinment" data-toggle="dropdown" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;<b>Setting</b></a>
                                        <ul id="userProfile-dp" class="dropdown-menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="profile-block">
                                                            <div class="panel text-center">
                                                                <div class="user-heading">
                                                                    <a href="#"><img src="~/Content/templateFrontend/images/icon/userflat.png" alt="" title=""></a>
                                                                    <h1>{{customer.firstname}} {{customer.lastname}}</h1>
                                                                    <p><i><u>{{customer.mobilenumber}}</u></i></p>
                                                                    <p class="emailLayout">{{customer.email}}</p>
                                                                    <p><b>eWallet Balance: {{totalbalance}} {{customer.currency}}</b></p>
                                                                </div>
                                                                <ul class="nav nav-pills nav-stacked">
                                                                    <li class="themeColor"><a href="#"><i class="fa fa-user themeColor"></i>Profile</a></li>
                                                                    <li class="themeColor"><a href="#"><i class="fa fa-usd themeColor" aria-hidden="true"></i>Transaction History</a></li>
                                                                    <li class="themeColor"><a href="#" ng-click="logout();"><i class="fa fa-sign-out themeColor"></i>Logout</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="bottom text-center">
                                                            New here ? <a href="#" ng-click="openRegistration()"><b>Join Us</b></a>
                                                        </div>*@
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" ng-if="!authenticated">
                                        <a class=" dropdown-toggle btn-appoinment" data-toggle="dropdown" href="#"><b>Login</b></a>
                                        <!--<a href="#" class="dropdown-toggle btn-appoinment" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>-->
                                        <ul id="login-dp" class="dropdown-menu">
                                            <li>
                                                <div class="row" ng-controller="CWNavController">
                                                    <div class="col-md-12">
                                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                            <div class="form-group">
                                                                <label class="sr-only" for="exampleInputMobile">Mobile Number</label>
                                                                <input type="tel" name="number" id="phone" class="form-control" id="exampleInputMobile" placeholder="Mobile Number" ng-model="login.mobilenumber" ng-intl-tel-input ng-click="$event.stopPropagation()" required>
                                                            </div>
                                                            <!-- Load jQuery from CDN so can run demo immediately -->
                                                         <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
                                                         <!--   <script src="~/Content/templateFrontend/build/js/intlTelInput.js"></script>-->
                                                         <!--   <script>
                                                                $("#phone").intlTelInput({
                                                                    separateDialCode: true,
                                                                    utilsScript: "build/js/utils.js"
                                                                });
                                                                var intlNumber = $("#phone").intlTelInput("getNumber");
                                                            </script>-->

                                                            <div class="form-group">
                                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="login.password" ng-click="$event.stopPropagation()" required>
                                                                <div class="help-block"><a href="">Can't access your account?</a></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="button" ng-click="$event.stopPropagation();submit()" class="btn btn-danger btn-block">Sign in</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="bottom text-center">
                                                        <!--Call to Destroy script to be used in other modals-->
                                                        <!-- Load jQuery from CDN so can run demo immediately -->
                                                     <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
                                                    
                                                    <!--    <script>
                                                            $("#phone").intlTelInput("destroy");
                                                        </script>
                                                        -->
                                                        New here ? <a href="#" ng-click="openRegistration()"><b>Join Us</b></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <!-- col-md-12 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- Top -->
        </div>
        <!-- header-inner-pages -->
        <!-- Wrap-slide -->
        <div class="wrap-slider" ng-controller="CWNavCheckController" >
            <!-- Header -->
            <header id="header" class="header style-color clearfix">
                <div class="container">
                    <div class="header-wrap clearfix">
                        <div id="logo" class="logo">
                            <a href="index.html" rel="home">
                                <img src="~/Content/templateFrontend/images/cw-logo.png" alt="image">
                            </a>
                        </div>
                        <!-- /.logo -->

                        <div class="nav-wrap">
                            <div class="btn-menu">
                                <span></span>
                            </div>
                            <!-- //mobile menu button -->

                            <!--Temporarily alter ng-if="authenticated" to ng-if="!authenticated"-->
                            <nav id="mainnav" class="mainnav" ng-if="authenticated">
                                <ul class="menu" ng-controller="CWNavAdminController" >
                                  
                                    <li><a href="" ng-click="openEmailMoney()">Send Email Money</a></li>
                                    <li>
                                        <a href="" ng-click="openSendMoney()">Send Money</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="openMiniStatement()">Mini Statement</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="openLoadWallet()">Load In</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="openPayoutWallet()">Payout Wallet</a>
                                    </li>
                                </ul>
                                <!-- /.menu -->
                            </nav>
                            <!-- /.mainnav -->
                        </div>
                        <!-- /.nav-wrap -->
                    </div>
                    <!-- /.header-wrap -->
                </div>
            </header>
            <!-- /.header -->
        </div>
        <!-- /.wrap-slider -->




        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery"
             style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                <ul>
                    <!-- SLIDE  -->
                    <!-- SLIDE 1 -->
                    <li data-index="rs-3047" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/images/bike-100x50.jpg"
                        data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                        data-description="">

                        <!-- MAIN IMAGE -->
                        <img src="~/Content/templateFrontend/images/slides/1.jpg" alt="" data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone"
                             data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                             data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption title-slide" id="slide-3047-layer-1" data-x="['center','center','center','center']" data-hoffset="['-208','-100','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-60']" data-fontsize="['65','65','45','30']"
                             data-lineheight="['65','65','45','35']" data-fontweight="['700','700','700','700']" data-width="none"
                             data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['left','left','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap;text-transform:left;">
                            Top 20 sales <br>Training company
                        </div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption sub-title" id="slide-3047-layer-4" data-x="['center','center','center','center']" data-hoffset="['-220','-120','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['29','29','29','0']" data-fontsize="['16',16','16','14']"
                             data-fontweight="['600','600','600','600']" data-width="660" data-height="none" data-whitespace="nowrap"
                             data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['left','left','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17; white-space: nowrap;text-transform:left;">
                            We serve every size and type company from startups to Fortune 50.
                        </div>

                        <a href="#" target="_self" class="tp-caption flat-button-slider bg-orange" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                           data-x="['center','center','center','center']" data-hoffset="['-453','-353','0','0']" data-y="['middle','middle','middle','middle']"
                           data-voffset="['134','134','134','50']" data-hoffset="-75" data-voffset="83" data-width="['210']"
                           data-height="['55']">
                            OUR COMPANY <i class="fa fa-chevron-right"></i>
                        </a>
                        <!-- END LAYER LINK -->
                    </li>

                    <!-- SLIDE 2 -->
                    <li data-index="rs-3048" data-transition="slideremoveright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/images/fitness-100x50.jpg"
                        data-rotate="0" data-saveperformance="off" data-title="HTML5 Video" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/templateFrontend/images/slides/2.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg"
                             data-no-retina>

                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-vimeoid="82642494" data-videoattributes="background=1&title=0&amp;byline=0&amp;portrait=0&amp;api=1"
                             data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videostartat="00:00"
                             data-videoendat="00:48" data-videoloop="loop" data-forceCover="1" data-aspectratio="4:3" data-autoplay="true"
                             data-autoplayonlyfirsttime="false"></div>


                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption title-slide-style2" id="slide-3047-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-57','-57','-57','-50']" data-fontsize="['50','50','35','20']"
                             data-lineheight="['68','68','40','22']" data-width="none" data-fontweight="700" data-color="#fff"
                             data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap;text-transform:left;">Helping organizations innovate,<br>transform, and lead</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->

        <section class="flat-row padding-v1">
            <div class="flat-our-services v5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="our-services">
                                <div class="title-section">
                                    <h4 class="title">What we offer</h4>
                                </div>
                                <div class="post-services" style="color:#222">
                                    <p>
                                        Our commitment to providing a wide choice of financial options and services at favorable
                                        prices is enhanced by the timeless values of honesty, integrity, respect and professionalism.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flat-icon">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="icon-circle">
                                    <div class="item m25 v5">
                                        <div class="iconbox icon-left icon-center style-v1">
                                            <div class="box">
                                                <div class="box-header v1">
                                                    <i class="icon-rich"></i>
                                                </div>
                                                <div class="icon-post">
                                                    <div class="box-title">
                                                        <h4 class="title">Payment Solutions</h4>
                                                        <div class="box-content">
                                                            <p>
                                                                Co-op Wallet is an innovator and developer of online digital
                                                                payment services. We are revolutionizing the way ecommerce
                                                                is transacted both on and off the Internet Through an online
                                                                link you can access a number of digital currency services.
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconbox icon-left icon-center style-v1">
                                            <div class="box">
                                                <div class="box-header v2">
                                                    <i class="icon-justice"></i>
                                                </div>
                                                <div class="icon-post">
                                                    <div class="box-title">
                                                        <h4 class="title">Money Transfer</h4>
                                                        <div class="box-content">
                                                            <p>
                                                                Coop Wallet system provide multinational companies a gateway
                                                                to Process Card Transaction and pay commissions to their
                                                                members worldwide. An example of this would be a network
                                                                marketing companies which distributes its products to several
                                                                countries and need to Accept Payment and pay commissions
                                                                to its members in those countries.
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconbox icon-left icon-center style-v1">
                                            <div class="box">
                                                <div class="box-header v3">
                                                    <i class="icon-diagram-3"></i>
                                                </div>
                                                <div class="icon-post">
                                                    <div class="box-title">
                                                        <h4 class="title">Card Processing</h4>
                                                        <div class="box-content">
                                                            <p>
                                                                Coop Wallet system provide multinational companies a gateway
                                                                to Process Card Transaction and pay commissions to their
                                                                members worldwide. An example of this would be a network
                                                                marketing companies which distributes its products to several
                                                                countries and need to Accept Payment and pay commissions
                                                                to its members in those countries.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="iconbox icon-left icon-center style-v1">
                                            <div class="box">
                                                <div class="box-header v4">
                                                    <i class="icon-diagram-3"></i>
                                                </div>
                                                <div class="icon-post">
                                                    <div class="box-title">
                                                        <h4 class="title">Prepaid Card</h4>
                                                        <div class="box-content">
                                                            <p>
                                                                Consumers have embraced debit cards as a convenient and secure
                                                                alternative to cash. Prepaid debit cards can withdraw cash
                                                                from an ATM or make purchases (pin-based transactions) from
                                                                any merchant displaying the Visa/Master/Union Pay Card network
                                                                logos. All Cardholders can access their card balance and
                                                                transaction history online It is also possible to have a
                                                                second card issued to a family member or friend in another
                                                                country.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>



        <section class="flat-row no-padding">
            <div class="flat-fun-fact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="iteam-fact v1">
                                <div class="num-fact">
                                    <p>10</p>
                                </div>
                                <div class="text-fact">
                                    <h4 class="title">Global <br>Locations</h4>
                                    <a target="_blank" href="#"
                                       class="comment-reply">Find Our Location<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="iteam-fact v2">
                                <div class="num-fact">
                                    <p>+1k</p>
                                </div>
                                <div class="text-fact">
                                    <h4 class="title">Successful <br>Transactions</h4>
                                    <a href="#" class="comment-reply">View All <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="iteam-fact v3">
                                <div class="num-fact">
                                    <p>07</p>
                                </div>
                                <div class="text-fact">
                                    <h4 class="title">Years of <br>Experience</h4>
                                    <a href="#" class="comment-reply">Learn More <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flat-row portfolio-row-page">
            <!-- Portfolio Fullwidth -->
            <div class="container">
                <div class="portfolio-index1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section style1">
                                <h3 class="title">Our Practice Areas</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="flat-portfolio v1">
                                <ul class="portfolio-filter">
                                    <li class="active v1"><a data-filter="*" href="#">All</a></li>
                                    <li><a data-filter=".travel" href="#">Travel & Aviation</a></li>
                                    <li><a data-filter=".business" href="#">Business Services</a></li>
                                    <li><a data-filter=".consumer" href="#">Consumer Products</a></li>
                                    <li><a data-filter=".financial" href="#">Financial Services</a></li>
                                    <li><a data-filter=".energy" href="#">Energy and Environment</a></li>
                                </ul>
                                <!-- /.project-filter -->

                                <div class="portfolio-wrap clearfix">
                                    <div class="item v1 travel business consumer">
                                        <div class="item-content">
                                            <div class="thumb">
                                                <img src="~/Content/templateFrontend/images/portfolio/home1/1.jpg" alt="image">
                                            </div>
                                            <div class="link-v1">
                                                <h5 class="title">Travel & Aviation</h5>
                                                <p>Leading consumer products companies</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item v1 business travel financial">
                                        <div class="item-content">
                                            <div class="thumb">
                                                <img src="~/Content/templateFrontend/images/portfolio/home1/2.jpg" alt="image">
                                            </div>
                                            <div class="link-v1">
                                                <h5 class="title">Business Services</h5>
                                                <p>Bain helps transportation and logistics companies</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item v1 consumer transport energy">
                                        <div class="item-content">
                                            <div class="thumb">
                                                <img src="~/Content/templateFrontend/images/portfolio/home1/3.jpg" alt="image">
                                            </div>
                                            <div class="link-v1">
                                                <h5 class="title">Financial Services</h5>
                                                <p>Developing a strategy and roadmap for clients</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item v1 financial travel energy">
                                        <div class="item-content">
                                            <div class="thumb">
                                                <img src="~/Content/templateFrontend/images/portfolio/home1/4.jpg" alt="image">
                                            </div>
                                            <div class="link-v1">
                                                <h5 class="title">Transport & Logistics</h5>
                                                <p>Bain helps transportation and logistics companies</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.portfolio-wrap -->
                            </div>
                            <!-- /.flat-portfolio -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.portfolio-index1 -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.flat-row  -->

        <div class="page-title parallax parallax1">
            <div class="overlay"></div>
            <div class="container">
                <div class="flat-talk">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section style1">
                                <p>To help entrepreneurs get their act together</p>
                                <p><span>before they talk </span> to investors.</p>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- flat-talk -->
            </div>
            <!-- container -->
        </div>
        <!-- page-title -->

        <section class="flat-row no-padding">
            <div class="flat-clients">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumb-clients v1">
                                <img src="~/Content/templateFrontend/images/clients/1.png" alt="image">
                            </div>
                            <div class="thumb-clients v2">
                                <img src="~/Content/templateFrontend/images/clients/2.png" alt="image">
                            </div>
                            <div class="thumb-clients v3">
                                <img src="~/Content/templateFrontend/images/clients/3.png" alt="image">
                            </div>
                            <div class="thumb-clients v4">
                                <img src="~/Content/templateFrontend/images/clients/4.png" alt="image">
                            </div>
                            <div class="thumb-clients v5">
                                <img src="~/Content/templateFrontend/images/clients/5.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flat-row">
            <div class="flat-choose-us flat-news v1">
                <div class="flat-silder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="box">
                                    <div class="title-v1">
                                        <h4 class="title">Request Call Back.</h4>
                                        <p>
                                            Would you like to speak to one of our financial advisers over the phone? Just submit
                                            your details and we'll be in touch shortly. You can also email us if you would
                                            prefer.
                                        </p>
                                    </div>
                                    <div class="form-box">
                                        <form action="#" method="post" id="commentform-footer" class="comment-form" novalidate="">
                                            <select name="style cars">
                                                <option value="1" selected="">How can we help?</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>

                                            <fieldset class="style name-container">
                                                <input type="text" id="author-footer" placeholder="You name*" class="tb-my-input" name="author" tabindex="1" value="" size="32"
                                                       aria-required="true">
                                            </fieldset>

                                            <fieldset class="style phone-container">
                                                <input type="text" id="phone-footer" placeholder="You phone number*" class="tb-my-input" name="phone" tabindex="2" value=""
                                                       size="32" aria-required="true">
                                            </fieldset>

                                            <fieldset class="style email-container">
                                                <input type="text" id="email-footer" placeholder="You Email" class="tb-my-input" name="email" tabindex="2" value="" size="32"
                                                       aria-required="true">
                                            </fieldset>

                                            <div class="submit-wrap">
                                                <button class="flat-button button-style">submit <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="company-news v1">
                                    <div class="title-section">
                                        <h4 class="title">Company News</h4>
                                    </div>
                                    <div class="post-us">
                                        <div class="blog-home v1">
                                            <div class="item">
                                                <div class="thumb">
                                                    <img src="~/Content/templateFrontend/images/about/home1/4.jpg" alt="image">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="post-v1">
                                                    <div class="meta-post">
                                                        <a href="#">15 November 2016</a>
                                                    </div>
                                                    <h4 class="title"><a href="#">Hire a Branding Consultant With a Similar Aesthetic to Your Own</a></h4>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="thumb">
                                                    <img src="~/Content/templateFrontend/images/about/home1/5.jpg" alt="image">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="post-v1">
                                                    <div class="meta-post">
                                                        <a href="#">15 November 2016</a>
                                                    </div>
                                                    <h4 class="title"><a href="#">The 6-Step Method for Managing Any Ethical Dilemma</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-list">
                                        <ul class="list-us">
                                            <li class="style-1">
                                                <div class="num-list">
                                                    <p>1</p>
                                                </div>
                                                <div class="text-list">
                                                    <p>Too Much? Too Little? How to Set Fees for Your New Consulting Business</p>
                                                </div>
                                            </li>

                                            <li class="style-2">
                                                <div class="num-list v2">
                                                    <p>2</p>
                                                </div>
                                                <div class="text-list">
                                                    <p>
                                                        30 Questions You Must Ask When Hiring a Social Media Consultant. When
                                                        Outsourcing Social Media Marketing Makes Sense
                                                    </p>
                                                </div>
                                            </li>

                                            <li class="style-3">
                                                <div class="num-list v3">
                                                    <p>3</p>
                                                </div>
                                                <div class="text-list">
                                                    <p>Facebook Wants to Help Make Your App Super Smart </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-logo">
                            <img src="~/Content/templateFrontend/images/cw-logo-footer.png" alt="image">
                            <div class="im-map">
                                <h5 class="title">LOCATION</h5>
                                <p>
                                    Calle Quinta y Manuel Gonzalez, Del Edificio Aitza,Local 1, Santiago Veraguas, Republic of
                                    Panama
                                </p>
                                <div class="map">
                                    <a target="_blank" href="#"><i class="fa fa-map-marker"></i> Go to Google Maps</a>
                                </div>
                            </div>
                        </div>
                        <!-- footer-logo -->
                    </div>
                    <!-- col-md-4 -->

                    <div class="col-md-2">
                        <div class="widget widget-follow-us">
                            <div class="title-link v3">
                                <h5 class="widget-title">Follow Us</h5>
                            </div>
                            <ul class="follow-us">
                                <li class="facebook"><a href="#"> Facebook</a></li>
                                <li class="twiter"><a href="#"> Twiiter</a></li>
                                <li class="google"><a href="#"> Google Plus </a></li>
                                <li class="linkedIn"><a href="#"> LinkedIn</a></li>
                                <li class="youtube"><a href="#"> Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- col-md-2 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Our Services</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="#"> Payment Solutions</a></li>
                                <li class="twitch"><a href="#"> Money Transfer</a></li>
                                <li class="google"><a href="#"> Card Processing</a></li>
                                <li class="linkedIn"><a href="#"> Prepaid Card</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- col-md-3 -->

                    <div class="col-md-3">
                        <div class="widget widget-subscribe-us">
                            <div class="title-link v4">
                                <h5 class="widget-title">Subscribe Us</h5>
                            </div>
                            <p>Sign Up for our mailing list to get latest updates and news.</p>
                            <div class="widget subscribe-search">
                                <form action="#" id="mailform" method="get">
                                    <div>
                                        <input type="text" id="ss" class="ssss" placeholder="Enter your email.">
                                        <button class="submit-button"><i class="fa fa-envelope-open-o"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer -->
        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-bottom">
                            <!--<div class="copyright">
                                <p>Coyright © 2017 LuckyTheme. All rights reserved.</p>
                            </div>-->
                        </div>
                        <!-- /.container-bottom -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- Bottom -->
        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>

  
    </div>
    <img src="~/Content/templateFrontend/images/cw-logo-2.png" width="0" height="0" style="display: none;">
    @RenderBody()




    <!-- Javascript -->
    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/imagesloaded.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/parallax.js"></script>
    <script src="~/Content/templateFrontend/javascript/smoothscroll.js"></script>

    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/owl.carousel.js"></script>
    <!--    <script>
             $("#phone").intlTelInput({
                 separateDialCode: true,
                 utilsScript: "build/js/utils.js"
             });
             var intlNumber = $("#phone").intlTelInput("getNumber");
        </script>
        <script>
             $("#phone").intlTelInput("destroy");
        </script>

        -->

    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery.bxslider.js"></script>


    <!--<script type="text/javascript" src="javascript/jquery.cookie.js"></script>-->
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/main.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/javascript/jquery.tweet.min.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/slider.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/templateFrontend/revolution/js/extensions/revolution.extension.video.min.js"></script>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   

    <!-- Flot -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.flot.min.js'></script>

    <!-- Morris -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/rapheal.min.js'></script>
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/morris.min.js'></script>

    <!-- Colorbox -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.colorbox.min.js'></script>
    <!-- Sparkline -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.sparkline.min.js'></script>

    <!-- Pace -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/uncompressed/pace.js'></script>

    <!-- Popup Overlay -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.slimscroll.min.js'></script>

    <!-- Modernizr -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/modernizr.min.js'></script>

    <!-- Cookie -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.cookie.min.js'></script>

    <!-- Perfect -->
   /<!-- <script type="text/javascript" src="~/Content/templateFrontend/customerAdmin/js/app/app_dashboard.js"></script>-->
    <!--<script type="text/javascript" src="~/Content/templateFrontend/customerAdmin/js/app/app.js"></script>-->
    <!-- Datatable -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.dataTables.min.js'></script>
    <!-- Pace -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/pace.min.js'></script>
    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });

            $('#chk-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', true);
                        $(this).parent().parent().parent().addClass('selected');
                    });
                }
                else {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', false);
                        $(this).parent().parent().parent().removeClass('selected');
                    });
                }
            });
        });
    </script>
    <!-- Chosen -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/chosen.jquery.min.js'></script>
    <!-- Mask-input -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.maskedinput.min.js'></script>
    <!-- Datepicker -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/bootstrap-datepicker.min.js'></script>
    <!-- Timepicker -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/bootstrap-timepicker.min.js'></script>

    <!-- Slider -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/bootstrap-slider.min.js'></script>


    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/jquery.tagsinput.min.js'></script>
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/wysihtml5-0.3.0.min.js'></script>
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/uncompressed/bootstrap-wysihtml5.js'></script>
    <!-- Dropzone -->
    <script type="text/javascript" src='/Content/templateFrontend/customerAdmin/js/dropzone.min.js'></script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script type="text/javascript" src="~/Scripts/angular-growl.js"></script>
    <!--<script type="text/javascript" src="~/Content/templateFrontend/build/js/intlTelInput.js"></script>-->
    <script type="text/javascript" src="~/Content/int_phone/js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="~/Content/int_phone/js/utils.js"></script>
    @Scripts.Render("~/bundles/ngCustomer")
 
    @RenderSection("scripts", required: false)
</body>

</html>
