﻿<style>
    .btnSuccess {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        background: #0f9e05;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .btnSuccess:hover {
        background: #277500;
        text-decoration: none;
        color: #ffffff;
    }

    .backGround {
        width: 100% !important;
        text-align: center;
        color: #495B6C;
        font-size: 15px;
        height: 50px;
        border-top: 1px solid #adadad;
    }

    .backGround:hover {
        background: #b3b3b3;
        text-decoration: none;
        color: #ffffff;
    }
</style>

<!--'SenderFullName': $scope.customer.firstname + " " + $scope.customer.lastname,
                'SenderMobileNumber': $scope.customer.mobileNumber,
                'SenderEmail': $scope.customer.email,
                'ReceiverFullName': $scope.ms.RcvFirstName + " " + $scope.ms.RcvLastName,
                'ReceiverMobileNumber': $scope.ms.mobilenumber,
                'ReceiverEmail': $scope.ms.email,
                'ReceiverCrdNo': $scope.ms.RcvAccntNo,
                'Fees': 5,//TotalFeeAmount
                'ConversionRate': 6.0479,//ConversionRate
                'sentAmount': 3024.31,//SentAmount in RMB
                'AmountInUSD': 500,
                'trackingNo': "54646465464",//ReferenceId
                'TellerFullName':"E-Wallet System Management Team"-->

<div class="modal-header">
    <h3 class="modal-title">China Remit Receipt</h3>
</div>

<div class="modal-body" id="exportthis" style="height:500px !important;">
    
        <div class="col-md-12">
            <div class="col-sm-6"> <img align="left" src="~/Content/templateFrontend/customerAdmin/img/mexLogo.jpg" alt="etransfer" style="width: 170px !important;"></div>
            <div class="col-sm-6"> <img align="right" src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="etransfer" style="width: 170px !important;"></div>
        </div>
    <br />
    <br/>
        <div class="col-md-12" align="right">Date: {{data.date | date:'medium'}}</div>
        <div class="col-sm-12">
          <h5 class="col-sm-6"><strong>Tracking No.: {{data.trackingNo}}</strong></h5>
           <h6 align="right"><strong>Transaction No.: {{data.transactionId}}</strong></h6>
            <div class="panel panel-primary">
                <div class="panel-heading">Sender Information</div>

                <div style="padding-left:20px!important">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>{{data.SenderFullName}}</td>
                        </tr>
                        <tr>
                            <td> Mobile No:</td>
                            <td>{{data.SenderMobileNumber}}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>{{data.SenderEmail}}</td>
                        </tr>
                    </table>
                    </div>
                </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Receiver Information</div>
          
                <div style="padding-left:20px!important">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>{{data.ReceiverFullName}}</td>
                        </tr>
                        <tr>
                            <td>Mobile No:</td>
                            <td>{{data.ReceiverMobileNumber}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{data.ReceiverEmail}}</td>
                        </tr>
                    </table>
                    </div>
                </div>
              
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="">Amount In USD:  {{data.AmountInUSD}}</span>
                            <span class="pull-right"> Amount Sent In RMB <strong> {{data.sentAmount}}</strong></span>
                        </div>
                        <div style="padding-left:20px!important">
                            <div align="center">
                                <table>
                                    <tr>
                                        <td width="60%">
                                            Conversion rate USD 1 = RMB {{data.ConversionRate}}
                                        </td>
                                        <td align="right" width="24%">
                                            Fees $
                                        </td>
                                        <td align="right" width="24%">{{data.Fees}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right">
                                            Total Fees $
                                        </td>
                                        <td align="right">
                                            {{data.Fees}}
                                        </td>
                                    </tr>


                                </table>
                            </div>
                            </div>
                        </div>
            <div>Receipt Generated By E-Wallet System</div>


              
    </div>
    </div>


<div class="modal-footer deletemodal">
    <a href="javascript:void(0);" ng-click="download()" class="btn btn-danger">
        <i class="fa fa-download"></i> Download Receipt
    </a>
    <a href="javascript:void(0);" class="btn btn-default" ng-click="close()"><i class="fa fa-times"></i> Close</a>
</div>

