﻿@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<div ng-controller="CWHomeController">
    <!--Layout Content - Header and Side Nav -->
    <div ng-show="customer != null">
        <div id="overlay" class="transparent"></div>
        <a href="" id="theme-setting-icon" class=""><i class="fa fa-cog fa-lg"></i></a>
        <div id="theme-setting">
            <div class="title">
                <strong class="no-margin">Skin Color</strong>
            </div>
            <div class="theme-box">
                @*<a class="theme-color" style="background:#323447" id="default"></a>*@
                <a class="theme-color" style="background:#efefef" ng-click="theme('skin-1')" id="skin-1"></a>
                <a class="theme-color" style="background:#a93922" ng-click="theme('skin-2')" id="skin-2"></a>
                @*<a class="theme-color" style="background:#3e6b96" id="skin-3"></a>*@
                <a class="theme-color" style="background:#635247" ng-click="theme('skin-4')" id="skin-4"></a>
                <a class="theme-color" style="background:#3a3a3a" ng-click="theme('skin-5')" id="skin-5"></a>
                <a class="theme-color" style="background:#495B6C" ng-click="theme('skin-6')" id="skin-6"></a>
            </div>
            <div class="title">
                <strong class="no-margin">Sidebar Menu</strong>
            </div>
            <div class="theme-box">
                <label class="label-checkbox">
                    <input type="checkbox" checked id="fixedSidebar">
                    <span class="custom-checkbox"></span>
                    Fixed Sidebar
                </label>
            </div>
        </div>
        <!-- /theme-setting -->
        <div id="wrapper" class="preload">
           
            <div id="top-nav" class="skin-6 fixed">
                <div class="brand skin-6 fixed">
                    <div class="logoPosition skin-6 fixed">
                        <a href="#" class="brand skin-6 fixed">
                            <img src="~/Content/templateFrontend/customerAdmin/img/cw-logo.png" alt="User Avatar">
                        </a>
                        <!-- /brand -->
                    </div>
                </div><!-- /brand -->
                <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
                    <br/>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav-notification clearfix">
                    <li class="flagAlign">
                        <img class="pos" src="~/Content/templateFrontend/customerAdmin/img/usicon.png" alt="User Avatar">
                        <img class="pos" src="~/Content/templateFrontend/customerAdmin/img/ukicon.png" alt="User Avatar">
                        <img class="pos" src="~/Content/templateFrontend/customerAdmin/img/franceicon.png" alt="User Avatar">
                    </li>
                    <li class="profile dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <strong>{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</strong>
                            <span><i class="fa fa-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="clearfix" href="">
                                    <img data-ng-src="{{customer.ImageProfile.path}}" ng-if="customer.ImageProfile.path !== null" />
                                    <img src="~/Content/templateFrontend/images/icon/userflat2.png" alt="User Avatar" ng-if="customer.ImageProfile.path === null">
                                    @*<img src="~/Content/templateFrontend/customerAdmin/img/user5.jpg" alt="User Avatar">*@
                                    <div class="detail">
                                        <strong>{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</strong>
                                        <p class="grey">{{customer.email}}</p>
                                        <p class="grey"><strong>{{totalbalance}} {{customer.currency}}</strong></p>
                                    </div>
                                </a>
                            </li>
                            <li><a tabindex="-1" href="" ui-sref="openProfile" class="main-link"><i class="fa fa-edit fa-lg"></i> Edit profile</a></li>
                            <li><a tabindex="-1" ui-sref="openProfile" class="main-link" style="display:none !important;"><i class="fa fa-picture-o fa-lg"></i> Photo Gallery</a></li>
                            <li><a tabindex="-1" href="" class="theme-setting" style="display:none !important;"><i class="fa fa-cog fa-lg"></i> Setting</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="main-link logoutConfirm_open" href="" ng-click="logout()"><i class="fa fa-lock fa-lg"></i> Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <div growl class="pull-right"></div>
            </div>



            <!-- /top-nav-->
            <aside class="fixed skin-6">
                <div class="sidebar-inner scrollable-sidebar">
                    <div class="size-toggle">
                        <a class="btn btn-sm" id="sizeToggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="btn btn-sm pull-right logoutConfirm_open" href="" ng-click="logout()">
                            <!--<i class="fa fa-power-off"></i>-->
                        </a>
                    </div>
                    <!-- /size-toggle -->
                    <div class="user-block clearfix">
                        <img data-ng-src="{{customer.ImageProfile.path}}" ng-if="customer.ImageProfile.path !== null" />
                        <img src="~/Content/templateFrontend/images/icon/userflat2.png" alt="User Avatar" ng-if="customer.ImageProfile.path === null">
                       <!-- <img src="~/Content/templateFrontend/customerAdmin/img/user5.jpg" alt="User Avatar">-->
                        <div class="detail">
                            <strong>{{customer.firstname | capitalize}} {{customer.lastname | capitalize}}</strong>
                            <ul class="list-inline">
                                <li class="active"><a href="" ui-sref="openProfile">Profile</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /user-block -->
                    <div class="main-menu">
                        <ul>
                            <li ui-sref-active="active">
                                <a href="" ui-sref="dashboard">
                                    <span class="menu-icon">
                                        <i class="fa fa-desktop fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Dashboard
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                           

                            <li ui-sref-active="active">
                                <a href="" ui-sref="openMiniStatement">
                                    <span class="menu-icon">
                                        <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">
                                        Mini Statement
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>

                            </li>
                            <li ui-sref-active="active">
                                <a href="" ui-sref="ach">
                                    <span class="menu-icon">
                                        <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                                    </span>
                                    <span class="submenu-label">Bank Deposit</span>
                                 </a>
                            </li>
                            <li ui-sref-active="active">
                                <a href="" ui-sref="etransfer">
                                    @*<span class="menu-icon">
                                        <i class="fa fa-credit-card"></i>
                                    </span>*@
                                    <img src="~/Content/templateFrontend/customerAdmin/img/etransfer.png" alt="etransfer" style="width: 21px !important;">
                                    <span class="text">
                                        eTransfer
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                            
                            <li ui-sref-active="active">
                                <a href="" ui-sref="moneyTransfer">
                                    <span class="menu-icon">
                                       <!-- <img src="~/Content/images/moneytransferlogo.png" alt="etransfer" style="width: 21px !important;">-->
                                        <i class="fa fa-exchange" aria-hidden="true"></i><i class="fa fa-money" aria-hidden="true"></i>
                                    </span>
                                   <span class="text">
                                        Money Transfer
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                           <li ui-sref-active="active" >
                                <a href="" ui-sref="openMoneySwap"><!--href="" ui-sref="openMoneySwap"-->
                                    <span class="menu-icon">
                                        <i class="fa fa-exchange" aria-hidden="true"></i><i class="fa fa-money" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">
                                        China Remit
                                    </span>
                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                            <li class="openable">
                                <a href="">
                                    <span class="menu-icon">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-money fa-lg" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">
                                        Account Funding
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    @*<li ui-sref-active="active"><a ui-sref="etransfer"><span class="submenu-label"> <img src="~/Content/templateFrontend/customerAdmin/img/etransfer.png" alt="etransfer" style="width: 21px !important;">E-Transfer</span></a></li>*@
                                    <li ui-sref-active="active"><a ui-sref="check21"><span class="submenu-label">Check 21</span></a></li>
                                    <li ui-sref-active="active"><a ui-sref="creditcard"><span class="submenu-label">Credit Card</span></a></li>
                                    <li ui-sref-active="active"><a ui-sref="eft"><span class="submenu-label">EFT</span></a></li>
                                    <li ui-sref-active="active"><a ui-sref="cashlocation"><span class="submenu-label">Cash Location</span></a></li>
                                    <li ui-sref-active="active"><a ui-sref="coopmember"><span class="submenu-label">Coop Member</span></a></li>
                                </ul>
                            </li>
                            <li class="openable">
                                <a href="">
                                    <span class="menu-icon">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-money fa-lg" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">
                                        Cash Out
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>
                                <ul class="submenu">
                                    <li ui-sref-active="active"><a ui-sref="wiretransfer"><span class="submenu-label">Wire Transfer</span></a></li>
                                    <li ui-sref-active="active"><a ui-sref="otc"><span class="submenu-label">OCT</span></a></li>
                                    <li ui-sref-active="active" style="display:none !important;"><a ui-sref="unionpaycard"><span class="submenu-label">Union Pay Card</span></a></li>
                                  <!--  <li ui-sref-active="active"><a ui-sref="atm"><span class="submenu-label">ATM</span></a></li>-->
                                    <li ui-sref-active="active"><a ui-sref="propertycard"><span class="submenu-label">Property Card</span></a></li>
                                    <!--<li ui-sref-active="active"><a ui-sref="cooprl"><span class="submenu-label">Cooptavanza RL</span></a></li>-->
                                </ul>
                            </li>
                            <li ui-sref-active="active">
                                <a href="" ui-sref="billpayment">
                                    <span class="menu-icon">
                                        <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">
                                        Bill Payment
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>
                            </li>

                            <li ui-sref-active="active">
                                <a href="" ui-sref="topupairtime">
                                    <span class="menu-icon">
                                        <i class="fa fa-mobile fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Topup Airtime
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>
                            </li>

                            <li ui-sref-active="active" style="display:none !important;">
                                <a href="" ui-sref="eCurrency">
                                    <span class="menu-icon">
                                        <i class="fa fa-usd fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        eCurrency
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>
                            </li>
                            @*<li ui-sref-active="active">
                                <a href="" ui-sref="eCurrency">
                                    <span class="menu-icon">
                                        <i class="fa fa-exchange fa-lg"></i>
                                    </span>
                                    <span class="text">
                                        Wire Transfer
                                    </span>

                                    <span class="menu-hover"></span>
                                </a>
                            </li>*@
                           
                        </ul>
                    </div>
                    <!-- /main-menu -->
                </div>
                <!-- /sidebar-inner -->
            </aside>
            <div id="main-container">
                
                <div ui-view>

                </div>
            </div>
            <!-- /main-container -->
            <!-- Footer -->
            <footer>
                <div   class="col-sm-8">
                    <ul class="group">
                        <li>
                            <a href="#" ui-sref="terms">Terms</a>&nbsp;&nbsp;
                            <a href="#" ui-sref="privacy">Privacy</a>&nbsp;
                        </li>
                    </ul>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="no-margin">
                            &copy; 2017 <strong>COOP eWALLET</strong>. ALL Rights Reserved.
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row-->
            </footer>

            <!--Modal-->
            <div class="modal fade" id="newFolder">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Create new folder</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="folderName">Folder Name</label>
                                    <input type="text" class="form-control input-sm" id="folderName" placeholder="Folder name here...">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                            <a href="#" class="btn btn-danger btn-sm">Save changes</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>
<!-- /wrapper -->
<a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
