﻿<div class="row">
    <div class="col-xs-12 col-md-12">
        <br />
        <p class="modal-title">Send Email Money</p>
        <hr class="colorgraph">

        <label class="themeColor">Conversion Rate (default amount to convert is 1)</label>
        <br />
        <div class="form-group" name="default">
            <div class="row">
                <div class="col-xs-12 col-md-1">
                    <label class="themeColor">From:</label>
                </div>
                <div class="col-xs-12 col-md-5">
                    <select ng-model="conversionRateFrom" class="form-control themeColor">
                        <option value="">--Select Currencies--</option>
                        <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-1">
                    <label class="themeColor"> To:</label>
                </div>
                <div class="col-xs-12 col-md-5">
                    <select ng-model="conversionRateTo" class="form-control themeColor" ng-change="convertCurrency(conversionRateFrom,conversionRateTo)">
                        <option value="">--Select Currencies--</option>
                        <option ng-repeat="(key,values) in availableCurrencies">{{key}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4"></div>
                <div class="col-xs-12 col-md-7">
                    <label ng-repeat="(key,values) in currencyValue">&nbsp; Value = {{threeDecimal(values)}}</label>
                </div>
                <div class="col-xs-12 col-md-1"></div>
            </div>

        </div>
        <label class="themeColor">Wallet Balance & Conversion Rate</label>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <input type="number" class="form-control themeColor" value="1" disabled />
                    </td>
                    <td>
                        <label class="themeColor">&nbsp;{{emailMoneyData.currency}}&nbsp;</label>
                    </td>
                    <td>
                        <input type="number" class="form-control themeColor" value="{{getConvertedBalance}}" disabled />
                    </td>
                    <td>
                        <label class="themeColor">&nbsp;{{currencyName}}&nbsp;</label>
                    </td>
                </tr>
            </table>
        </div>
        <label class="themeColor">Sending currency</label>
        <select ng-model="setCurrencyForConversion" class="form-control themeColor" ng-change="setCurrency()">
            <!--ng-options="items as item.iso for item in currencyData track by item.id"
            ng-change="setConversionData(item.id)"-->
            <option value="">--Currency--</option>
            <option ng-repeat="readData in currencyData" value="{{readData.id}}">{{readData.iso}} &nbsp; ({{readData.name}})</option>
        </select>
        <div>
            <label class="themeColor">Beneficiary Email id</label>
            <input type="text" class="form-control themeColor" placeholder="Benificiary Email Id" ng-model="emailMoneyData.BenificiaryEmailId" />
        </div>
        <div>
            <label class="themeColor">Beneficiary Name</label>
            <input type="text" class="form-control themeColor" placeholder="Benificiary Name" ng-model="emailMoneyData.BenificiaryName" />
        </div>
        <div>
            <label class="themeColor">Security Question & Answer</label>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="text" class="form-control themeColor" placeholder="Question" ng-model="emailMoneyData.Question" />
                        </td>
                        <td>
                            <label class="themeColor">&nbsp;&&nbsp;</label>
                        </td>
                        <td>
                            <input type="text" class="form-control themeColor" placeholder="Answer" ng-model="emailMoneyData.Answer" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <label class="themeColor">Send Amount & Beneficiaries Amount</label>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="text" class="form-control themeColor" placeholder="Amount" ng-model="benificiaryAmount" ng-change="setCurrencyForBenificiary()" />
                        </td>
                        <td>
                            <label class="themeColor">&nbsp;{{emailMoneyData.currency}}&nbsp;</label>
                        </td>
                        <td>
                            <input type="text" class="form-control themeColor" value="{{getConvertedForBenificiary}}" disabled />
                        </td>
                        <td>
                            <label class="themeColor">&nbsp;{{currencyName}}&nbsp;</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-md-3"></div>
            <div class="col-xs-12 col-md-9">
                <div class="btn-toolbar">
                    <button type="button" class="btn-flat btn-flat-outlined btn-flat-theme" ng-click="emailMoneyClose()">Close</button>
                    <button type="button" class="btn-flat btn-flat-color btn-flat-theme" ng-click="submitForm()">Submit</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
</div>